{# Include the modal base html template #}
{% extends "layouts/modal.html" %}

{# Set some variables #}
{% set modal_size = 'modal-xl' %}
{% set modal_type = 'button' %}
{% set modal_form_add_action  = url_for('api:button_add') %}
{% set modal_form_edit_action = url_for('api:button_update',button='_id_') %}
{% set modal_reload_url = url_for('page', page='buttons') %}

{% block modal_title %}<i class="fas fa-thumbtack mr-2" ></i>{{ _('Button settings') }}{% endblock %}
{% block modal_body %}
<input type="hidden" name="id" id="button_id" value="" disabled="disabled">
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="form-group">
      <label for="button_hardware">{{ _('Hardware') }}</label>
      <div class="select2-primary">
        <select class="select2" id="button_hardware" name="hardware" required="required" data-placeholder="{{ _('Select hardware') }}" style="width: 100%">
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="button_address">{{ _('Address') }}</label>
      <input type="text" class="form-control" id="button_address" name="address" required="required" placeholder="{{ _('Enter address') }}">
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-8 col-lg-3">
    <div class="form-group">
      <label for="button_name">{{ _('Naam') }}</label>
      <input type="text" class="form-control" id="button_name" name="name" required="required" placeholder="{{ _('Enter name') }}">
    </div>
  </div>
  <div class="col-2 col-sm-2 col-md-4 col-lg-2">
    <div class="form-group">
      <label for="button_current">{{ _('Current') }}</label>
      <input type="text" readonly="readonly" class="form-control" id="button_current" name="value" placeholder="{{ _('Current value') }}">
    </div>
  </div>
</div>

<div class="row button_callibration" style="display:block">
  <a data-toggle="collapse" href="#button_callibration" role="button" aria-expanded="false" aria-controls="button_callibration"><hr class="hr-text" data-content="{{ _('calibration') }}"></a>
  <div class="col">
    <div class="collapse row pt-3" id="button_callibration">
      <div class="col-6 col-sm-6 col-md-6 col-lg-2">
        <div class="form-group">
          <label for="ldr_capacitor">{{ _('Capacitor value in &micro;F') }}</label>
          <input type="number" step="1" min="1" max="100" class="form-control" id="ldr_capacitor" name="ldr_capacitor" placeholder="{{ _('Capacitor value in &micro;F') }}" value="1" disabled=""disabled>
          <div class="invalid-feedback">
            {{ _('Please enter a number value between 1 and 100') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal_form_javascript_functions %}
{% endblock %}

{% block modal_form_javascript_pre %}
{{modal_type}}_form.find('select#button_hardware').on('change',function() {
    jQuery('.button_callibration').toggle('ldr' == this.value);
    jQuery('#ldr_capacitor').prop('disabled','ldr' != this.value);
});
{% endblock %}

{% block modal_form_javascript_load %}
jQuery.get('{{ url_for("api:button_hardware") }}', function(data) {
    let button_hardware_select = {{modal_type}}_form.find('select#button_hardware');
    button_hardware_select.attr('readonly', false);
    button_hardware_select.find('option').remove();

    jQuery.each(data.data,function(counter,item){
        button_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
    });

    button_hardware_select.trigger('change');
    
    // Check if we are in edit mode.... and need to load more data....
    if ('#' != jQuery(event.relatedTarget).attr('href')) {
      // Load the button data
      let url = jQuery(event.relatedTarget).attr('href');

      jQuery.get(url, function(data){
        // Enable the hidden id field
        {{modal_type}}_form.find('input[name="id"]').prop('disabled',false)
        // Change the form url to an PUT (update)
        {{modal_type}}_form.attr({'method' : 'PUT', 'action' : url});
        // Make hardware type readonly
        button_hardware_select.attr('readonly', true);

        // Load the button values in the form
        jQuery.each(data,function(key,value) {
          if ('calibration' == key && value != null) {
            for (const [ calibration_key, calibration_value ] of Object.entries(value)) {
              let field = {{modal_type}}_form.find('[name="' + calibration_key + '"]');
              field.val(calibration_value).trigger('change');
            }
          }

          let field = {{modal_type}}_form.find('[name="' + key + '"]');
          if (field.attr('type') == 'checkbox') {
            field.prop('checked',(1 != value)).trigger('change');
            field.prop('checked',(1 == value)).trigger('change');
          } else {
            if ('doors' == key) {
              // Create a new array from the doors array with only the door ids
              value = Array.from(value, door => door.id);
            }
            field.val(value).trigger('change');
          }
        });
        {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
      });
    } else {
      {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
    }
  });
{% endblock %}

{% block modal_form_javascript_pre_submit_formdata %}
if ('ldr' == form_data['hardware']) {
  // Set the calibration JSON
  form_data['calibration'] = {}
  try {
    form_data['calibration']['ldr_capacitor'] = form_data['ldr_capacitor'];
    delete(form_data['ldr_capacitor']);
  } catch (error) { }
}
{% endblock %}
