{# Include the modal base html template #}
{% extends "layouts/modal.html" %}

{# Set some variables #}
{% set modal_size = 'modal-xl' %}
{% set modal_type = 'enclosure' %}
{% set modal_form_add_action  = url_for('api:enclosure_add') %}
{% set modal_form_edit_action = url_for('api:enclosure_update',enclosure='_id_') %}
{% set modal_reload_url = url_for('page', page='enclosures') %}

{% block modal_title %}<i class="fas fa-globe mr-2" ></i>{{ _('Enclosure settings') }}{% endblock %}
{% block modal_body %}
<input type="hidden" name="id" id="enclosure_id" value="" disabled="disabled">
<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
    <div class="form-group">
      <label for="enclosure_name">{{ _('Name') }}</label>
      <input type="text" class="form-control" id="enclosure_name" name="name" required="required" placeholder="{{ _('Enter a name') }}">
      <small class="text-muted">
        {{ _('Enter a name for this enclosure.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('Please enter a name of at least 1 character.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6">
    <div class="form-group">
      <label for="image">{{ _('Image') }}</label>
      <div class="custom-file">
        <input type="hidden" name="image" id="image" value="">
        <input type="file" id="image_upload">
        <label class="custom-file-label" for="image_upload">{{ _('Choose a file') }}</label>
      </div>
      <small class="text-muted">
        {{ _('Select an image file to use on the dashboard page.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('Please select a filename with the extension of .jpg, .png, .gif.') }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-10 col-lg-9">
    <div class="form-group">
      <label for="enclosure_description">{{ _('Description') }}</label>
      <textarea class="form-control" id="enclosure_description" name="description" placeholder="{{ _('Enter a description') }}">
      </textarea>
      <small class="text-muted">
        {{ _('Enter some information about this enclosure.') }}
      </small>
    </div>
  </div>
  <div class="col-12 col-sm-2 col-md-2 col-lg-3">
    <div class="row">
      <div class="form-group col">
        <label for="enclosure_doors">{{ _('Doors') }}</label>
        <div class="select2-primary">
          <select class="select2" id="enclosure_doors" name="doors" size="5" multiple="multiple" data-placeholder="{{ _('Select available doors') }}" style="width: 100%; height: 100%">
          </select>
        </div>
        <small class="text-muted">
          {{ _('Select the doors that are used with this enclosure.') }}
        </small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="enclosure_doors">{{ _('Webcams') }}</label>
        <div class="select2-primary">
          <select class="select2" id="enclosure_webcams" name="webcams" size="5" multiple="multiple" data-placeholder="{{ _('Select available webcams') }}" style="width: 100%; height: 100%">
          </select>
        </div>
        <small class="text-muted">
          {{ _('Select the webcams that are used with this enclosure. You can use html colors and fonts and images.') }}
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal_form_javascript_functions %}
{% endblock %}

{% block modal_form_javascript_pre %}
// On modal close
{{modal_type}}_modal.on('hidden.bs.modal', function(){
  {{modal_type}}_modal.find('textarea#enclosure_description').val('');
  {{modal_type}}_modal.find('textarea#enclosure_description').summernote('reset');
  {{modal_type}}_modal.find('textarea#enclosure_description').summernote('destroy');
});
{% endblock %}

{% block modal_form_javascript_load %}
jQuery.when(
  jQuery.get('{{ url_for("api:button_list") }}'),
  jQuery.get('{{ url_for("api:webcam_list") }}'),
).done(function(buttons, webcams) {
  let {{modal_type}}_door_select = {{modal_type}}_form.find('select#enclosure_doors');
  {{modal_type}}_door_select.prop('disabled', false).find('option').remove();

  jQuery.each(buttons[0].data,function(counter,item){
    {{modal_type}}_door_select.append(jQuery('<option>').attr('value',item.id).text(item.name));
  });

  let {{modal_type}}_webcam_select = {{modal_type}}_form.find('select#enclosure_webcams');
  {{modal_type}}_webcam_select.prop('disabled', false).find('option').remove();

  jQuery.each(webcams[0].data,function(counter,item){
    {{modal_type}}_webcam_select.append(jQuery('<option>').attr('value',item.id).text(item.name));
  });

  // Check if we are in edit mode.... and need to load more data....
  if ('#' != jQuery(event.relatedTarget).attr('href')) {
    // Load the button data
    let url = jQuery(event.relatedTarget).attr('href');

    jQuery.get(url, function(data){
      // Enable the hidden id field
      {{modal_type}}_form.find('input[name="id"]').prop('disabled',false)
      // Change the form url to an PUT (update)
      {{modal_type}}_form.attr({'method' : 'PUT', 'action' : url});

      // Load the button values in the form
      jQuery.each(data,function(key,value) {
        let field = {{modal_type}}_form.find('[name="' + key + '"]');
        if (field.attr('type') == 'checkbox') {
          field.prop('checked',(1 != value)).trigger('change');
          field.prop('checked',(1 == value)).trigger('change');
        } else {
          if ('doors' == key) {
            // Create a new array from the doors array with only the door ids
            value = Array.from(value, door => door.id);
          } else if ('webcams' == key) {
            // Create a new array from the doors array with only the door ids
            value = Array.from(value, webcam => webcam.id);
          }
          field.val(value).trigger('change');
        }
      });
      {{modal_type}}_modal.find('textarea#enclosure_description').summernote({
        dialogsInBody: true,
        height: 200
      });
      {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
    });
  } else {
    {{modal_type}}_modal.find('textarea#enclosure_description').summernote({
      dialogsInBody: true,
      height: 200
    });
    {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
  }
});
{% endblock %}

{% block modal_form_javascript_pre_submit %}
  if (this.elements['image_upload'].files.length >= 1) {
    // Upload a new profile image
    let form_data = new FormData();
    jQuery.each(this.elements['image_upload'].files,function(index,file){
      form_data.append('file', file);
    });

    jQuery.ajax({
      url: '{{ url_for('file_upload', root='media') }}',
      type: "POST",
      data: form_data,
      processData: false,
      contentType: false,
      async: false,
      success: function (result) {
        {{modal_type}}_modal.find('input[name="image"]').val(result.file);
        toastr.success('{{ _('Profile image is uploaded.')}}', '{{ _('Upload ok')}}');
      },
      error: function (error) {
        error = error.responseJSON;
        toastr.error(error.message , '{{ _('Upload error')}}');
      }
    });
  }
{% endblock %}