{# Include the modal base html template #}
{% extends "layouts/modal.html" %}

{# Set some variables #}
{% set modal_size = 'modal-xl' %}
{% set modal_type = 'sensor' %}
{% set modal_form_add_action  = url_for('api:sensor_add') %}
{% set modal_form_edit_action = url_for('api:sensor_update',sensor='_id_') %}
{% set modal_reload_url = url_for('page', page='sensors') %}

{% block modal_title %}<i class="fas fa-tint mr-2" ></i>{{ _('Sensor settings') }}{% endblock %}
{% block modal_body %}
<input type="hidden" name="id" id="sensor_id" value="" disabled="disabled">
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-2">
    <div class="form-group">
      <label for="sensor_hardware">{{ _('Hardware') }}</label>
      <div class="select2-primary">
        <select class="select2" id="sensor_hardware" name="hardware" required="required" data-placeholder="{{ _('Select hardware') }}" style="width: 100%;">
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-2">
    <div class="form-group">
      <label for="sensor_type">{{ _('Type') }}</label>
      <div class="select2-primary">
        <select class="select2" id="sensor_type" name="type" required="required" disabled="disabled" data-placeholder="{{ _('Select type') }}" style="width: 100%;">
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-3">
    <div class="form-group">
      <label for="sensor_address">{{ _('Address') }}</label>
      <input type="text" class="form-control" id="sensor_address" required="required" name="address" placeholder="{{ _('Enter an address') }}">
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-8 col-lg-3">
    <div class="form-group">
      <label for="sensor_name">{{ _('Name') }}</label>
      <input type="text" class="form-control" id="sensor_name" required="required" name="name" placeholder="{{ _('Enter a name') }}">
    </div>
  </div>
  <div class="col-2 col-sm-2 col-md-4 col-lg-2">
    <div class="form-group">
      <label for="sensor_current">{{ _('Current') }}</label>
      <input type="text" readonly="readonly" class="form-control" name="value" id="sensor_current" placeholder="{{ _('Current value') }}">
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-6 col-sm-6 col-md-6 col-lg-2">
    <div class="form-group">
      <label for="sensor_alarm_min">{{ _('Alarm min') }}</label>
      <input type="number" step="0.001" class="form-control" id="sensor_alarm_min" name="alarm_min" required="required" placeholder="{{ _('Alarm min') }}">
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-2">
    <div class="form-group">
      <label for="sensor_alarm_max">{{ _('Alarm max') }}</label>
      <input type="number" step="0.001" class="form-control" id="sensor_alarm_max" name="alarm_max" required="required" placeholder="{{ _('Alarm max') }}">
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-2">
    <div class="form-group">
      <label for="sensor_limit_min">{{ _('Limit min') }}</label>
      <input type="number" step="0.001" class="form-control" id="sensor_limit_min" name="limit_min" required="required" placeholder="{{ _('Limit min') }}">
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-2">
    <div class="form-group">
      <label for="sensor_limit_max">{{ _('Limit max') }}</label>
      <input type="number" step="0.001" class="form-control" id="sensor_limit_max" name="limit_max" required="required" placeholder="{{ _('Limit max') }}">
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-2">
    <div class="form-group">
      <label for="sensor_max_diff">{{ _('Max diff') }}</label>
      <input type="number" step="0.001" class="form-control" id="sensor_max_diff" name="max_diff" required="required" placeholder="{{ _('Max difference') }}">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-2">
    <div class="form-group">
      <span class="switch">
        <label for="exclude_avg" class="d-block">{{ _('Excl. avg') }}</label>
        <input type="checkbox" class="switch" id="exclude_avg" name="exclude_avg">
        <label for="exclude_avg" class="mt-1"></label>
      </span>
    </div>
  </div>
</div>
<div class="row sensor_callibration" style="display:block">
  <a data-toggle="collapse" href="#sensor_callibration" role="button" aria-expanded="false" aria-controls="sensor_callibration"><hr class="hr-text" data-content="{{ _('calibration') }}"></a>
  <div class="col">
    <div class="collapse row pt-3" id="sensor_callibration">
      <div class="col-6 col-sm-6 col-md-6 col-lg-2">
        <div class="form-group">
          <label for="sensor_offset">{{ _('Offset') }}</label>
          <input type="number" step="0.001" class="form-control" id="sensor_offset" name="offset" placeholder="{{ _('Offset') }}" value="0.0">
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-6 col-lg-2 chirp">
        <div class="form-group">
          <label for="chirp_min_moist">{{ _('Minimal moist value') }}</label>
          <input type="number" step="1" class="form-control" id="sensor_chirp_min_moist" name="chirp_min_moist" placeholder="{{ _('Minimal moist value') }}" value="160">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-2 chirp">
        <div class="form-group">
          <label for="sensor_chirp_max_moist">{{ _('Maximum moist value') }}</label>
          <input type="number" step="1" class="form-control" id="sensor_chirp_max_moist" name="chirp_max_moist" placeholder="{{ _('Maximum moist value') }}" value="720">
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-6 col-lg-4 ccs811">
        <div class="form-group">
          <label for="ccs811_compensation_sensors">{{ _('Compensation sensors') }}</label>
          <div class="select2-primary">
            <select class="select2" id="ccs811_compensation_sensors" name="ccs811_compensation_sensors" multiple="multiple" data-placeholder="{{ _('Select compensation sensors') }}" style="width: 100%;">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal_form_javascript_functions %}
{% endblock %}

{% block modal_form_javascript_pre %}
let sensor_types = {}
{{modal_type}}_form.find('select#sensor_hardware').on('change', function (event) {
  let data = event.target.value;
  let sensor_type_select     = {{modal_type}}_form.find('select#sensor_type');

  // Remove old sensor types
  sensor_type_select.prop('disabled', false).attr('readonly', false);
  sensor_type_select.find('option').remove();

  // Add the new support sensor types based on selected hardware
  if (data !== undefined) {
    jQuery.each(sensor_types[data].sort(),function(counter,item){
      sensor_type_select.append(jQuery('<option>').attr('value',item).text(window.terrariumPI.units[item]['name']));
    });
    // Update the select2 view and enable the select
    sensor_type_select.trigger('change');
  }

  sensor_form.find('.chirp').hide();
  sensor_form.find('[name^="chirp_"]').prop('disabled',true);

  sensor_form.find('.ccs811').hide();
  sensor_form.find('[name^="ccs811_"]').prop('disabled',true);

  if (data !== undefined) {
    if ('chirp' == data) {
      sensor_form.find('.chirp').show();
      sensor_form.find('[name^="chirp_"]').prop('disabled',false);

    } else if ('css811' == data) {
      sensor_form.find('.ccs811').show();
      sensor_form.find('[name^="ccs811_"]').prop('disabled',false);
    }
  }
});
{% endblock %}

{% block modal_form_javascript_load %}

jQuery.when(

  jQuery.get('{{ url_for("api:sensor_hardware") }}'),
  jQuery.get('{{ url_for("api:sensor_list") }}'),

).done(function(hardware_types, sensors) {

  {{modal_type}}_form.find('.chirp').hide();
  {{modal_type}}_form.find('.ccs811').hide();

  let sensor_type_select     = {{modal_type}}_form.find('select#sensor_type');
  let sensor_hardware_select = {{modal_type}}_form.find('select#sensor_hardware');

  let compensation_sensors_select = {{modal_type}}_form.find('select#ccs811_compensation_sensors');
  compensation_sensors_select.prop('disabled', false).attr('readonly', false);
  compensation_sensors_select.find('option').remove();

  jQuery.each(sensors[0].data,function(counter,item){
    if (['temperature','humidity'].indexOf(item.type) != -1) {
      compensation_sensors_select.append(jQuery('<option>').attr('value',item.id).text(item.name + ' ' + item.value));
    }
  });

  sensor_hardware_select.prop('disabled', false).attr('readonly', false);
  sensor_hardware_select.find('option').remove();

  jQuery.each(hardware_types[0].data,function(counter,item){
    sensor_types[item.hardware] = item.types;
    sensor_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
  });

  sensor_hardware_select.trigger('change');

  // Check if we are in edit mode.... and need to load more data....
  if ('#' != jQuery(event.relatedTarget).attr('href')) {
    // Load the sensor data
    let url = jQuery(event.relatedTarget).attr('href');

    jQuery.get(url, function(data){
      // Enable the hidden id field
      {{modal_type}}_form.find('input[name="id"]').prop('disabled',false)
      // Change the form url to an PUT (update)
      {{modal_type}}_form.attr({'method' : 'PUT', 'action' : url});
      // Make hardware type readonly

      // Load the sensor values in the form
      jQuery.each(data,function(key,value) {
        if ('calibration' == key && value != null) {
          for (const [ calibration_key, calibration_value ] of Object.entries(value)) {
            let field = {{modal_type}}_form.find('[name="' + calibration_key + '"]');
            field.val(calibration_value).trigger('change');
          }
        }

        let field = {{modal_type}}_form.find('[name="' + key + '"]');
        if (field.attr('type') == 'checkbox') {
          field.prop('checked',(1 != value)).trigger('change');
          field.prop('checked',(1 == value)).trigger('change');
        } else {
          field.val(value).trigger('change');
        }
      });

      sensor_hardware_select.attr('readonly', true);
      sensor_type_select.attr('readonly', true);
      {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
    });
  } else {
    {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
  }
});
{% endblock %}

{% block modal_form_javascript_pre_submit_formdata %}
// Set the calibration JSON
form_data['calibration'] = {}
try {
  form_data['calibration']['offset'] = form_data['offset'];
  delete(form_data['offset']);
} catch (error) { }

try {
  form_data['calibration']['chirp_min_moist'] = form_data['chirp_min_moist'];
  delete(form_data['chirp_min_moist']);
} catch (error) { }

try {
  form_data['calibration']['chirp_max_moist'] = form_data['chirp_max_moist'];
  delete(form_data['chirp_max_moist']);
} catch (error) { }

try {
  form_data['calibration']['ccs811_compensation_sensors'] = form_data['ccs811_compensation_sensors'];
  delete(form_data['ccs811_compensation_sensors']);
} catch (error) { }
{% endblock %}