{# Include the modal base html template #}
{% extends "layouts/modal.html" %}

{# Set some variables #}
{% set modal_size = 'modal-xl' %}
{% set modal_type = 'service' %}
{% set modal_form_add_action  = url_for('api:notification_service_add') %}
{% set modal_form_edit_action = url_for('api:notification_service_update',service='_id_') %}
{% set modal_reload_url = url_for('page', page='notifications') %}

{% block modal_title %}<i class="fas fa-thumbtack mr-2" ></i>{{ _('Notification service settings') }}{% endblock %}
{% block modal_body %}
<input type="hidden" name="id" id="service_id" value="" disabled="disabled">
<div class="row">
  <div class="col-12 col-sm-12 col-md-5 col-lg-4">
    <div class="form-group">
      <label for="service_type">{{ _('Type') }}</label>
      <div class="select2-primary">
        <select class="select2" id="service_type" name="type" required="required" data-placeholder="{{ _('Select type') }}" style="width: 100%">
        </select>
      </div>
      <small class="text-muted">
        {{ _('Select the notification service type.') }}
      </small>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-4">
    <div class="form-group">
      <label for="service_name">{{ _('Name') }}</label>
      <input type="text" class="form-control" id="service_name" name="name" required="required" placeholder="{{ _('Enter a name') }}">
      <small class="text-muted">
        {{ _('Enter a name.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The name cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-8 col-lg-2">
    <div class="form-group">
      <label for="message_rate_limit">{{ _('Rate limit') }}</label>
      <input type="number" class="form-control" id="message_rate_limit" name="rate_limit" required="required" placeholder="{{ _('Messages per minute') }}">
      <small class="text-muted">
        {{ _('Maximum number of messages per minute for this service. Use 0 for unlimited.') }}
      </small>
    </div>
  </div>
  <div class="col-10 col-sm-12 col-md-2 col-lg-2 text-center">
    <div class="form-group">
      <div class="switch">
        <label for="enabled" class="d-block">{{ _('Enabled') }}</label>
        <input type="checkbox" class="switch" id="enabled" name="enabled" checked="checked">
        <label for="enabled" class="mt-1"></label>
        <small class="text-muted">
          {{ _('Enable/disable this notification service.') }}
        </small>
      </div>
    </div>
  </div>
</div>
<div class="row display">
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <div class="form-group">
      <label for="hardware">{{ _('Hardware') }}</label>
      <div class="select2-primary">
        <select class="select2" id="hardware" name="hardware" required="required" data-placeholder="{{ _('Select type') }}" style="width: 100%">
        </select>
      </div>
      <small class="text-muted">
        {{ _('Select the hardware type for this display.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('Please select a hardware type.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <div class="form-group">
      <label for="address">{{ _('Address') }}</label>
      <input type="text" class="form-control" id="address" name="address" required="required" placeholder="{{ _('Enter the address') }}">
      <small class="text-muted">
        {{ _('Enter an address.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The address cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-12 col-md-2 col-lg-2">
    <div class="form-group">
      <div class="switch">
        <label for="show_title" class="d-block">{{ _('Show title') }}</label>
        <input type="checkbox" class="switch" id="show_title" name="show_title">
        <label for="show_title" class="mt-1"></label>
      </div>
      <small class="text-muted">
        {{ _('Show a name and version as title on the display.') }}
      </small>
    </div>
  </div>
</div>
<div class="row email">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="receiver">{{ _('Receiver email') }}</label>
      <input type="text" class="form-control" id="receiver" name="receiver" required="required" placeholder="{{ _('Enter an email address') }}">
      <small class="text-muted">
        {{ _('Enter an email address.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The address cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2">
    <div class="form-group">
      <label for="address">{{ _('SMTP Server address') }}</label>
      <input type="text" class="form-control" id="address" name="address" required="required" placeholder="{{ _('Enter the SMTP server address name or ip') }}">
      <small class="text-muted">
        {{ _('Enter the mail server address.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The address cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2">
    <div class="form-group">
      <label for="port">{{ _('SMTP Server port') }}</label>
      <input type="number" class="form-control" id="port" name="port" required="required" value="25" placeholder="{{ _('Enter the SMTP server port number') }}">
      <small class="text-muted">
        {{ _('Enter a port number.') }}<br />
      </small>
      <div class="invalid-feedback">
        {{ _('The port number cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="username">{{ _('SMTP Server username') }}</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="{{ _('Enter the SMTP server username') }}">
      <small class="text-muted">
        {{ _('Enter a username.') }}
      </small>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-2 col-lg-2">
    <div class="form-group">
      <label for="password">{{ _('SMTP Server password') }}</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="{{ _('Enter the SMTP server password') }}">
      <small class="text-muted">
        {{ _('Enter a password.') }}
      </small>
    </div>
  </div>
  <small class="text-muted">
    {{ _('The email notification service will auto detect SSL/TLS connections.') }}
  </small>
</div>
<div class="row pushover">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <div class="form-group">
      <label for="api_token">{{ _('API Token') }}</label>
      <input type="text" class="form-control" id="api_token" name="api_token" required="required" placeholder="{{ _('Enter the Pushover API token') }}">
      <small class="text-muted">
        {{ _('Enter the API Token.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The API token cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <div class="form-group">
      <label for="user_key">{{ _('User key') }}</label>
      <input type="text" class="form-control" id="user_key" name="user_key" required="required" placeholder="{{ _('Enter the Pushover user key') }}">
      <small class="text-muted">
        {{ _('Enter the user key.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The user key cannot be empty.') }}
      </div>
    </div>
  </div>
  <small class="text-muted">
    {{ _('Create your tokens by registering TerrariumPI as an app %s' % ('<a href="https://pushover.net/api" target="_blank" rel="noopener">https://pushover.net/api</a>',)) }}
  </small>
</div>

<!--
<div class="row telegram">
  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="bot_token">{{ _('Bot Token') }}</label>
      <input type="text" class="form-control" id="bot_token" name="bot_token" required="required" >
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="username">{{ _('Username') }}</label>
      <input type="text" class="form-control" id="username" name="username" required="required" >
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="proxy">{{ _('HTTP Proxy') }}</label>
      <input type="text" class="form-control" id="proxy" name="proxy" >
    </div>
  </div>
</div>
-->

<div class="row traffic">
  <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="red">{{ _('Red') }}</label>
      <input type="number" class="form-control" id="red" name="red" placeholder="{{ _('Enter red GPIO pin') }}">
      <small class="text-muted">
        {{ _('Enter GPIO pin for red light.') }}
      </small>
    </div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="yellow">{{ _('Amber') }}</label>
      <input type="number" class="form-control" id="yellow" name="yellow" placeholder="{{ _('Enter amber GPIO pin') }}">
      <small class="text-muted">
        {{ _('Enter GPIO pin for amber light.') }}
      </small>
    </div>
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="green">{{ _('Green') }}</label>
      <input type="number" class="form-control" id="green" name="green" placeholder="{{ _('Enter green GPIO pin') }}">
      <small class="text-muted">
        {{ _('Enter GPIO pin for green light.') }}
      </small>
    </div>
  </div>
</div>



<div class="row buzzer">
  <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    <div class="form-group">
      <label for="red">{{ _('GPIO pin') }}</label>
      <input type="number" class="form-control" id="address" name="address" placeholder="{{ _('Enter GPIO pin') }}">
      <small class="text-muted">
        {{ _('Enter GPIO pin for the buzzer.') }}
      </small>
    </div>
  </div>
</div>

<!--
<div class="row twitter">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="bot_token">{{ _('Customer key') }}</label>
      <input type="text" class="form-control" id="bot_token" name="bot_token" required="required" >
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="username">{{ _('Customer secret') }}</label>
      <input type="text" class="form-control" id="username" name="username" required="required">
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="access_token">{{ _('Access token') }}</label>
      <input type="text" class="form-control" id="access_token" name="access_token" required="required" >
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="access_secret">{{ _('Access token secret') }}</label>
      <input type="text" class="form-control" id="access_secret" name="access_secret" required="required">
    </div>
  </div>
</div> -->

<div class="row webhook">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group">
      <label for="url">{{ _('Full post url') }}</label>
      <input type="text" class="form-control" id="url" name="url" required="required" placeholder="{{ _('Enter the full post url') }}">
      <small class="text-muted">
        {{ _('Enter the full post url.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The address cannot be empty.') }}
      </div>
    </div>
  </div>
</div>
<div class="row mqtt">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="address">{{ _('MQTT Server address') }}</label>
      <input type="text" class="form-control" id="address" name="address" required="required" placeholder="{{ _('Enter the MQTT server address name or ip') }}">
      <small class="text-muted">
        {{ _('Enter an address.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The address cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-2 col-lg-2">
    <div class="form-group">
      <label for="port">{{ _('MQTT Server port') }}</label>
      <input type="number" class="form-control" id="port" name="port" required="required" value="25" placeholder="{{ _('Enter the MQTT server port number') }}">
      <small class="text-muted">
        {{ _('Enter a port number.') }}
      </small>
      <div class="invalid-feedback">
        {{ _('The port number cannot be empty.') }}
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="username">{{ _('MQTT Server username') }}</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="{{ _('Enter the SMTP server username') }}">
      <small class="text-muted">
        {{ _('Enter a username.') }}
      </small>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="password">{{ _('MQTT Server password') }}</label>
      <input type="text" class="form-control" id="password" name="password" placeholder="{{ _('Enter the SMTP server password') }}">
      <small class="text-muted">
        {{ _('Enter a password.') }}
      </small>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-2 col-lg-1">
    <div class="form-group">
      <div class="switch">
        <label for="ssl" class="d-block">{{ _('Use SSL') }}</label>
        <input type="checkbox" class="switch" id="ssl" name="ssl">
        <label for="ssl" class="mt-1"></label>
      </div>
      <small class="text-muted">
        {{ _('Toggle this to enable SSL connection.') }}
      </small>
    </div>
  </div>
</div>
{% endblock %}

{% block modal_form_javascript_functions %}
{% endblock %}

{% block modal_form_javascript_pre %}
{{modal_type}}_form.find('select#service_type').on('change',function() {
  {{modal_type}}_form.find('div.row').not(':first').hide().find('input,select,checkbox').prop('disabled',true);
  if (this.value) {
    {{modal_type}}_form.find('div.row.' + this.value).show().find('input,select,checkbox').prop('disabled',false);
  }
});
{% endblock %}

{% block modal_form_javascript_load %}
{{modal_type}}_form.find('select#service_type').trigger('change');

jQuery.when(

  jQuery.get('{{ url_for("api:notification_service_types") }}'),
  jQuery.get('{{ url_for("api:display_hardware") }}'),

).done(function(services, displays) {
    let service_type = {{modal_type}}_form.find('select#service_type');
    service_type.attr('readonly', false);
    service_type.find('option').remove();

    jQuery.each(services[0].data,function(counter,item){
      service_type.append(jQuery('<option>').attr('value',item.type).text(item.name));
    });

    service_type.trigger('change');

    let display_hardware = {{modal_type}}_form.find('select#hardware');
    display_hardware.attr('readonly', false);
    display_hardware.find('option').remove();

    jQuery.each(displays[0].data,function(counter,item){
      display_hardware.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
    });

    // Check if we are in edit mode.... and need to load more data....
    if ('#' != jQuery(event.relatedTarget).attr('href')) {
      // Load the service data
      let url = jQuery(event.relatedTarget).attr('href');

      jQuery.get(url, function(data){
        // Enable the hidden id field
        {{modal_type}}_form.find('input[name="id"]').prop('disabled',false)
        // Change the form url to an PUT (update)
        {{modal_type}}_form.attr({'method' : 'PUT', 'action' : url});
        // Make hardware type readonly
        service_type.attr('readonly', true);

        // Load the service values in the form

        data = { ...data, ...data.setup };

        jQuery.each(data,function(key,value) {
          let field = {{modal_type}}_form.find('[name="' + key + '"]');
          if (field.attr('type') == 'checkbox') {
            field.prop('checked',(1 != value)).trigger('change');
            field.prop('checked',(1 == value)).trigger('change');
          } else {
            field.val(value).trigger('change');
          }
        });
        {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
      });

    } else {
      {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
    }
  });

{% endblock %}

{% block modal_form_javascript_pre_submit_formdata %}
form_data['setup'] = {};
jQuery.each(Object.keys(form_data),function(counter, key) {
  if (['id','type','name','rate_limit','enabled','setup'].indexOf(key) == -1) {
    form_data['setup'][key] = form_data[key];
    delete(form_data[key]);
  }
});
{% endblock %}
