{# Include the modal base html template #}
{% extends "layouts/modal.html" %}

{# Set some variables #}
{% set more_help = 'https://theyosh.github.io/TerrariumPI/setup/#weather' %}
{% set modal_size = 'modal-xl' %}
{% set modal_type = 'weather' %}
{% set modal_form_add_action  = url_for('api:setting_update', setting='weather_source') %}
{% set modal_form_edit_action = url_for('api:setting_update', setting='weather_source') %}
{% set modal_reload_url = url_for('page', page='weather') %}

{% block modal_title %}<i class="fas fa-cloud-sun mr-2" ></i>{{ _('Weather settings') }}{% endblock %}
{% block modal_body %}
<input type="hidden" name="id" id="setting_name" value="weather_source">
<p>{{ _('In order to use the weather system, you need to create a free account at %s.' ) % ('<a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a>',) }}</p>
<div class="form-group row">
  <label for="weahter_source_url" class="col-sm-2 col-form-label">{{ _('Source url') }}</label>
  <div class="col-sm-10">
    <input type="url" class="form-control" id="weahter_source_url" name="value" placeholder="{{ _('Weather data source url') }}">
    <small class="text-muted">
      {{ _('Enter the full OpenWeatherMap api url like: %s') % ('<a href="https://openweathermap.org/current" target="_blank">https://api.openweathermap.org/data/2.5/weather?q=[City],[Country]&appid=[API_KEY]</a>',) }}
    </small>
    <div class="invalid-feedback">
      {{ _('The entered url is not valid.') }}
    </div>
  </div>
</div>
{% endblock %}

{% block modal_form_javascript_functions %}
{% endblock %}

{% block modal_form_javascript_pre %}
{% endblock %}

{% block modal_form_javascript_load %}
jQuery.get({url: '{{ url_for('api:setting_detail', setting='weather_source') }}', cache: '1' != Cookies.get('no-cache')}).then(function(data) {
  {{modal_type}}_form.attr({'method' : 'PUT', 'action' : '{{ url_for('api:setting_update', setting='weather_source') }}'});
  {{modal_type}}_form.find('[name="value"]').val(data.value);
  {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
});
{% endblock %}

{% block modal_form_javascript_pre_submit_formdata %}
form_data['value'] = {{modal_type}}_form.find('#weahter_source_url').val();
{% endblock %}