{# Include the modal base html template #}
{% extends "layouts/modal.html" %}

{# Set some variables #}
{% set modal_size = 'modal-xl' %}
{% set modal_type = 'webcam' %}
{% set modal_form_add_action  = url_for('api:webcam_add') %}
{% set modal_form_edit_action = url_for('api:webcam_update',webcam='_id_') %}
{% set modal_reload_url = url_for('page', page='webcams') %}

{% block modal_title %}<i class="fas fa-thumbtack mr-2" ></i>{{ _('Webcam settings') }}{% endblock %}
{% block modal_body %}
<input type="hidden" name="id" id="webcam_id" value="" disabled="disabled">
<input type="hidden" name="markers" id="markers" readonly="readonly" value="{}" >
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-7">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-4">
        <div class="form-group">
          <label for="webcam_hardware">{{ _('Hardware') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_hardware" name="hardware" required="required" data-placeholder="{{ _('Select hardware') }}" style="width: 100%;">
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-4">
        <div class="form-group">
          <label for="webcam_address">{{ _('Address') }}</label>
          <input type="text" class="form-control" id="webcam_address" required="required" name="address" placeholder="{{ _('Enter address') }}">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label for="webcam_name">{{ _('Name') }}</label>
          <input type="text" class="form-control" id="webcam_name" required="required" name="name" placeholder="{{ _('Enter name') }}">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="webcam_width" class="d-block">{{ _('Resolution (width x height)') }}</label>
          <div class="d-flex justify-content-between">
            <input type="number" class="form-control col-5 d-inline" id="webcam_width" required="required" name="width" placeholder="{{ _('Enter width') }}">
            <i class="fas fa-times mt-3" ></i>
            <input type="number" class="form-control col-5 d-inline" id="webcam_height" required="required" name="height" placeholder="{{ _('Enter height') }}">
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_rotation">{{ _('Rotation') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_rotation" name="rotation" required="required" data-placeholder="{{ _('Select rotation') }}" style="width: 100%;">
              <option value="0">{{ _('0 degrees') }}</option>
              <option value="90">{{ _('90 degrees') }}</option>
              <option value="180">{{ _('180 degrees') }}</option>
              <option value="270">{{ _('270 degrees') }}</option>
              <option value="H">{{ _('Flip Horizontal') }}</option>
              <option value="V">{{ _('Flip Vertical') }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_awb">{{ _('White balance') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_awb" name="awb" required="required" data-placeholder="{{ _('Select white balance') }}" style="width: 100%;">
              <option value="off">{{ _('off') }}</option>
              <option value="auto">{{ _('auto') }}</option>
              <option value="sunlight">{{ _('sunlight') }}</option>
              <option value="cloudy">{{ _('cloudy') }}</option>
              <option value="shade">{{ _('shade') }}</option>
              <option value="tungsten">{{ _('tungsten') }}</option>
              <option value="fluorescent">{{ _('fluorescent') }}</option>
              <option value="incandescent">{{ _('incandescent') }}</option>
              <option value="flash">{{ _('flash') }}</option>
              <option value="horizon">{{ _('horizon') }}</option>
              <option value="greyworld">{{ _('greyworld') }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_archive">{{ _('Archiving') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_archive" name="archive_state" data-placeholder="{{ _('Select archiving') }}" style="width: 100%;">
              <option value="disabled">{{ _('Disabled') }}</option>
              <option value="motion">{{ _('Motion') }}</option>
              <option value="60">{{ _('1 minute') }}</option>
              <option value="300">{{ _('5 minutes') }}</option>
              <option value="900">{{ _('15 minutes') }}</option>
              <option value="1800">{{ _('30 minutes') }}</option>
              <option value="3600">{{ _('1 hour') }}</option>
              <option value="10800">{{ _('3 hours') }}</option>
              <option value="21600">{{ _('6 hours') }}</option>
              <option value="43200">{{ _('12 hours') }}</option>
              <option value="86400">{{ _('1 day') }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_rotation">{{ _('Archive light state') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_archivelight" name="archive_light" data-placeholder="{{ _('Select archive light state') }}" style="width: 100%;">
              <option value="ignore">{{ _('Ignored') }}</option>
              <option value="on">{{ _('When on') }}</option>
              <option value="off">{{ _('When off') }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_archivedoor">{{ _('Archive door state') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_archivedoor" name="archive_door" data-placeholder="{{ _('Select archive door state') }}" style="width: 100%;">
              <option value="ignore">{{ _('Ignored') }}</option>
              <option value="close">{{ _('Close') }}</option>
              <option value="open">{{ _('Open') }}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_flash">{{ _('Flash') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_flash" name="flash" data-placeholder="{{ _('Select optional relay for flash') }}" style="width: 100%;">

            </select>
          </div>
        </div>
      </div>


    </div>
    <div class="form-group row motion d-none">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_motionboxes" class="text-truncate">{{ _('Show motion boxes') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_motionboxes" name="motion_boxes" data-placeholder="{{ _('Show the motion boxes') }}" style="width: 100%;">
              <option value="-1">{{ _('None') }}</option>
              <option value="red">{{ _('Red') }}</option>
              <option value="green">{{ _('Green') }}</option>
              <option value="blue">{{ _('Blue') }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_motion_threshold" class="text-truncate">{{ _('Motion delta threshold') }}</label>
          <input type="number" value="25" class="form-control" id="webcam_motion_threshold" name="motion_threshold" placeholder="{{ _('Enter number') }}">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_motion_area" class="text-truncate">{{ _('Motion minimum area') }}</label>
          <input type="number" value="500" class="form-control" id="webcam_motion_area" name="motion_area" placeholder="{{ _('Enter number') }}">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="form-group">
          <label for="webcam_motion_frame" class="text-truncate">{{ _('Motion comparison frame') }}</label>
          <div class="select2-primary">
            <select class="select2" id="webcam_motion_frame" name="motion_frame" data-placeholder="{{ _('Select which frame to comparison') }}" style="width: 100%;">
              <option value="last">{{ _('Last frame') }}</option>
              <option value="archived">{{ _('Last archived frame') }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-5">
    <div class="form-group">
      <label for="button_address">{{ _('Preview') }}</label>
      <div class="webcam_player_preview" style="height:100%">
        <img src="/static/assets/img/webcam_offline.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal_form_javascript_functions %}
{% endblock %}

{% block modal_form_javascript_pre %}
{{modal_type}}_form.find('select#webcam_hardware').on('change',function(event) {
  if ('rpicam' == this.value) {
    // Raspberry PI camera defaults
    jQuery('#webcam_address').val('rpicam').prop('readonly',true);
    jQuery('#webcam_width').val(3280);
    jQuery('#webcam_height').val(2464);

  } else if ('rpicam-live' == this.value) {
    // Raspberry PI camera defaults
    jQuery('#webcam_address').val('rpicam_live').prop('readonly',true);
    jQuery('#webcam_width').val(1920);
    jQuery('#webcam_height').val(1080);

  } else {
    jQuery('#webcam_width').val('');
    jQuery('#webcam_height').val('');
    jQuery('#webcam_address').prop('readonly',false);
  }
});

{{modal_type}}_form.find('select#webcam_archive').on('change',function(event) {
  {{modal_type}}_form.find('div.row.motion').toggleClass('d-none','motion' != this.value);
});

let preview_webcam = null;
{{modal_type}}_modal.on('hidden.bs.modal', function(){
  if (preview_webcam !== null) {
    preview_webcam.remove();
    preview_webcam = null;
  }
});
{% endblock %}

{% block modal_form_javascript_load %}
jQuery.when(
  jQuery.get('{{ url_for("api:webcam_hardware") }}'),
  jQuery.get('{{ url_for("api:sensor_list") }}'),
  jQuery.get('{{ url_for("api:relay_list") }}'),
).done(function(hardware, sensors, relays) {
  let webcam_flash = {{modal_type}}_form.find('select#webcam_flash');

  webcam_flash.find('option').remove();
  webcam_flash.append(jQuery('<option>').attr({'value':'None'}).text('None'));
  jQuery.each(relays[0].data,function(counter,item){
    webcam_flash.append(jQuery('<option>').attr({'value':item.id}).text(item.name));
  });


  let marker_sensors = jQuery('select[name="webcam_realtime_sensors_list"]');
  marker_sensors.find('option').remove()
  jQuery.each(sensors[0].data,function(counter,item){
    marker_sensors.append(jQuery('<option>').attr({'value':item.id}).text(item.type + ' ' + item.name + ' ' + (Math.round((item.value + Number.EPSILON) * 1000) / 1000) + ' ' ));
  });

  let webcam_hardware_select = {{modal_type}}_form.find('select#webcam_hardware');
  webcam_hardware_select.attr('readonly', false);
  webcam_hardware_select.find('option').remove();

  jQuery.each(hardware[0].data,function(counter,item){
      webcam_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
  });
  webcam_hardware_select.trigger('change');

  // Check if we are in edit mode.... and need to load more data....
  if ('#' != jQuery(event.relatedTarget).attr('href')) {
    // Load the webcam data
    let url = jQuery(event.relatedTarget).attr('href');

    jQuery.get(url, function(data){
      // Enable the hidden id field
      {{modal_type}}_form.find('input[name="id"]').prop('disabled',false)
      // Change the form url to an PUT (update)
      {{modal_type}}_form.attr({'method' : 'PUT', 'action' : url});
      // Make hardware type readonly
      webcam_hardware_select.attr('readonly', true);

      // Load the webcam values in the form
      jQuery.each(data,function(key,value) {
        let field = {{modal_type}}_form.find('[name="' + key + '"]');
        if (['archive','motion'].indexOf(key) != -1 ) {
          jQuery.each(value,function(key2,value2) {
            field = {{modal_type}}_form.find('[name="' + key + '_' + key2  + '"]');
            field.val(value2).trigger('change');
          });
        } else {
          if (field.attr('type') == 'checkbox') {
            field.prop('checked',(1 != value)).trigger('change');
            field.prop('checked',(1 == value)).trigger('change');
          } else {
            if ('markers' == key) {
              // Create a new array from the doors array with only the door ids
              value = JSON.stringify(value);
              // Array.from(value, door => door.id);
            }
            field.val(value).trigger('change');
          }
        }
      });
      {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
      // Load the webcam in preview mode.....
      {{modal_type}}_form.find('div.webcam_player_preview').attr('id','webcam_player_preview_' + data.id);
      data.edit = true;
      preview_webcam = load_webcam(data);
    });
  } else {
    {{modal_type}}_modal.find('div.loading').removeClass('d-flex').hide();
  }
});
{% endblock %}

{% block modal_form_javascript_pre_submit_formdata %}
let exclude_field_names = ['id','hardware','address','name','width','height','rotation','awb','markers','flash'];
form_data['markers'] = JSON.parse(form_data['markers']);
form_data['flash'] = form_data['flash'].split(',');

jQuery.each(form_data,function(field_name, value) {
  // Exclude fields in array below from parsing
  if (exclude_field_names.indexOf(field_name) == -1) {
    let field_parts = field_name.split('_');
    if (field_parts.length > 1) {
      if (form_data[field_parts[0]] === undefined) {
        form_data[field_parts[0]] = {}
      }
      form_data[field_parts[0]][field_parts.slice(1).join('_')] = value;
    } else {
      form_data[field_name] = value;
    }
    delete(form_data[field_name])
  }
});
{% endblock %}

{% block modal_extra_html %}
<div class="modal fade" tabindex="-1" role="dialog" id="webcam-realtime-data-form">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-tint" ></i> {{ _('Sensors') }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <select class="form-control select2" multiple="multiple" name="webcam_realtime_sensors_list" tabindex="-1" style="width: 100%">
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer d-block">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="button" class="btn btn-primary float-right" data-dismiss="modal" id="add_sensors">{{ _('Confirm') }}</button>
        <button type="button" class="btn btn-danger float-right" data-dismiss="modal" id="del_marker">{{ _('Delete') }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}