<footer class="main-footer p-2 text-sm">
  &copy; 2015 - 2022 <a target="_blank" rel="noopener noreferrer" href="https://theyosh.nl">TheYOSH</a>
  <!-- Credits to the original builders. The least I can do -->
  <small>
    using <a target="_blank" rel="noopener noreferrer" href="https://adminlte.io">AdminLTE</a>
  </small>

  <div class="float-right d-sm-inline-block">
    <small class="badge badge-success opacity-1" title="{{ _('Current activity') }}">&nbsp;&nbsp;</small>
    <small class="badge badge-warning opacity-1" title="{{ _('Warning messages') }}">&nbsp;&nbsp;</small>
    <small class="badge badge-danger  opacity-1" title="{{ _('Error messages') }}">&nbsp;&nbsp;</small>
    <span class="d-none d-sm-inline">&nbsp;&nbsp; {{title}} {{version}} - <small>{{device}} -</span>
      <a href="https://github.com/theyosh/TerrariumPI" target="_blank" title="Download TerrariumPI on Github">Terrarium home automation</a>
    </small>
  </div>
</footer>