<div class="modal fade" tabindex="-1" role="dialog" id="modal-confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>...</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Confirm</button>
      </div>
    </div>
  </div>
</div>


{% include 'modals/area.html' %}

{% include 'modals/enclosure.html' %}


<div class="modal fade" id="modal-button-setup">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form class="form-horizontal needs-validation" action="{{ url_for('button_list') }}" method="post" novalidate>
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-thumbtack" ></i> Button settings</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="sensor_id" value="" disabled="disabled">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="form-group">
                <label for="button_hardware">Hardware</label>
                <div class="select2-primary">
                  <select class="select2" id="button_hardware" name="hardware" required="required" data-placeholder="Select hardware" style="width: 100%;">
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="button_address">Address</label>
                <input type="text" class="form-control" id="button_address" name="address" required="required" placeholder="Enter address">
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-8 col-lg-3">
              <div class="form-group">
                <label for="button_name">Naam</label>
                <input type="text" class="form-control" id="button_name" name="name" required="required" placeholder="Enter name">
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="button_current">Current</label>
                <input type="text" readonly="readonly" class="form-control" id="button_current" name="value" placeholder="Current value">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Save changes
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-relay-setup">
  <div class="modal-dialog modal-xl d-flex justify-content-center">
    <div class="modal-content">
      <div class="overlay d-flex justify-content-center align-items-center loading">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      </div>
      <form class="form-horizontal needs-validation" action="{{ url_for('relay_list') }}" method="post" novalidate>
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-bolt" ></i> Relay settings</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="relay_id" value="" disabled="disabled">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="relay_hardware">Hardware</label>
                <div class="select2-primary">
                  <select class="select2" id="relay_hardware" name="hardware" required="required" data-placeholder="Select hardware" style="width: 100%;">
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
              <div class="form-group">
                <label for="relay_address">Address</label>
                <input type="text" class="form-control" id="relay_address" name="address" required="required" placeholder="Enter address">
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-8 col-lg-3">
              <div class="form-group">
                <label for="relay_name">Naam</label>
                <input type="text" class="form-control" id="relay_name" name="name" required="required" placeholder="Enter name">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-1">
              <div class="form-group">
                <label for="wattage">Wattage</label>
                <input type="number" step="0.01" min=0 class="form-control" id="wattage" name="wattage" required="required" placeholder="Wattage when powered on">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-1">
              <div class="form-group">
                <label for="flow" class="text-nowrap">Water flow</label>
                <input type="number" step="0.01" min=0 class="form-control" id="flow" name="flow" required="required" placeholder="Water flow in liters per minute when powered on">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1">
              <div class="form-group">
                <span class="switch">
                  <label for="manual_mode">Manual m.</label>
                  <input type="checkbox" class="switch" id="manual_mode" name="manual_mode">
                  <label for="manual_mode" class="mt-1"></label>
                </span>
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-4 col-lg-1">
              <div class="form-group">
                <label for="relay_current">Current</label>
                <input type="text" readonly="readonly" class="form-control" name="value" id="relay_current" placeholder="Current value">
              </div>
            </div>
          </div>
          <div class="row dimmer_callibration" style="display:block">
            <a data-toggle="collapse" href="#dimmer_callibration" role="button" aria-expanded="false" aria-controls="dimmer_callibration"><hr class="hr-text" data-content="calibration"></a>
          </div>
          <div class="collapse row pt-3" id="dimmer_callibration">
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="dimmer_frequency">Dimmer frequency in Hz</label>
                <input type="number" step="1" min="100" max="10000" class="form-control" id="dimmer_frequency" name="dimmer_frequency" placeholder="Dimmer frequency in Hz" value="10000">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="dimmer_max_power">Max power in %</label>
                <input type="number" step="1" min="1" max="100" class="form-control" id="dimmer_max_power" name="dimmer_max_power" placeholder="Max power in percentage" value="100">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Save changes
          </button>
        </div>
      </form>
    </div>
  <!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-sensor-setup">
  <div class="modal-dialog modal-xl d-flex justify-content-center">
    <div class="modal-content">
      <div class="overlay d-flex justify-content-center align-items-center loading">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      </div>
      <form class="form-horizontal needs-validation" action="{{ url_for('api:sensor_add') }}" method="post" novalidate>
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-tint" ></i> Sensor settings</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="sensor_id" value="" disabled="disabled">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="sensor_hardware">Hardware</label>
                <div class="select2-primary">
                  <select class="select2" id="sensor_hardware" name="hardware" required="required" data-placeholder="Select hardware" style="width: 100%;">
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="sensor_type">Type</label>
                <div class="select2-primary">
                  <select class="select2" id="sensor_type" name="type" required="required" disabled="disabled" data-placeholder="Select type" style="width: 100%;">
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
              <div class="form-group">
                <label for="sensor_address">Address</label>
                <input type="text" class="form-control" id="sensor_address" required="required" name="address" placeholder="Enter address">
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-8 col-lg-3">
              <div class="form-group">
                <label for="sensor_name">Naam</label>
                <input type="text" class="form-control" id="sensor_name" required="required" name="name" placeholder="Enter name">
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-4 col-lg-2">
              <div class="form-group">
                <label for="sensor_current">Current</label>
                <input type="text" readonly="readonly" class="form-control" name="value" id="sensor_current" placeholder="Current value">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="sensor_alarm_min">Alarm min</label>
                <input type="number"  step="0.01" class="form-control" id="sensor_alarm_min" name="alarm_min" required="required" placeholder="Alarm min">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="sensor_alarm_max">Alarm max</label>
                <input type="number"  step="0.01" class="form-control" id="sensor_alarm_max" name="alarm_max" required="required" placeholder="Alarm max">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="sensor_limit_min">Limit min</label>
                <input type="number" step="0.01" class="form-control" id="sensor_limit_min" name="limit_min" required="required" placeholder="Limit min">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="sensor_limit_max">Limit max</label>
                <input type="number" step="0.01" class="form-control" id="sensor_limit_max" name="limit_max" required="required" placeholder="Limit max">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="sensor_max_diff">Max diff</label>
                <input type="number" step="0.01" class="form-control" id="sensor_max_diff" name="max_diff" required="required" placeholder="Max difference">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2">
              <div class="form-group">
                <span class="switch">
                  <label for="exclude_avg" class="d-block">Excl. avg</label>
                  <input type="checkbox" class="switch" id="exclude_avg" name="exclude_avg">
                  <label for="exclude_avg" class="mt-1"></label>
                </span>
              </div>
            </div>
          </div>
          <div class="row d-block">
            <a data-toggle="collapse" href="#sensor_callibration" role="button" aria-expanded="false" aria-controls="sensor_callibration"><hr class="hr-text" data-content="calibration"></a>
          </div>
          <div class="collapse row pt-3" id="sensor_callibration">
            <div class="col-6 col-sm-6 col-md-6 col-lg-2">
              <div class="form-group">
                <label for="sensor_chirp_min_moist">Offset</label>
                <input type="number" step="0.01" class="form-control" id="sensor_offset" name="offset" placeholder="Offset" value="0.0">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 chirp">
              <div class="form-group">
                <label for="chirp_min_moist">Minimal moist value</label>
                <input type="number" step="1" class="form-control" id="sensor_chirp_min_moist" name="chirp_min_moist" placeholder="Offset" value="160">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 chirp">
              <div class="form-group">
                <label for="sensor_chirp_max_moist">Maximum moist value</label>
                <input type="number" step="1" class="form-control" id="sensor_chirp_max_moist" name="chirp_max_moist" placeholder="Offset" value="720">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Save changes
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-webcam-setup">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form class="form-horizontal needs-validation" action="" method="post" novalidate>
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-video" ></i> Webcam settings</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <input type="hidden" name="id" id="webcam_id" value="" disabled="disabled">
          <input type="hidden" name="markers" id="markers" readonly="readonly" >
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-4">
                  <div class="form-group">
                    <label for="webcam_hardware">Hardware</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_hardware" name="hardware" required="required" data-placeholder="Select hardware" style="width: 100%;">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-4">
                  <div class="form-group">
                    <label for="webcam_address">Address</label>
                    <input type="text" class="form-control" id="webcam_address" required="required" name="address" placeholder="Enter address">
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="webcam_name">Naam</label>
                    <input type="text" class="form-control" id="webcam_name" required="required" name="name" placeholder="Enter name">
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <label for="webcam_width" class="d-block">Resolution (width x height)</label>
                    <div class="d-flex justify-content-between">
                      <input type="text" class="form-control col-5 d-inline" id="webcam_width" required="required" name="width" placeholder="Enter width">
                      <i class="fas fa-times mt-3" ></i>
                      <input type="text" class="form-control col-5 d-inline" id="webcam_height" required="required" name="height" placeholder="Enter height">
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label for="webcam_rotation">Rotation</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_rotation" name="rotation" required="required" data-placeholder="Select rotation" style="width: 100%;">
                        <option value="0">0 degrees</option>
                        <option value="90">90 degrees</option>
                        <option value="180">180 degrees</option>
                        <option value="270">270 degrees</option>
                        <option value="H">Flip Horizontal</option>
                        <option value="V">Flip Vertical</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label for="webcam_awb">White balance</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_awb" name="awb" required="required" data-placeholder="Select white balance" style="width: 100%;">
                        <!-- <option value="">Select an option</option> -->
                        <option value="off">off</option>
                        <option value="auto">auto</option>
                        <option value="sunlight">sunlight</option>
                        <option value="cloudy">cloudy</option>
                        <option value="shade">shade</option>
                        <option value="tungsten">tungsten</option>
                        <option value="fluorescent">fluorescent</option>
                        <option value="incandescent">incandescent</option>
                        <option value="flash">flash</option>
                        <option value="horizon">horizon</option>
                        <option value="greyworld">greyworld</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="webcam_archive">Archiving</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_archive" name="archive" data-placeholder="Select archiving" style="width: 100%;">
                        <option value="disabled">Disabled</option>
                        <option value="motion">Motion</option>
                        <option value="60">1 minute</option>
                        <option value="300">5 minutes</option>
                        <option value="900">15 minutes</option>
                        <option value="1800">30 minutes</option>
                        <option value="3600">1 hour</option>
                        <option value="10800">3 hours</option>
                        <option value="21600">6 hours</option>
                        <option value="43200">12 hours</option>
                        <option value="86400">1 day</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="webcam_rotation">Archive light state</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_archivelight" name="archive_light" data-placeholder="Select archive light state" style="width: 100%;">
                        <option value="ignore">Ignore</option>
                        <option value="on">When on</option>
                        <option value="off">When off</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="form-group">
                    <label for="webcam_archivedoor">Archive door state</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_archivedoor" name="archive_door" data-placeholder="Select archive door state" style="width: 100%;">
                        <option value="ignore">Ignore</option>
                        <option value="on">When on</option>
                        <option value="off">When off</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row motion d-none">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label for="webcam_motionboxes" class="text-truncate">Show motion boxes</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_motionboxes" name="motion_boxes" data-placeholder="Show the motion boxes" style="width: 100%;">
                        <option value="-1">None</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label for="webcam_motion_threshold" class="text-truncate">Motion delta thresshold</label>
                    <input type="text" class="form-control" id="webcam_motion_threshold" name="motion_threshold" placeholder="Enter number">
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label for="webcam_motion_area" class="text-truncate">Motion minimum area</label>
                    <input type="text" class="form-control" id="webcam_motion_area" name="motion_area" placeholder="Enter number">
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                  <div class="form-group">
                    <label for="webcam_motion_frame" class="text-truncate">Motion comparison frame</label>
                    <div class="select2-primary">
                      <select class="select2" id="webcam_motion_frame" name="motion_frame" data-placeholder="Select which frame to comparison" style="width: 100%;">
                        <option value="last">Last frame</option>
                        <option value="archived">Last archived frame</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
              <div class="form-group">
                <label for="button_address">Preview</label>
                <div class="webcam_player_preview" style="height:100%">
                  <img src="/static/assets/img/webcam_offline.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Save changes
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade realtime-data-form">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="form-horizontal" action="" method="post">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-tint" ></i> Sensors</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <select class="form-control select2" multiple="multiple" name="webcam_realtime_sensors_list" tabindex="-1" style="width: 100%">
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer d-block">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            <button type="button" class="btn btn-primary float-right" data-dismiss="modal" id="add_sensors">
              Save changes
            </button>
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal" id="del_marker">DELETE</button>


        </div>

      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<script type="text/javascript">
  jQuery(function(){
    jQuery('#modal-confirm').on('show.bs.modal',function(event) {
      let modal   = jQuery(event.currentTarget);
      let trigger = jQuery(event.relatedTarget);
      let action  = trigger.data('action');
      let url     = trigger.attr('href');
      let title   = trigger.attr('title');
      let reload  = trigger.data('reload') || true;
      let payload = {}
      if (trigger.data('field')) {
        payload[trigger.data('field')] = trigger.attr('id');
      }

      modal.find('div.modal-body p').html(title);
      modal.find('button.btn-danger').off('click').on('click',function() {
        jQuery.ajax({
          type: action,
          url: url,
          data: JSON.stringify(payload),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            let reload_url = data.location || false;
            let message = data.message || 'Action succeeded';

            modal.modal('hide');

            toastr.success(message, 'OK');

            if (reload_url) {
              setTimeout(function(){
                window.location.href = reload_url;
              },2000)
            } else if (reload) {
              load_page();
            }
          },
          error: function (error) {
            console.log(error);
            toastr.error('Error:<br />' + error.responseJSON.message , 'ERROR');
          }
        });
      });
    });

    // Some globals....?
    let button_modal = jQuery('#modal-button-setup');
    let button_form  = button_modal.find('form');

    button_modal.on('hidden.bs.modal',function(){
      if (button_modal.reload) {
        load_page('{{ url_for("page", page="buttons") }}');
      }
    });

    // Load form data when modal is opened
    button_modal.on('show.bs.modal',function(event){
      button_form.find('button span.spinner-border').hide();
      button_modal.find('div.loading').addClass('d-flex').show();
      // Clear old cached form data, and set action to POST (new)
      button_form[0].reset();
      button_form.attr({'method' : 'POST', 'action' : '{{ url_for("api:button_add") }}'});
      button_modal.reload = false;

      jQuery.get('{{ url_for("api:button_hardware") }}',function(data){
        let button_hardware_select = button_form.find('select#button_hardware');
        button_hardware_select.prop('disabled', false).find('option').remove();

        jQuery.each(data.data,function(counter,item){
          button_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
        });
        // Update the select2 view
        button_hardware_select.trigger({
          type: 'select2:select',
          params: {
            data: {id : data.data[0].hardware}
          }
        }).trigger('change');

        // Check if we are in edit mode.... and need to load more data....
        if (jQuery(event.relatedTarget).attr('id')) {
          // Load the button data
          let url = jQuery(event.relatedTarget).attr('href');

          jQuery.get(url, function(data){
            // Enable the hidden id field
            button_form.find('input[name="id"]').prop('disabled',false)
            // Change the form url to an PUT (update)
            button_form.attr({'method' : 'PUT', 'action' : url});
            // Set the hardware to the correct value and trigger the button type options and make this select disabled (not allowed to change afterwards)
            button_hardware_select.trigger({
              type: 'select2:select',
              params: {
                data: { id : data.hardware }
              }
            }).select2({disabled:true});
            // Load the button values in the form
            jQuery.each(data,function(key,value) {
              let field = button_form.find('[name="' + key + '"]');
              if (field.attr('type') == 'checkbox') {
                field.prop('checked',(1 != value)).trigger('change');
                field.prop('checked',(1 == value)).trigger('change');
              } else {
                field.val(value).trigger('change');
              }
            });
            button_modal.find('div.loading').removeClass('d-flex').hide();
          });
        } else {
          //console.log('Closeing loading div',button_modal.find('div.loading'));
          button_modal.find('div.loading').removeClass('d-flex').hide();
        }
      });
    });

    button_form.on('submit',function(event){
      event.preventDefault();
      event.stopPropagation();

      if (button_form[0].checkValidity() === false) {
        button_form.addClass('was-validated');
        toastr.error('Not all required fields are filled.', 'Update error');
      } else {
        button_form.find('span.spinner-border').show();
        let form_data = formToJSON(button_form);
        // Delete the value field.
        delete(form_data['value']);

        jQuery.ajax({
          type: button_form.attr('method'),
          url: button_form.attr('action'),
          data: JSON.stringify(form_data),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            toastr.success("Button data is saved", "Save ok");
            button_modal.reload = true
            button_modal.modal('hide');
          },
          error: function (error) {
            error = error.responseJSON;
            console.log(error);
            toastr.error(error.message , 'Save Error');
          }
        });
      }
    });

    // Some globals....?
    let relay_modal = jQuery('#modal-relay-setup');
    let relay_form  = relay_modal.find('form');

    let relay_hardware_select = relay_form.find('select#relay_hardware');

    relay_modal.on('hidden.bs.modal',function(){
      if (relay_modal.reload) {
        load_page('{{ url_for("page", page="relays") }}');
      }
    });

    // Load form data when modal is opened
    relay_modal.on('show.bs.modal',function(event){
      relay_form.find('div.row.dimmer_callibration').hide();
      relay_form.find('#dimmer_callibration').removeClass('show');
      relay_form.find('button span.spinner-border').hide();
      relay_modal.find('div.loading').addClass('d-flex').show();
      // Clear old cached form data, and set action to POST (new)
      relay_form[0].reset();
      relay_form.attr({'method' : 'POST', 'action' : '{{ url_for("api:relay_add") }}'});
      relay_modal.reload = false;

      jQuery.get('{{ url_for("api:relay_hardware") }}',function(data){
        relay_hardware_select.on('select2:select', function (event) {
          relay_form.find('#dimmer_callibration').removeClass('show');
          if (event.params.data.id.indexOf('-dimmer') != -1) {
            relay_form.find('.dimmer_callibration').show();
          } else {
            relay_form.find('.dimmer_callibration').hide();
          }
        });

        relay_hardware_select.prop('disabled', false).find('option').remove();

        jQuery.each(data.data,function(counter,item){
          //relay_types[item.hardware] = item.types;
          relay_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
        });
        // Update the select2 view
        relay_hardware_select.trigger({
          type: 'select2:select',
          params: {
            data: {id : data.data[0].hardware}
          }
        }).trigger('change');

        // Check if we are in edit mode.... and need to load more data....
        if (jQuery(event.relatedTarget).attr('id')) {
          // Load the relay data
          let url = jQuery(event.relatedTarget).attr('href');

          jQuery.get(url, function(data){
            // Enable the hidden id field
            relay_form.find('input[name="id"]').prop('disabled',false)
            // Change the form url to an PUT (update)
            relay_form.attr({'method' : 'PUT', 'action' : url});
            // Set the hardware to the correct value and trigger the relay type options and make this select disabled (not allowed to change afterwards)
            relay_hardware_select.trigger({
              type: 'select2:select',
              params: {
                data: { id : data.hardware }
              }
            }).select2({disabled:true});
            // Load the relay values in the form
            jQuery.each(data,function(key,value) {
              if ('calibration' == key && value != null) {
                for (const [ calibration_key, calibration_value ] of Object.entries(value)) {
                  let field = relay_form.find('[name="' + calibration_key + '"]');
                  field.val(calibration_value).trigger('change');
                }
              }

              let field = relay_form.find('[name="' + key + '"]');
              if (field.attr('type') == 'checkbox') {
                field.prop('checked',(1 != value)).trigger('change');
                field.prop('checked',(1 == value)).trigger('change');
              } else {
                field.val(value).trigger('change');
              }
            });
            relay_modal.find('div.loading').removeClass('d-flex').hide();
          });
        } else {
          //console.log('Closeing loading div',relay_modal.find('div.loading'));
          relay_modal.find('div.loading').removeClass('d-flex').hide();
        }
      });
    });

    relay_form.on('submit',function(event){
      event.preventDefault();
      event.stopPropagation();

      if (relay_form[0].checkValidity() === false) {
        relay_form.addClass('was-validated');
        toastr.error('Not all required fields are filled.', 'Update error');
      } else {
        relay_form.find('span.spinner-border').show();
        let form_data = formToJSON(relay_form);
        console.log(form_data);
        // Set the calibration JSON
        form_data['calibration'] = {}
        try {
          form_data['calibration']['dimmer_frequency'] = form_data['dimmer_frequency'];
          delete(form_data['dimmer_frequency']);
        } catch (error) { }

        try {
          form_data['calibration']['dimmer_max_power'] = form_data['dimmer_max_power'];
          delete(form_data['dimmer_max_power']);
        } catch (error) { }


        // Delete the value field.
        delete(form_data['value']);

        jQuery.ajax({
          type: relay_form.attr('method'),
          url: relay_form.attr('action'),
          data: JSON.stringify(form_data),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            toastr.success("Relay data is saved", "Save ok");
            relay_modal.reload = true
            relay_modal.modal('hide');
          },
          error: function (error) {
            error = error.responseJSON;
            console.log(error);
            toastr.error(error.message , 'Save Error');
          }
        });
      }
    });

    jQuery.get('/api/sensors/',function(data) {
      let pull_down = $('select[name="webcam_realtime_sensors_list"]');
      jQuery.each(data.data,function (index,sensor){
        pull_down.append($('<option>').attr({'value':sensor.id}).text(sensor.type + ' ' + sensor.name + ' ' + (Math.round((sensor.value + Number.EPSILON) * 1000) / 1000) + ' ' ));
      });
      pull_down.trigger('change');
    });

    // Some globals....?
    let sensor_modal = jQuery('#modal-sensor-setup');
    let sensor_form  = sensor_modal.find('form');
    // Keep a list of supported sensor types per hardware type
    let sensor_types = {}

    sensor_modal.on('hidden.bs.modal',function(){
      if (sensor_modal.reload) {
        load_page('/sensors_' + sensor_form.find('[name="type"]').val() + '.html');
      }
    });

    // Load form data when modal is opened
    sensor_modal.on('show.bs.modal',function(event){
      let sensor_hardware_select = sensor_form.find('select#sensor_hardware');
      let sensor_type_select     = sensor_form.find('select#sensor_type');

      sensor_form.find('button span.spinner-border').hide();
      sensor_modal.find('div.loading').addClass('d-flex').show();
      // Clear old cached form data, and set action to POST (new)
      sensor_form[0].reset();
      sensor_form.removeClass('was-validated');
      sensor_form.find('.collapse').collapse('hide');
      sensor_form.attr({'method' : 'POST', 'action' : '{{ url_for("api:sensor_add") }}'});
      sensor_modal.reload = false;

      sensor_form.find('.chirp').hide();

      jQuery.get('{{ url_for("api:sensor_hardware") }}',function(data){
        // Load all the known hardware supported sensors
        // When a hardware type is selected, show the available sensor types
        sensor_hardware_select.on('select2:select', function (event) {
          //let sensor_type = jQuery('select#sensor_type');
          // Remove old sensor types
          sensor_type_select.find('option').remove();
          // Add the new support sensor types based on selected hardware
          jQuery.each(sensor_types[event.params.data.id].sort(),function(counter,item){
            sensor_type_select.append(jQuery('<option>').attr('value',item).text(item));
          });
          // Update the select2 view and enable the select
          sensor_type_select.prop('disabled', false).trigger('change');

          if ('chirp' == event.params.data.id) {
            sensor_form.find('.chirp').show();
            sensor_form.find('[name^="chirp_"]').prop('disabled',false);

          } else {
            sensor_form.find('.chirp').hide();
            sensor_form.find('[name^="chirp_"]').prop('disabled',true);
          }
        });

        sensor_hardware_select.prop('disabled', false).find('option').remove();

        jQuery.each(data.data,function(counter,item){
          sensor_types[item.hardware] = item.types;
          sensor_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
        });
        // Update the select2 view
        sensor_hardware_select.trigger({
          type: 'select2:select',
          params: {
            data: {id : data.data[0].hardware}
          }
        }).trigger('change');

        // Check if we are in edit mode.... and need to load more data....
        if (jQuery(event.relatedTarget).attr('id')) {
          // Load the sensor data
          let url = jQuery(event.relatedTarget).attr('href');

          jQuery.get(url, function(data){
            // Enable the hidden id field
            sensor_form.find('input[name="id"]').prop('disabled',false)
            // Change the form url to an PUT (update)
            sensor_form.attr({'method' : 'PUT', 'action' : url});
            // Set the hardware to the correct value and trigger the sensor type options and make this select disabled (not allowed to change afterwards)
            sensor_hardware_select.trigger({
              type: 'select2:select',
              params: {
                data: { id : data.hardware }
              }
            }).select2({disabled:true});
            // Also disable the sensor type select.
            sensor_type_select.select2({disabled:true});
            // Load the sensor values in the form
            jQuery.each(data,function(key,value) {
              if ('calibration' == key && value != null) {
                for (const [ calibration_key, calibration_value ] of Object.entries(value)) {
                  let field = sensor_form.find('[name="' + calibration_key + '"]');
                  field.val(calibration_value).trigger('change');
                }
              }
              let field = sensor_form.find('[name="' + key + '"]');
              if (field.attr('type') == 'checkbox') {
                field.prop('checked',(1 != value)).trigger('change');
                field.prop('checked',(1 == value)).trigger('change');
              } else {
                field.val(value).trigger('change');
              }
            });
            sensor_modal.find('div.loading').removeClass('d-flex').hide();
          });
        } else {
          //console.log('Closeing loading div',sensor_modal.find('div.loading'));
          sensor_modal.find('div.loading').removeClass('d-flex').hide();
        }
      });
    });

    sensor_form.on('submit',function(event){
      event.preventDefault();
      event.stopPropagation();

      if (sensor_form[0].checkValidity() === false) {
        sensor_form.addClass('was-validated');
        toastr.error('Not all required fields are filled.', 'Update error');
      } else {
        sensor_form.find('button span.spinner-border').show();
        let form_data = formToJSON(sensor_form);
        // Set the calibration JSON
        form_data['calibration'] = {}
        try {
          form_data['calibration']['offset'] = form_data['offset'];
          delete(form_data['offset']);
        } catch (error) { }

        try {
          form_data['calibration']['chirp_min_moist'] = form_data['chirp_min_moist'];
          delete(form_data['chirp_min_moist']);
        } catch (error) { }

        try {
          form_data['calibration']['chirp_max_moist'] = form_data['chirp_max_moist'];
          delete(form_data['chirp_max_moist']);
        } catch (error) { }

        // Delete the value field.
        delete(form_data['value']);

        jQuery.ajax({
          type: sensor_form.attr('method'),
          url: sensor_form.attr('action'),
          data: JSON.stringify(form_data),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            toastr.success("Sensor data is saved", "Save ok");
            sensor_modal.reload = true
            sensor_modal.modal('hide');
          },
          error: function (error) {
            error = error.responseJSON;
            toastr.error(error.message , 'Save Error');
          }
        });
      }
    });

//  jQuery(function(){
    // Some globals....?
    let webcam_modal = jQuery('#modal-webcam-setup');
    let webcam_form  = webcam_modal.find('form');
    let preview_player = null;

    let webcam_hardware_select = webcam_form.find('select#webcam_hardware');

    webcam_modal.on('hidden.bs.modal',function(){
      try {
        preview_player.remove();
      } catch (e) {
        // pass
      }
      if (webcam_modal.reload) {
        load_page('{{ url_for("page", page="webcams") }}');
      }
    });

    // Load form data when modal is opened
    webcam_modal.on('show.bs.modal',function(event){
      // Clear old cached form data, and set action to POST (new)
      webcam_form.find('button span.spinner-border').hide();
      webcam_modal.find('div.loading').addClass('d-flex').show();
      // Clear old cached form data, and set action to POST (new)
      webcam_form[0].reset();
      webcam_form.removeClass('was-validated');
      webcam_form.find('.collapse').collapse('hide');
      webcam_form.attr({'method' : 'POST', 'action' : '{{ url_for("api:webcam_add") }}'});
      webcam_modal.reload = false;

      jQuery.get('{{ url_for("api:webcam_hardware") }}', function(data) {
        webcam_hardware_select.on('select2:select', function (event) {
          if ('rpicam' == event.params.data.id) {
            // Raspberry PI camera defaults
            jQuery('#webcam_address').val('rpicam'); //.prop('readonly',true);
            jQuery('#webcam_width').val(3280);
            jQuery('#webcam_height').val(2464);

          } else if ('rpicam-live' == event.params.data.id) {
            // Raspberry PI camera defaults
            jQuery('#webcam_address').val('rpicam_live').prop('readonly',true);
            jQuery('#webcam_width').val(1920);
            jQuery('#webcam_height').val(1080);

          } else {
            jQuery('#webcam_address').prop('readonly',false);
          }
        });

        let motion_select = webcam_form.find('select#webcam_archive');
        motion_select.on('select2:select', function(event) {
          let motion_row = jQuery('div.row.motion');
          console.log('Select2 trigger event edit?', event.params.data, motion_row, event.params.data.id == 'motion');

          if (event.params.data.id == 'motion') {
            motion_row.removeClass('d-none');
          } else {
            motion_row.addClass('d-none');
          }
        })

        webcam_hardware_select.prop('disabled', false).find('option').remove();

        jQuery.each(data.data,function(counter,item){
          webcam_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
        });
        // Update the select2 view
        webcam_hardware_select.trigger({
          type: 'select2:select',
          params: {
            data: {id : data.data[0].hardware}
          }
        }).trigger('change');

        // Check if we are in edit mode.... and need to load more data....
        if (jQuery(event.relatedTarget).attr('id')) {
          // Load the webcam data
          let url = jQuery(event.relatedTarget).attr('href');

          jQuery.get(url, function(data){
            // Enable the hidden id field
            webcam_form.find('input[name="id"]').prop('disabled',false)
            // Change the form url to an PUT (update)
            webcam_form.attr({'method' : 'PUT', 'action' : url});
            // Set the hardware to the correct value and trigger the webcam type options and make this select disabled (not allowed to change afterwards)
            webcam_hardware_select.trigger({
              type: 'select2:select',
              params: {
                data: { id : data.hardware }
              }
            }).select2({disabled:true});

            // Update the select2 view
            motion_select.trigger({
              type: 'select2:select',
              params: {
                data: {id : data.archive}
              }
            }).trigger('change');



            // Load the webcam values in the form
            jQuery.each(data,function(key,value) {
              if ('markers' == key) {
                value = JSON.stringify(value);
              }
              let field = webcam_form.find('[name="' + key + '"]');
              if (field.attr('type') == 'checkbox') {
                field.prop('checked',(1 != value)).trigger('change');
                field.prop('checked',(1 == value)).trigger('change');
              } else {
                field.val(value).trigger('change');
              }
            });
            jQuery('.webcam_player_preview').parent('.form-group').attr('id','webcam_' + data.id);
            data.edit = true;
            preview_player = load_webcam(data);
            webcam_modal.find('div.loading').removeClass('d-flex').hide();
          });
        } else {
          //console.log('Closeing loading div',webcam_modal.find('div.loading'));
          webcam_modal.find('div.loading').removeClass('d-flex').hide();
        }
      });
    });

    webcam_form.on('submit',function(event){
      event.preventDefault();
      event.stopPropagation();

      if (webcam_form[0].checkValidity() === false) {
        webcam_form.addClass('was-validated');
        toastr.error('Not all required fields are filled.', 'Update error');
      } else {
        webcam_form.find('span.spinner-border').show();
        let form_data = formToJSON(webcam_form);
        //console.log('Post webcam data', form_data, JSON.stringify(form_data));

        jQuery.ajax({
          type: webcam_form.attr('method'),
          url: webcam_form.attr('action'),
          data: JSON.stringify(form_data),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            toastr.success("Webcam data is saved", "Save ok");
            webcam_modal.reload = true
            webcam_modal.modal('hide');
          },
          error: function (error) {
            error = error.responseJSON;
            console.log(error);
            toastr.error(error.message , 'Save Error');
          }
        });
      }
    });
  });
</script>