<div class="modal fade" tabindex="-1" role="dialog" id="modal-confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ _('Confirm') }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ _('Close') }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="button" class="btn btn-danger">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ _('Confirm') }}
        </button>
      </div>
    </div>
  </div>
</div>

{% include 'modals/area.html' %}

{% include 'modals/button.html' %}

{% include 'modals/enclosure.html' %}

{% include 'modals/event.html' %}

{% include 'modals/playlist.html' %}

{% include 'modals/relay.html' %}

{% include 'modals/sensor.html' %}

{% include 'modals/webcam.html' %}

<!--
<div class="modal fade" id="modal-webcam-setup">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form class="form-horizontal needs-validation" action="" method="post" novalidate>
        <div class="modal-header">
          <h4 class="modal-title"><i class="fas fa-video" ></i> Webcam settings</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
 -->

<script type="text/javascript">
  jQuery(function(){
    jQuery('#modal-confirm').on('show.bs.modal',function(event) {

      let modal   = jQuery(event.currentTarget);
      let trigger = jQuery(event.relatedTarget);
      let action  = trigger.data('action');
      let url     = trigger.attr('href');
      let title   = trigger.attr('title');
      let reload  = trigger.data('reload') || true;
      let payload = {}

      modal.find('span.spinner-border').hide();

      if (trigger.data('field')) {
        payload[trigger.data('field')] = trigger.attr('id');
      }

      modal.find('div.modal-body p').html(title);
      modal.find('button.btn-danger').off('click').on('click',function() {
        modal.find('span.spinner-border').show();
        jQuery.ajax({
          type: action,
          url: url,
          data: JSON.stringify(payload),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            let reload_url = data.location || false;
            let message = data.message || '{{ _('Action succeeded') }}';

            modal.modal('hide');

            toastr.success(message, 'OK');

            if (reload_url) {
              setTimeout(function(){
                window.location.href = reload_url;
              },2000)
            } else if (reload) {
              load_page();
            }
          },
          error: function (error) {
            console.log(error);
            toastr.error('Error:<br />' + error.responseJSON.message , 'ERROR');
          }
        });
      });
    });

    // jQuery.get('/api/sensors/',function(data) {
    //   let pull_down = $('select[name="webcam_realtime_sensors_list"]');
    //   jQuery.each(data.data,function (index,sensor){
    //     pull_down.append($('<option>').attr({'value':sensor.id}).text(sensor.type + ' ' + sensor.name + ' ' + (Math.round((sensor.value + Number.EPSILON) * 1000) / 1000) + ' ' ));
    //   });
    //   pull_down.trigger('change');
    // });

/*

//  jQuery(function(){
    // Some globals....?
    let webcam_modal = jQuery('#modal-webcam-setup');
    let webcam_form  = webcam_modal.find('form');
    let preview_player = null;

    let webcam_hardware_select = webcam_form.find('select#webcam_hardware');

    webcam_modal.on('hidden.bs.modal',function(){
      try {
        preview_player.remove();
      } catch (e) {
        // pass
      }
      if (webcam_modal.reload) {
        load_page('{{ url_for("page", page="webcams") }}');
      }
    });

    // Load form data when modal is opened
    webcam_modal.on('show.bs.modal',function(event){
      // Clear old cached form data, and set action to POST (new)
      webcam_form.find('button span.spinner-border').hide();
      webcam_modal.find('div.loading').addClass('d-flex').show();
      // Clear old cached form data, and set action to POST (new)
      webcam_form[0].reset();
      webcam_form.removeClass('was-validated');
      webcam_form.find('.collapse').collapse('hide');
      webcam_form.attr({'method' : 'POST', 'action' : '{{ url_for("api:webcam_add") }}'});
      webcam_modal.reload = false;

      jQuery.get('{{ url_for("api:webcam_hardware") }}', function(data) {

        webcam_hardware_select.on('select2:select', function (event) {
          if ('rpicam' == event.params.data.id) {
            // Raspberry PI camera defaults
            jQuery('#webcam_address').val('rpicam'); //.prop('readonly',true);
            jQuery('#webcam_width').val(3280);
            jQuery('#webcam_height').val(2464);

          } else if ('rpicam-live' == event.params.data.id) {
            // Raspberry PI camera defaults
            jQuery('#webcam_address').val('rpicam_live').prop('readonly',true);
            jQuery('#webcam_width').val(1920);
            jQuery('#webcam_height').val(1080);

          } else {
            jQuery('#webcam_address').prop('readonly',false);
          }
        });

        let motion_select = webcam_form.find('select#webcam_archive');
        motion_select.on('select2:select', function(event) {
          let motion_row = jQuery('div.row.motion');
          console.log('Select2 trigger event edit?', event.params.data, motion_row, event.params.data.id == 'motion');

          if (event.params.data.id == 'motion') {
            motion_row.removeClass('d-none');
          } else {
            motion_row.addClass('d-none');
          }
        })

        webcam_hardware_select.prop('disabled', false).find('option').remove();

        jQuery.each(data.data,function(counter,item){
          webcam_hardware_select.append(jQuery('<option>').attr('value',item.hardware).text(item.name));
        });
        // Update the select2 view
        webcam_hardware_select.trigger({
          type: 'select2:select',
          params: {
            data: {id : data.data[0].hardware}
          }
        }).trigger('change');

        // Check if we are in edit mode.... and need to load more data....
        if (jQuery(event.relatedTarget).attr('id')) {
          // Load the webcam data
          let url = jQuery(event.relatedTarget).attr('href');

          jQuery.get(url, function(data){
            // Enable the hidden id field
            webcam_form.find('input[name="id"]').prop('disabled',false)
            // Change the form url to an PUT (update)
            webcam_form.attr({'method' : 'PUT', 'action' : url});
            // Set the hardware to the correct value and trigger the webcam type options and make this select disabled (not allowed to change afterwards)
            webcam_hardware_select.trigger({
              type: 'select2:select',
              params: {
                data: { id : data.hardware }
              }
            }).select2({disabled:true});

            // Update the select2 view
            motion_select.trigger({
              type: 'select2:select',
              params: {
                data: {id : data.archive}
              }
            }).trigger('change');



            // Load the webcam values in the form
            jQuery.each(data,function(key,value) {
              if ('markers' == key) {
                value = JSON.stringify(value);
              }
              let field = webcam_form.find('[name="' + key + '"]');
              if (field.attr('type') == 'checkbox') {
                field.prop('checked',(1 != value)).trigger('change');
                field.prop('checked',(1 == value)).trigger('change');
              } else {
                field.val(value).trigger('change');
              }
            });


            jQuery('.webcam_player_preview').parent('.form-group').attr('id','webcam_' + data.id);
            data.edit = true;
            preview_player = load_webcam(data);
            webcam_modal.find('div.loading').removeClass('d-flex').hide();
          });
        } else {
          //console.log('Closeing loading div',webcam_modal.find('div.loading'));
          webcam_modal.find('div.loading').removeClass('d-flex').hide();
        }
      });
    });

    webcam_form.on('submit',function(event){
      event.preventDefault();
      event.stopPropagation();

      if (webcam_form[0].checkValidity() === false) {
        webcam_form.addClass('was-validated');
        toastr.error('Not all required fields are filled.', 'Update error');
      } else {
        webcam_form.find('span.spinner-border').show();
        let form_data = formToJSON(webcam_form);
        //console.log('Post webcam data', form_data, JSON.stringify(form_data));

        jQuery.ajax({
          type: webcam_form.attr('method'),
          url: webcam_form.attr('action'),
          data: JSON.stringify(form_data),
          processData: false,
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          success: function (data) {
            toastr.success("Webcam data is saved", "Save ok");
            webcam_modal.reload = true
            webcam_modal.modal('hide');
          },
          error: function (error) {
            error = error.responseJSON;
            console.log(error);
            toastr.error(error.message , 'Save Error');
          }
        });
      }
    });
    */
  });
</script>