<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="{{ url_for('home') }}" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">{{ title }}</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image pt-2">
        <img src="/static/assets/img/christmas_hat.png" class="christmashat" title="!! Merry Christmas !!" alt="!! Merry Christmas !!">
        <img src="{{ profile_image }}" class="img-circle elevation-2 img-thumbnail" alt="User Image">
      </div>
      <div class="info">
      {% if authenticated %}
        <a href="{{ url_for('page', page='settings')}}" >{{ _('Hello') }} {{ username }}.</a>
        <br />
        <a href="{{ url_for('logout') }}" title="Logout" data-action="POST" data-toggle="modal" data-target="#modal-confirm">{{ _('Logout') }}</a>
      {% else %}
        <a href="{{ url_for('login') }}">
          {{ _('Read only mode') }} <br />{{ _('Login') }}
        </a>
      {% endif %}
      </div>
    </div>
    <div class="form-inline d-none">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-flat" data-widget="treeview" role="menu" data-accordion="true">
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              {{ _('Home') }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='dashboard')}}" class="nav-link">
                <i class="fas fa-th-list nav-icon"></i>
                <p>{{ _('Dashboard') }}</p>
              </a>
            </li>
            {% if show_gauge_overview %}
            <li class="nav-item">
              <a href="{{ url_for('page', page='sensors')}}" class="nav-link">
                <i class="fas fa-tint nav-icon"></i>
                <p>{{ _('All sensors') }}</p>
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="{{ url_for('page',page='weather')}}" class="nav-link">
                <i class="fas fa-cloud-sun nav-icon"></i>
                <p>{{ _('Weather') }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('page',page='calendar')}}" class="nav-link">
                <i class="fas fa-calendar-alt nav-icon"></i>
                <p>{{ _('Calendar') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fas fa-tint nav-icon"></i>
            <p>
              {{ _('Sensors') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" id="available_sensor_types">
            <script type="text/html" id="sensor_type_menu">
              <li data-class="tree" class="nav-item">
                <a data-href="link" class="nav-link">
                  <i data-class="icon" class="nav-icon"></i>
                  <p >
                    <span data-content-text="title"></span>
                    <i data-class="submenu" class="fas right"></i>
                  </p>
                </a>
              </li>
            </script>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="#" class="nav-link" title="{{ _('Add new sensor') }}" data-toggle="modal" data-target="#modal-sensor-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New sensor') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('api:sensor_scan')}}" class="nav-link" title="{{ _('Scan for new sensors') }}" data-action="POST" data-field="value" data-toggle="modal" data-target="#modal-confirm">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>{{ _('Scan sensors') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-bolt"></i>
            <p>
              {{ _('Relays') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='relays')}}" class="nav-link">
                <i class="fas fa-power-off nav-icon"></i>
                <p>{{ _('Status') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="#" class="nav-link" title="{{ _('Add new relay') }}" data-toggle="modal" data-target="#modal-relay-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New relay') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('api:relay_scan')}}" class="nav-link" title="{{ _('Scan for new relays') }}" data-action="POST" data-field="value" data-toggle="modal" data-target="#modal-confirm">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>{{ _('Scan relays') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-thumbtack"></i>
            <p>
              {{ _('Buttons') }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='buttons')}}" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>{{ _('Status') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="#" class="nav-link" title="{{ _('Add new button') }}" data-toggle="modal" data-target="#modal-button-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New button') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-video"></i>
            <p>
              {{ _('Webcams') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='webcams')}}" class="nav-link">
                <i class="fas fa-tv nav-icon"></i>
                <p>{{ _('Show') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('webcam_list') }}" class="nav-link" title="{{ _('Add new webcam') }}" data-toggle="modal" data-target="#modal-webcam-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New webcam') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-music"></i>
            <p>
              {{ _('Audio') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='audio_files')}}" class="nav-link">
                <i class="fas fa-file-audio nav-icon"></i>
                <p>{{ _('Files') }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('page', page='playlists')}}" class="nav-link">
                <i class="fas fa-play nav-icon"></i>
                <p>{{ _('Playlists') }}</p>
              </a>
            </li>

            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="#" class="nav-link" title="{{ _('Add new playlist') }}" data-toggle="modal" data-target="#modal-playlist-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New playlist') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-globe"></i>
            <p>
              {{ _('Enclosures') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='enclosures')}}" class="nav-link">
                <i class="fas fa-building nav-icon"></i>
                <p>{{ _('List') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="#" class="nav-link" title="{{ _('Add new enclosure') }}" data-toggle="modal" data-target="#modal-enclosure-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New enclosure') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="#" class="nav-link" title="{{ _('Add new area') }}" data-toggle="modal" data-target="#modal-area-setup">
                <i class="fas fa-plus nav-icon"></i>
                <p>{{ _('New area') }}</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              {{ _('System') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{{ url_for('page', page='status')}}" class="nav-link">
                <i class="fas fa-exclamation-triangle nav-icon"></i>
                <p>{{ _('Status') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('page', page='notifications')}}" class="nav-link">
                <i class="fas fa-bell nav-icon"></i>
                <p>{{ _('Notifications') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('page', page='settings')}}" class="nav-link">
                <i class="fas fa-cogs nav-icon"></i>
                <p>{{ _('Settings') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('page', page='log')}}" class="nav-link" >
                <i class="fas fa-file-alt nav-icon"></i>
                <p>{{ _('Log') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('api:server_action', action='restart')}}" class="nav-link text-info" title="{{ _('Restart TerrariumPI') }}" data-action="POST" data-toggle="modal" data-target="#modal-confirm">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>{{ _('Restart') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('api:server_action', action='reboot')}}" class="nav-link text-warning" title="{{ _('Reboot TerrariumPI') }}" data-action="POST" data-toggle="modal" data-target="#modal-confirm">
                <i class="fas fa-sync-alt nav-icon"></i>
                <p>{{ _('Reboot') }}</p>
              </a>
            </li>
            <li class="nav-item {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Login to make changes') }}"{% endif %}>
              <a href="{{ url_for('api:server_action', action='restart')}}" class="nav-link text-danger" title="{{ _('Shutdown TerrariumPI') }}" data-action="POST" data-toggle="modal" data-target="#modal-confirm">
                <i class="fas fa-power-off nav-icon"></i>
                <p>{{ _('Shutdown') }}</p>
              </a>
          </ul>
        </li>
        <li class="nav-header">{{ _('About') }}</li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-info"></i>
            <p>
              {{ _('Help') }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/mailbox.html" class="nav-link">
                <i class="fas fa-info nav-icon"></i>
                <p>{{ _('About') }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/mailbox-compose.html" class="nav-link">
                <i class="fas fa-book nav-icon"></i>
                <p>{{ _('Usage') }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/mailbox-read-mail.html" class="nav-link">
                <i class="fas fa-microchip nav-icon"></i>
                <p>{{ _('Hardware') }}</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>