[Unit]
Description=TerrariumPI
After=network.target local-fs.target
# StartLimitInterval=370
# StartLimitBurst=2

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/TerrariumPI/terrariumPI.py
Restart=always
RestartSec=5
KillSignal=SIGINT
# This big timeout is needed so the database upgrade will work during startups
TimeoutStartSec=1800
WatchdogSec=180
Type=notify

# StartLimitInterval=370
# StartLimitBurst=2
# StartLimitAction=reboot-force

[Install]
WantedBy=multi-user.target
