[Unit]
Description=TerrariumPI
After=network.target local-fs.target

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/TerrariumPI/terrariumPI.py
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
