[Unit]
Description=TerrariumPI
After=network.target local-fs.target
StartLimitBurst=3
StartLimitIntervalSec=370

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 /home/pi/TerrariumPI/terrariumPI.py
Restart=always
RestartSec=5
KillSignal=SIGINT
WatchdogSec=120
Type=notify
StartLimitAction=reboot-force

[Install]
WantedBy=multi-user.target
