.dockerignore
.git
.git*
**/.git
**/.git*
*.pyc
**/*.pyc
__pycache__
**/__pycache__
Dockerfile*
docker-compose.yaml*
screenshots
docs
*.md
Gemfile*
venv
.cache
*.swp
media/*
*.map
**/*.map
install.sh
Makefile
.vscode
.mypy_cache

# Gui parts
.env.dev.json
node_modules

# gui
# gui/*
#.env.*
# html-template.js
# package-lock.json
# package.json
# postcss.config.js
# rollup.config.js
