[submodule "gentelella"]
	path = gentelella
	url = https://github.com/puikinsh/gentelella.git
[submodule "static/fancybox"]
	path = static/fancybox
	url = https://github.com/fancyapps/fancybox.git
[submodule "static/Leaflet.fullscreen"]
	path = static/Leaflet.fullscreen
	url = https://github.com/Leaflet/Leaflet.fullscreen.git
[submodule "static/Leaflet.loading"]
	path = static/Leaflet.loading
	url = https://github.com/ebrelsford/Leaflet.loading.git
[submodule "energenie-connect0r"]
	path = energenie-connect0r
	url = https://github.com/perryflynn/energenie-connect0r.git
