venv
*.pyc
__pycache__


calendar.ics
terrariumpi.db*
webcam
!hardware/webcam
log/*.log*
audio/*
description.txt
logging.custom.cfg
notifications.cfg
motd.sh
.cache
screenlog.*
.vscode*
.Trash*
*.old
.jekyll-cache
Gemfile.lock
docs/_site/
