[submodule "static/assets/plugins/fancybox"]
	path = static/assets/plugins/fancybox
	url = https://github.com/fancyapps/fancybox.git
[submodule "static/assets/plugins/leaflet.loading"]
	path = static/assets/plugins/leaflet.loading
	url = https://github.com/ebrelsford/Leaflet.loading.git
[submodule "static/assets/plugins/leaflet.icon-pulse"]
	path = static/assets/plugins/leaflet.icon-pulse
	url = https://github.com/mapshakers/leaflet-icon-pulse.git
[submodule "3rdparty/Bright-Pi"]
	path = 3rdparty/Bright-Pi
	url = https://github.com/PiSupply/Bright-Pi
[submodule "3rdparty/relay8-rpi"]
	path = 3rdparty/relay8-rpi
	url = https://github.com/SequentMicrosystems/relay8-rpi
[submodule "3rdparty/energenie-connect0r"]
	path = 3rdparty/energenie-connect0r
	url = https://github.com/perryflynn/energenie-connect0r.git
[submodule "3rdparty/4relay-rpi"]
	path = 3rdparty/4relay-rpi
	url = https://github.com/SequentMicrosystems/4relay-rpi
[submodule "3rdparty/chirp-rpi"]
	path = 3rdparty/chirp-rpi
	url = https://github.com/ageir/chirp-rpi.git
[submodule "3rdparty/4relind-rpi"]
	path = 3rdparty/4relind-rpi
	url = https://github.com/SequentMicrosystems/4relind-rpi.git
[submodule "3rdparty/8relind-rpi"]
	path = 3rdparty/8relind-rpi
	url = https://github.com/SequentMicrosystems/8relind-rpi.git
