venv
*.pyc
__pycache__
docker-compose.yaml
docker-compose.yml
calendar.ics
terrariumpi.db*
webcam
!hardware/webcam
log/*.log*
audio/*
description.txt
logging.custom.cfg
notifications.cfg
motd.sh
.cache
screenlog.*
.vscode*
.Trash*
*.old
*.swp
.jekyll-cache
Gemfile.lock
docs/_site/
node_modules
