setuptools
wheel

# Webserver packages
# Gevent has strange issues with higher versions
# gevent==20.9.0
gevent
bottle
bottle_websocket
jinja2
retry
bcrypt
cryptography

# Hardware / sensors packages
gpiozero
smbus2
smbus
bluepy
requests
melopero_amg8833
RPi.bme280
RPi.GPIO
pyserial
pigpio_dht
mitemp_bt
PyMLX90614
pyownet
veml6075
lib8relay
pylibftdi
asyncio
python-kasa
meross-iot
PCA9685-driver
zeroconf
pywemo
simple-pid

# Webcam packages
Pillow
opencv-python-headless
piexif
picamera

# Calendar and utils
icalendar
icalevents
psutil
packaging

# Audio
pyalsaaudio
git+https://github.com/gbstack/ffprobe-python

# MOTD packages
pyfancy
pyfiglet

# Notification packages
emails
twitter
pushover
luma.oled
i2c_lcd

# API
pony
apispec-webframeworks
