pip
setuptools==58.5.3
wheel

# Database
pony
yoyo-migrations

# Audio
git+https://github.com/gbstack/ffprobe-python
pyalsaaudio

# Webserver packages
gevent
bottle
bottle_websocket
jinja2
retry
bcrypt
cryptography==3.4.8

# Hardware / sensors packages
gpiozero
smbus2
smbus
#bluepy
git+https://github.com/IanHarvey/bluepy
requests
melopero_amg8833
RPi.bme280
RPi.GPIO
pyserial
pigpio_dht
pigpio
mitemp_bt
PyMLX90614
pyownet
veml6075
lib8relay
pylibftdi
asyncio
python-kasa
meross-iot
PCA9685-driver
zeroconf==0.31.0
pywemo
simple-pid
sparkfun-qwiic-relay

# Webcam packages
Pillow
opencv-python-headless==4.5.3.56
piexif

# Calendar and utils
icalendar
icalevents
psutil
packaging
func_timeout
sdnotify

# MOTD packages
pyfancy
pyfiglet

# Notification packages
emails
luma.oled
i2c_lcd
paho-mqtt
