div.power {
  width: 10em;
  float:left;
  position: relative;
/*  overflow: hidden;*/
}
div.power.on div.light_bulb,
div.power.off div.light_bulb {
  margin-top: -1em;
  height: 11em;
  background-image: url('../images/icons/switches/light_bulb_on.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
div.power.off div.light_bulb {
  background-image: url('../images/icons/switches/light_bulb_off.png');
}
div.power.on div.light_bulb span {
  margin: 5em 40%;
  position: absolute;
}

div.power.off div.light_bulb span {
  display: none;
}

div.power.on div.switch,
div.power.off div.switch {
  height: 9em;
  margin: 0px auto;
  width: 70%;
  background-image: url('../images/icons/switches/switch_power_on.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
div.power.off div.switch {
  background-image: url('../images/icons/switches/switch_power_off.png');
}

div.power span.name {
  color: black;
  display: block;
  left: 1.9em;
  position: relative;
  top: 5.0em;
  white-space: nowrap;
  width: 11em;
  overflow: hidden;
  font-size: 0.8em;
  height: 1.3em;
  text-align: center;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

div.power span.name svg {
  height: 1.3em;
  width: 11em;
}
