@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds, .test {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(images/clouds.png) repeat top center;
    z-index:3;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}


.sky {
 z-index: 1;
}

.landscape {
  height: 10em;
  width: 100%;
  left: 0em;
  top: 0em;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.landscape .header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  margin: 0.1em 0.1em;
  z-index: 10;
}
.landscape .header a,
.landscape .header a:visited {
  color: #fff;
  position: relative;
}
.landscape .horizon {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100% auto;
  float: left;
}
.landscape.day .horizon,
.landscape.night .horizon {
  background-image: url('../images/weather/landscape.jpg'); 
}
.landscape.night .horizon {
  background-image: url('../images/weather/landscape_night.jpg');
}
.landscape .rise,
.landscape .set {
  background-repeat: no-repeat;
  width: 15em;
  height: 100%;
  float: left;
  position: relative;
  background-size: 100% auto;
  background-position: left bottom;
  z-index: 7;
}
.landscape.day .rise,
.landscape.day .set {
  background-image: url('../images/weather/sunrise.png');

}
.landscape.night .rise,
.landscape.night .set {
  background-image: url('../images/weather/moonrise.png');
}
.landscape.night .set {
  background-position: right bottom;
}
.landscape .rise{
  margin-left: -100%;
}
.landscape .set{
  margin-left: -15em;
}
.landscape .rise .arrow,
.landscape .set .arrow {
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
  bottom: 0px;
  position: absolute;
}
.landscape .rise .arrow {
  background-image: url('../images/weather/up_arrow.png');
  left: 9em;
}
.landscape .set .arrow {
  background-image: url('../images/weather/down_arrow.png');
  right: 8.5em;
}
.landscape div span.date {
  font-size: 0.8 em;
  font-family: Verdana;
  display: block;
  position: relative;
  top: 8.5em;
  width: 100%;
  text-align: center;
}
.landscape .horizon .orb {
  margin: 0 15em 0 15em;
  height: 100%;
}
.landscape.day .horizon .orb span,
.landscape.night .horizon .orb span {
  background-image: url('../images/weather/sun.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  width: 4em;
  height: 4em;
  top:0em;
  left: 50%;
  z-index:99;
  margin: -1.8em 0px 0px -1.8em;
}
.landscape.night .horizon .orb span {
  background-image: url('../images/weather/moon.png');
  background-size: 90% auto;
  background-position: center;
}
.landscape .star.small {
  background-image: url('../images/weather/star1.png');
  background-size: 70% auto;
  background-position: center center;
  background-repeat: no-repeat;
  z-index:4;
  width: 2em;
  height: 2em;
  position: absolute;
}
.landscape .star.big {
  background-image: url('../images/weather/star2.png');
  background-size: 70% auto;
  background-position: center center;
  background-repeat: no-repeat;
  z-index:4;
  width: 3em;
  height: 3.5em;
  position: absolute;
}
.landscape.day .star {
  display: none;
}
