.webcams {
  width:100%;
  float:left;
}
.webcam {
  width: 33%;
  height: 280px;
  float: left;
  position: relative;
  background-color: black !important;
  margin: 1px;
}
.webcam .options {
  background-size: auto 80%;
  background-position: right top;
  z-index:1000;
  position: relative;
}