<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title id="Description">jqxListBox directive for AngularJS</title>
    <meta name="description" content="AngularJS ListBox example. This example demonstrates a ListBox built with Angular." /> 
    <link rel="stylesheet" type="text/css" href="../../../jqwidgets/styles/jqx.base.css" />
    <script type="text/javascript" src="../../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../../jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="../../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../../../jqwidgets/jqxangular.js"></script>
    <script type="text/javascript" src="../../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["jqwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.people = ["Pedro", "Clara", "John", "Pier"];

            // init ListBox's settings object.
            $scope.listBoxSettings =
            {
                width: 200,
                height: 200,
                source: $scope.people
            }

            // init selectedValue.
            $scope.selectedValue = $scope.people[0];

            // change the data source.
            $scope.changeSource = function () {
                $scope.people = ["Nancy", "Andrew", "Michael", "Peter"];
                $scope.selectedValue = "Andrew";
            }
        });
    </script>
</head>
<body>
    <div ng-controller="demoController">
         <p><b>Selected Item: </b>{{selectedValue}}</p>
        <jqx-list-box ng-model="selectedValue" jqx-settings="listBoxSettings"></jqx-list-box>
        <br />
        <jqx-button ng-click="changeSource()">Change Source</jqx-button>
    </div>
</body>
</html>
