<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title id='Description'>NumberInput Directive for AngularJS</title>
    <link rel="stylesheet" href="../../jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets/jqxangular.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["jqwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.percentage = 100;
            $scope.currency = 23.5;
            $scope.number = 123456789;
        });
    </script>
</head>
<body class='default'>
    <div ng-controller="demoController">
        <div style='margin-top: 10px;'>
            Number {{number}}
        </div>
        <jqx-number-input jqx-width="250" jqx-height="25" jqx-spin-buttons="true" style='margin-top: 3px;' ng-model="number"></jqx-number-input>
        <div style='margin-top: 10px;'>
            Percentage {{percentage}}
        </div>
        <jqx-number-input jqx-width="250" jqx-height="25" jqx-digits="3" jqx-symbol-position="'right'" jqx-spin-buttons="true" jqx-symbol="'%'" style='margin-top: 3px;' ng-model="percentage"></jqx-number-input>
        <div style='margin-top: 10px;'>
            Currency {{currency}}
        </div>
        <jqx-number-input jqx-width="250" jqx-height="25" jqx-symbol="'$'" jqx-spin-buttons="true" style='margin-top: 3px;' ng-model="currency"></jqx-number-input>        
    </div>
</body>
</html>
