{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Audio files') }}{% endblock %}
{% block page_content %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-file-audio mr-2" data-class="icon"></i>{{ _('Audio files') }}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="audio_files" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  <th>{{ _('Name') }}</th>
                  <th>{{ _('Duration') }}</th>
                  <th>{{ _('Filename') }}</th>
                  <th>{{ _('Size') }}</th>
                  <th>{{ _('Action') }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                  <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Duration') }}</th>
                    <th>{{ _('Filename') }}</th>
                    <th>{{ _('Size') }}</th>
                    <th>{{ _('Action') }}</th>
                  </tr>
                  </tfoot>
              </table>
              <div class="input-group mt-3 {% if not authenticated %}disabled{% endif %}" {% if not authenticated %}title="{{ _('Please login to make changes') }}"{% endif %}>
                <div class="input-group-prepend">
                  <span class="input-group-text" id="upload_new_file_label">{{ _('Upload new audio file') }}</span>
                </div>
                <div class="custom-file">
                  <form id="audio_upload" method="post" action="{{ url_for('api:audiofile_add') }}" enctype="multipart/form-data" >
                    <input type="file" name="audiofiles" multiple="true" class="custom-file-input" id="upload_new_file" aria-describedby="upload_new_file_label" {% if not authenticated %}disabled="disabled"{% endif %}>
                    <label class="custom-file-label" for="upload_new_file">{{ _('Choose file') }}</label>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <script>
    jQuery(function () {
      jQuery('#audio_files').DataTable({
        responsive: true,
        autoWidth: false,
        columnDefs: [
          { className: 'text-center', 'targets': [-1] }
        ],
        ajax: {
          url: '{{ url_for("api:audiofile_list") }}',
          dataSrc: function (json) {
            let data = json.data;
            let return_data = new Array();

            for(let i = 0; i < data.length; i++){

              let audio_player_icon = jQuery('<i>').addClass('fas fa-play-circle audio_player mr-2');
              let audio_player = jQuery('<audio>').prop({'controls':true, 'preload' : 'none'}).addClass('d-none').append(jQuery('<source>').attr('src','/media/' + data[i].filename));

              {% if authenticated %}
              let delete_icon = jQuery('<a>').attr({'href':'{{ url_for("api:audiofile_delete", audiofile="_id_") }}'.replace('_id_',data[i].id) , 'title' : '{{ _('Delete audio file') }} ' + data[i].name, 'data-action':'DELETE','data-toggle':'modal','data-target':'#modal-confirm'}).append(jQuery('<i>').addClass('fas fa-trash-alt'));
              {% endif %}

              return_data.push({
                filename : data[i].filename,
                filesize : formatBytes(data[i].filesize),
                duration : moment.duration(data[i].duration,'seconds').humanize(),
                name     : data[i].name,
                action   : audio_player_icon.prop('outerHTML') + audio_player.prop('outerHTML'){% if authenticated %} + ' ' + delete_icon.prop('outerHTML'){% endif %}
              });
            }
            return return_data;
          }
        },

        columns: [
          { data: 'name' },
          { data: 'duration' },
          { data: 'filename' },
          { data: 'filesize' },
          { data: 'action' },
        ]
      }).on('draw', function(event, settings){
        jQuery('i.audio_player').off('click').on('click',function(element) {
          let player_icon = jQuery(element.currentTarget);
          let player = player_icon.siblings('audio');

          if (player_icon.hasClass('fa-play-circle')) {
            // Start the player
            player[0].play();
            player_icon.removeClass('fa-play-circle').addClass('fa-pause-circle');
          } else {
            // Stop the player
            player[0].pause();
            player_icon.removeClass('fa-pause-circle').addClass('fa-play-circle');
          }
        });
      });

      {% if authenticated %}
      jQuery('form#audio_upload input').on('change',function(event){
        let formData = new FormData();
        console.log(this,event);
        jQuery.each(this.files,function(index,file){
          //console.log(index,file)
          formData.append('audiofiles', file);
        });

        jQuery.ajax({
          url: '{{ url_for('api:audiofile_add') }}',
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (result) {
            toastr['success']('{{ _('Audio files are uploaded.') }}', '{{ _('OK') }}');
            load_page();
          },
          error: function (error) {
            console.log(error);
          }
        });
      });
      {% endif %}
    });
  </script>
{% endblock page_content %}
