{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Buttons') }}{% endblock %}
{% block page_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col" id="button_list">
        <script type="text/html" id="button_template">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1">
                <i class="fas fa-fw fa-thumbtack" ></i>
                <span data-content="name">...</span>
                <small class="ml-2 text-muted">{{ _('Last update') }}: <span class="last_update"  data-template-bind='[
                  {"attribute": "content", "value": "last_update", "formatter": "datetimeformatter", "formatOptions": "LLLL"} ]'
                ></span></small>
              </h3>
              <small data-template-bind='[
                {"attribute": "class", "value": "error", "formatter": "prefixer", "formatOptions": "badge badge-danger "} ]'
              >{{ _('error') }}</small>
              <small class="badge badge-warning fuckbs-d-none">{{ _('warning') }}</small>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a data-href="export_link" data-id="id" class="dropdown-item export_link" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Export button') }} "} ]'>
                    <i class="fas fa-file-export mr-1"></i> {{ _('Export') }}
                    </a>
                    <a data-href="edit_link" class="dropdown-item" data-toggle="modal" data-target="#modal-button-setup" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit button') }} "} ]'>
                      <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }}
                    </a>
                    <a data-href="ignore_link" class="dropdown-item" data-action="PUT" data-field="value" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Ingore button') }} "} ]'>
                      <i class="fas fa-ban mr-1"></i> {{ _('Ignore') }}
                    </a>
                    <a data-href="delete_link" class="dropdown-item" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete button') }} "} ]'>
                      <i class="fas fa-trash-alt mr-1"></i> {{ _('Delete') }}
                    </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="d-md-flex">
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 text-center">
                  <h1 class="display-1 pt-3" style="font-size: 8rem;"><i class="fas" data-id="button"></i></h1>
                </div><!-- /.card-pane-right -->
                <div class="col-12 col-sm-12 col-md-9 col-lg-10 pt-2">
                  <div class="overlay">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                  </div>
                  <canvas data-id="graph" class="graph"></canvas>
                </div>
              </div> <!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </script>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/. container-fluid -->
</section>
<!-- /.content -->
<script>
  jQuery(function () {
    jQuery.get('{{ url_for("api:button_list") }}',function(data) {
      data = data.data;
      // Sort the buttons based on the given button name
      data.sort((a, b) => a.name.localeCompare(b.name));

      jQuery.each(data,function(counter, button) {

        //button.icon = template_button_type_icon(button.type);

        button.export_link      = '{{ url_for('api:button_history', filter='_id_', action="export") }}'.replace('_id_',button.id);
        button.edit_link        = '{{ url_for('api:button_detail',  button='_id_') }}'.replace('_id_',button.id);
        button.delete_link      = '{{ url_for('api:button_delete',  button='_id_') }}'.replace('_id_',button.id);
        button.ignore_link      = '{{ url_for('api:setting_update', setting='exclude_ids') }}';

        button.error   = (button.value != null ? 'fuckbs-d-none' : '');
        button.button  = 'button_' + button.id;
        //button.exclude = (!button.exclude_avg  ? 'fuckbs-d-none' : '');

        button.graph  = 'graph_' + button.id;
//        button.gauge  = 'gauge_' + button.id;

        $('#button_list').loadTemplate($('#button_template'),button ,{ append: true, bindingOptions: {ignoreNull : true}});


        // $('#button_list').loadTemplate($('#button_template'),{

        //   icon: 'fa-thumbtack',
        //   title: button.name,
        //   last_update: moment().format('LLL'),

        //   //error_message : (button.error ? 'error' : ''),
        //   badge_message: (button.exclude_avg ? '{{ _('Excl. avg') }}' : (button.manual_mode ? '{{ _('Manual mode') }}' : '')),
        //   power: (button.value > 0 ? 'text-success' : ''),
        //   current: button.value,

        //   button_edit_link:   '{{ url_for('api:button_detail', button='_id_') }}'.replace('_id_',button.id),
        //   button_ignore_link: '{{ url_for('api:setting_update', setting='exclude_ids') }}',
        //   button_delete_link: '{{ url_for('api:button_delete', button='_id_') }}'.replace('_id_',button.id),

        //   settings_title: '{{ _('Edit button') }} ' + button.name,
        //   ignore_title: '{{ _('Ignore button') }} ' + button.name,
        //   delete_title: '{{ _('Delete button') }} ' + button.name,

        //   button_id: button.id,
        //   button:  (!button.dimmer ? 'button_' + button.id : null),
        //   dimmer: (button.dimmer  ? 'button_' + button.id : null),

        //   graph: 'graph_' + button.id
        // },{ append: true, bindingOptions: {ignoreNull : true}});

        button_state(button);

        new graph('graph_' + button.id, '{{ url_for("api:button_history", button="_id_") }}'.replace('_id_',button.id), button.hardware);
      });
    });
  });
</script>
{% endblock page_content %}