{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Buttons') }}{% endblock %}
{% block page_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
      <div style="width: 80%; text-align: center; margin: 5% 30%" class="zero_message fuckbs-d-none">
        <div class="callout callout-info">
          <h5>{{ _('No buttons') }}</h5>
          <p class="pt-3">
            {% if authenticated %}
            <a href="#" class="btn btn-primary active" style="text-decoration: none;" role="button" aria-pressed="true" data-toggle="modal" data-target="#modal-button-setup" >{{ _('Add new button') }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-primary">{{ _('Login to make changes') }}</a>
            {% endif %}
          </p>
        </div>
      </div>
      <!-- Left col -->
      <div class="col" id="button_list">
        <script type="text/html" id="button_template">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1">
                <i class="fas fa-fw fa-thumbtack mr-2" ></i><span data-content="name">...</span>
                <small class="ml-2 text-muted">{{ _('Last update') }}: <span class="last_update"  data-template-bind='[
                  {"attribute": "content", "value": "last_update", "formatter": "datetimeformatter", "formatOptions": "LLLL"} ]'
                ></span></small>
              </h3>
              <small data-template-bind='[
                {"attribute": "class", "value": "error", "formatter": "prefixer", "formatOptions": "badge badge-danger "} ]'
              >{{ _('error') }}</small>
              <small class="badge badge-warning fuckbs-d-none">{{ _('warning') }}</small>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a data-href="export_link" data-id="id" class="dropdown-item export_link" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Export button') }} "} ]'>
                    <i class="fas fa-file-export mr-1"></i> {{ _('Export') }}
                    </a>
                    <a data-href="edit_link" class="dropdown-item" data-toggle="modal" data-target="#modal-button-setup" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit button') }} "} ]'>
                      <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }}
                    </a>
                    <a data-href="ignore_link" class="dropdown-item" data-action="PUT" data-field="value" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Ingore button') }} "} ]'>
                      <i class="fas fa-ban mr-1"></i> {{ _('Ignore') }}
                    </a>
                    <a data-href="delete_link" class="dropdown-item" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete button') }} "} ]'>
                      <i class="fas fa-trash-alt mr-1"></i> {{ _('Delete') }}
                    </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="d-md-flex">
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 text-center">
                  <h1 class="display-1 pt-3" style="font-size: 8rem;"><i class="fas" data-id="button"></i></h1>
                </div><!-- /.card-pane-right -->
                <div class="col-12 col-sm-12 col-md-9 col-lg-10 pt-2">
                  <div class="overlay">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                  </div>
                  <canvas data-id="graph" class="graph"></canvas>
                </div>
              </div> <!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </script>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/. container-fluid -->
</section>
<!-- /.content -->
<script>
  jQuery(function () {
    jQuery.get('{{ url_for("api:button_list") }}',function(data) {
      data = data.data;
      // Sort the buttons based on the given button name
      data.sort((a, b) => a.name.localeCompare(b.name));

      if (data.length > 0) {
        jQuery('.zero_message').remove();
      } else {
        jQuery('.zero_message').show();
      }

      jQuery.each(data,function(counter, button) {
        button.export_link      = '{{ url_for('api:button_history', filter='_id_', action="export") }}'.replace('_id_',button.id);
        button.edit_link        = '{{ url_for('api:button_detail',  button='_id_') }}'.replace('_id_',button.id);
        button.delete_link      = '{{ url_for('api:button_delete',  button='_id_') }}'.replace('_id_',button.id);
        button.ignore_link      = '{{ url_for('api:setting_update', setting='exclude_ids') }}';

        button.error   = (button.value != null ? 'fuckbs-d-none' : '');
        button.button  = 'button_' + button.id;

        button.graph  = 'graph_' + button.id;

        $('#button_list').loadTemplate($('#button_template'), button, { append: true, bindingOptions: {ignoreNull : true}});
        button_state(button);
        new graph('graph_' + button.id, '{{ url_for("api:button_history", button="_id_") }}'.replace('_id_',button.id), button.hardware);
      });
    });
  });
</script>
{% endblock page_content %}