{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Calendar') }}{% endblock %}
{% block options %}
<ol class="breadcrumb float-right ">
  {% if authenticated %}
  <li class="breadcrumb-item"><a href="{{ url_for('api:calendar_download') }}" target="_blank" title="{{ _('Download iCal') }}"><i class="fas fa-download pt-1 mr-1"></i> {{ _('Download iCal') }}</a></li>
  <!-- <li class="breadcrumb-item "><i class="fas fa-wrench pt-1 mr-1"></i> {{ _('Settings') }}</li> -->
  {% else %}
  <li class="breadcrumb-item "><a href="{{ url_for('login') }}" title="{{ _('Login to make changes') }}"><i class="fas fa-wrench pt-1 mr-1"></i> {{ _('Login to make changes') }}</a></li>
  {% endif %}
</ol>
{% endblock options %}

{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-body p-0">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  jQuery(function () {
    // Event editing modal window
    let event_modal = jQuery('#modal-event-setup');

    let calendar = new FullCalendar.Calendar(jQuery('#calendar')[0], {
      locale: window.terrariumPI.language.substring(0,2),
      headerToolbar: {
        left  : 'prev,next today',
        center: 'title',
        right : 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      themeSystem: 'bootstrap',

      events: {
        url: '{{ url_for("api:calendar_list") }}'
      },

      droppable : false, // this allows things to be dropped onto the calendar !!!
      {% if authenticated %}
      editable  : true,
      selectable: true,

      eventMouseEnter : function(data) {
        let event = jQuery(data.el);
        let delete_link = jQuery('<a>').css({'z-index':'9','position':'relative'}).addClass('float-right text-white mr-2').attr({'href':'{{ url_for("api:calendar_detail", calendar="_id_") }}'.replace('_id_',data.event._def.publicId),'title':'{{ _('Delete event {title}') }}'.replace('{title}',event.text()),'data-action' : 'DELETE', 'data-toggle' : 'modal', 'data-target' : '#modal-confirm' }).append(jQuery('<i>').addClass('fas fa-trash-alt'))
        event.parent().prepend(delete_link);
      },
      eventMouseLeave: function(data) {
        jQuery(data.el).parent().find('i.fa-trash-alt').remove();
      },
      select: function(dateClickInfo) {
        let single_day = (dateClickInfo.end - dateClickInfo.start) <= 86400000;
        event_modal.find('input#dtstart').val(moment(dateClickInfo.start).unix());
        if (!single_day) {
          event_modal.find('input#dtend').val(moment(dateClickInfo.end - 86400000).unix());
        } else {
          event_modal.find('input#dtend').val('');
        }

        let fakehref = jQuery('<a>').attr({'data-toggle':'modal','data-target':'#modal-event-setup'}).attr({'id': 'cl_' + dateClickInfo.start, 'href':'#'});
        // Need to add to the body in order make the modal work
        jQuery('body').append(fakehref);
        fakehref.click();
        fakehref.remove();
      },

      eventClick: function(eventClickInfo) {
        let fakehref = jQuery('<a>').attr({'data-toggle':'modal','data-target':'#modal-event-setup'}).attr({'id': 'cl_' + eventClickInfo.event.id, 'href':'{{ url_for("api:calendar_detail", calendar="_id_") }}'.replace('_id_',eventClickInfo.event.id)});
        // Need to add to the body in order make the modal work
        jQuery('body').append(fakehref);
        fakehref.click();
        fakehref.remove();
      },

      eventDrop: function(changeInfo) {
        jQuery.get('{{ url_for("api:calendar_detail", calendar="_id_") }}'.replace('_id_',changeInfo.event.id), function(event_data){
          event_data.dtstart = moment(changeInfo.event.start).unix();
          event_data.dtend = (changeInfo.event.end ? moment(changeInfo.event.end).unix() : null);

          let form = event_modal.find('form');

          form.attr({'method':'put','action':'{{url_for('api:calendar_detail',calendar='_id_')}}'.replace('_id_',event_data.uid)})

          form.find('input#uid').val(event_data.uid);
          form.find('input#summary').val(event_data.summary);
          form.find('textarea#description').val(event_data.description);

          form.find('input#dtstart').val(event_data.dtstart);
          form.find('input#dtend').val(event_data.dtstart != event_data.dtend ? event_data.dtend : null);

          form.find('select#freq').val(event_data.freq ? event_data.freq : '_');
          form.find('select#interval').val(event_data.interval ? event_data.interval : null);

          form.trigger('submit');
        });
      },

      eventResize: function(changeInfo) {
        jQuery.get('{{ url_for("api:calendar_detail", calendar="_id_") }}'.replace('_id_',changeInfo.event.id), function(event_data){
          event_data.dtstart = moment(changeInfo.event.start).unix();
          event_data.dtend = (changeInfo.event.end ? moment(changeInfo.event.end).unix() : null);

          let form = event_modal.find('form');

          form.attr({'method':'put','action':'{{url_for('api:calendar_detail',calendar='_id_')}}'.replace('_id_',event_data.uid)})

          form.find('input#uid').val(event_data.uid);
          form.find('input#summary').val(event_data.summary);
          form.find('textarea#description').val(event_data.description);

          form.find('input#dtstart').val(event_data.dtstart);
          form.find('input#dtend').val(event_data.dtstart != event_data.dtend ? event_data.dtend : null);

          form.find('select#freq').val(event_data.freq ? event_data.freq : '_');
          form.find('select#interval').val(event_data.interval ? event_data.interval : null);

          form.trigger('submit');
        });
      },

      {% else %}
      editable  : false,
      selectable: false,
      {% endif %}

      eventDidMount: function(info) {
        let end = info.event.end || moment(info.event.start).add(1,'days');
        tippy(info.el, {
          allowHTML: true,
          followCursor: 'horizontal',
          content: '<strong>' + info.event.title + '</strong><br />' +
                    info.event.extendedProps.description + '<br /><strong>' + '{{ _('Duration') }}:' + '</strong> ' +
                    moment.duration(end - info.event.start).humanize(),
        });
      },
    });

    calendar.render();
  });
</script>
{% endblock page_content %}