{% extends "layouts/base.html" %}
{% block title %}{{ _('Dashboard') }}{% endblock %}
{% block body_class %}{% endblock body_class %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row dashboard">
        <div class="col-12 col-lg-4">
          <div class="info-box">
            <span class="info-box-icon bg-secondary elevation-1">
              <i class="fas fa-hourglass-end" data-fa-transform="rotate-90"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">{{ _('Up time') }}</span>
              <span class="info-box-number">...</span>
            </div>
            <div class="progress vertical progress-sm" style="height: 55px;">
              <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 0%">
                <span class="sr-only">0%</span>
              </div>
            </div>
            <div class="progress vertical progress-sm" style="height: 55px;">
              <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 0%">
                <span class="sr-only">0%</span>
              </div>
            </div>
            <div class="progress vertical progress-sm" style="height: 55px;">
              <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 0%">
                <span class="sr-only">0%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1 float">
              <i class="fas fa-bolt"></i>
            </span>
            <div class="info-box-content" style="z-index: 2;" id="power_usage">
              <span class="info-box-text">{{ _('Power usage in Watt') }}</span>
              <span class="info-box-number">0 / 0</span>
              <div class="progress">
                <div class="progress-bar bg-danger" style="width: 0%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1 float">
              <i class="fas fa-tint"></i>
            </span>
            <div class="info-box-content" style="z-index: 2;" id="flow_usage">
              <span class="info-box-text">{{ _('Water flow in %s') % units.water_flow.value }}</span>
              <span class="info-box-number">0 / 0</span>
              <div class="progress">
                <div class="progress-bar bg-info" style="width: 0%"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1 float">
              <i class="fas fa-bolt"></i>
            </span>
            <div class="info-box-content" style="z-index: 2;" id="total_power">
              <span class="info-box-text">{{ _('Total power usage') }}</span>
              <span class="info-box-number"><span>0</span> {{ _('kWh') }}</span>
              <span class="description-percentage">
                <span class="text-success">&euro; 0</span>
                <small>
                  {{ _('in') }} <span></span>
                </small>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1 float">
              <i class="fas fa-tint"></i>
            </span>
            <div class="info-box-content" style="z-index: 2;" id="total_flow">
              <span class="info-box-text">{{ _('Total water usage') }}</span>
              <span class="info-box-number"><span>0</span> {{ units.volume.value }}</span>
              <span class="description-percentage">
                <span class="text-success">&euro; 0</span>
                <small>
                  {{ _('in') }} <span></span>
                </small>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-row-reverse">
        {% if show_environment %}
        <div class="col-12 col-md-3 hide_environment">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-globe mr-2"></i>{{ _('Enclosures') }}</h3>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a href="#" class="dropdown-item" title="Edit enclosures" onclick="load_page('{{ url_for('page', page='enclosures') }}')">
                      <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }}
                    </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" onclick="jQuery(this).parents('div.hide_environment').remove();">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div id="accordion">
              </div>
              <script type="text/html" id="area_table_row">
                <tr>
                  <td colspan="2">
                    <i data-class="icon" data-title="type"> </i>
                    <span data-content="name"></span>
                    <small class="text-muted ml-2 mr-2" data-template-bind='[
                    {"attribute": "content", "value": "mode", "formatter": "prefixer", "formatOptions": "mode: "} ]'></small>
                  </td>
                  <td class="text-right">
                    <small class="badge" title="Current status" data-template-bind='[
                    {"attribute": "class", "value": "status", "formatter": "prefixer", "formatOptions": "badge "},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_relay_state_"}
                      ]'>&nbsp;&nbsp;</small>
                  </td>
                </tr>
                <tr data-class="state.day" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                  <td >{{ _('Day') }}:</td>
                  <td>
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.day.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_day_start_"} ]'></span>
                    -
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.day.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_day_end__"} ]'></span>

                    (<span data-template-bind='[
                    {"attribute": "content", "value": "state.day.duration", "formatter": "durationformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_day_duration_"} ]'></span>)
                  </td>
                  <td></td>
                </tr>
                <tr data-class="state.night" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                  <td >{{ _('Night') }}:</td>
                  <td colspan="2">
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.night.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_night_start_"} ]'></span>
                    -
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.night.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_night_end_"} ]'></span>

                    (<span data-template-bind='[
                    {"attribute": "content", "value": "state.night.duration", "formatter": "durationformatter"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_night_duration_"} ]'></span>)
                  </td>
                </tr>
                <tr data-class="state.low.begin" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                  <td >{{ _('Low') }}:</td>
                  <td colspan="2">
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.low.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_low_start_"} ]'></span>
                    -
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.low.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_low_end_"} ]'></span>

                    (<span data-template-bind='[
                    {"attribute": "content", "value": "state.low.duration", "formatter": "durationformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_low_duration_"} ]'></span>)
                  </td>
                  <!-- <td></td> -->
                </tr>
                <tr data-class="state.high.begin" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                  <td >{{ _('High') }}:</td>
                  <td colspan="2">
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.high.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_high_start_"} ]'></span>
                    -
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.high.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_high_end_"} ]'></span>

                    (<span data-template-bind='[
                    {"attribute": "content", "value": "state.high.duration", "formatter": "durationformatter"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_high_duration_"} ]'></span>)
                  </td>
                  <!-- <td></td> -->
                </tr>
                <tr data-class="state.sensors" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                  <td >{{ _('Current') }}:</td>
                  <td>
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.sensors.current", "formatter" : "numberformatter", "formatOptions" : "2"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_current_"} ]'></span><span data-template-bind='[
                    {"attribute": "content", "value": "type", "formatter" : "unitformatter" }]'></span>

                    (<span data-template-bind='[
                    {"attribute": "content", "value": "state.sensors.alarm_min", "formatter" : "numberformatter", "formatOptions" : "2" },
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_alarm_min_"}  ]'></span><span data-template-bind='[
                    {"attribute": "content", "value": "type", "formatter" : "unitformatter" } ]'></span>
                      -
                    <span data-template-bind='[
                    {"attribute": "content", "value": "state.sensors.alarm_max", "formatter" : "numberformatter", "formatOptions" : "2"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_alarm_max_"}  ]'></span><span data-template-bind='[
                    {"attribute": "content", "value": "type", "formatter" : "unitformatter" } ]'></span>)
                  </td>
                  <td class="text-right">
                    <i data-template-bind='[
                    {"attribute": "class", "value": "warning"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_warning_"} ]'> </i>
                  </td>
                </tr>
              </script>
              <script type="text/html" id="enclosure_template">
                <div class="card card-secondary">
                  <div class="card-header">
                    <h4 class="card-title w-100">
                      <a class="" data-toggle="collapse" data-href="collapse_link" data-content="name"></a>
                      <i class="fas fa-lock float-right" data-template-bind='[
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_door_"}
                      ]'></i>
                    </h4>
                  </div>
                  <div data-id="collapse_id" class="collapse" data-parent="#accordion" data-css="enclosure_image">
                    <div class="card-body pl-1 pr-1 dot-bg">
                      <table class="table table-sm">
                        <tbody
                        data-template-bind='[
                          {"attribute": "content", "value": "areas", "formatter": "nestedTemplateFormatter", "formatOptions": "#area_table_row "} ]'
                        >
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </script>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col" id="sensor_list">
          <script type="text/html" id="sensor_template">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title mr-1">
                  <i class="fas fa-fw mr-2" data-class="icon"></i><span data-content="name">...</span>
                  <small class="ml-2 text-muted"><br />{{ _('Last update') }}: <span class="last_update"  data-template-bind='[
                    {"attribute": "content", "value": "last_update", "formatter": "datetimeformatter", "formatOptions": "LLLL"} ]'
                  ></span></small>
                </h3>
                <small data-template-bind='[
                    {"attribute": "class", "value": "error", "formatter": "prefixer", "formatOptions": "badge badge-danger "} ]'
                >{{ _('error') }}</small>
                <small class="badge badge-warning fuckbs-d-none">{{ _('warning') }}</small>

                <div class="card-tools">
                  <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-calendar-alt"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a href="#" class="dropdown-item active" title="{{ _('Day') }}">{{ _('Day') }}</a>
                      <a href="#" class="dropdown-item" title="{{ _('Week') }}">{{ _('Week') }}</a>
                      <a href="#" class="dropdown-item" title="{{ _('Month') }}">{{ _('Month') }}</a>
                      <a href="#" class="dropdown-item" title="{{ _('Year') }}">{{ _('Year') }}</a>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      {% if authenticated %}
                      <a data-href="export_link" data-id="id" class="dropdown-item export_link" data-template-bind='[
                      {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Export sensor') }} "} ]'>
                      <i class="fas fa-file-export mr-1"></i> {{ _('Export') }}
                      </a>
                      {% else %}
                        <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                      {% endif %}
                    </div>
                  </div>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="row">
                  <div class="col text-center pt-1">
                    <canvas data-id="gauge" class="gauge"></canvas>
                  </div>
                  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <div class="overlay">
                      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                    </div>
                    <canvas data-id="graph" class="graph"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </script>
        </div>
      </div>
    </div>
  </section>
  <script>
    jQuery(function () {
      websocket_message({ 'type' : 'load_dashboard'});

      setTimeout(function(){
        jQuery.get('{{ url_for("api:enclosure_list") }}',function(data){

          jQuery.each(data.data,function(counter,enclosure) {
            // Accordion toggle + link
            enclosure.collapse_link   = '#enclosure_' + enclosure.id;
            enclosure.collapse_id     = 'enclosure_'  + enclosure.id;
            enclosure.enclosure_image = { 'background' : 'url(' + enclosure.image + ') no-repeat 100% 0%', 'background-size' : 'auto 100%' };

            // Sort areas based on name
            enclosure.areas.sort((a, b) => a.name.localeCompare(b.name));
            jQuery.each(enclosure.areas,function(counter, area) {
              if (area.setup.sensors !== undefined && area.setup.sensors.length == 0) {
                delete(area.state.sensors);
              }

              icontype = (area.setup.main_lights ? 'main ' : '') + area.type
              area.icon    = 'mr-1 fas ' + template_sensor_type_icon(icontype) + ' ' + template_sensor_type_color(icontype);

              // TODO: Translate the area type names...
              area.status  = (area.state.powered === true ? 'badge-success' : (area.state.powered === false ? 'badge-secondary' : ''));
              if (area.state.sensors != undefined) {
                area.warning = 'fas fa-exclamation-triangle text-danger' + (area.state.sensors.alarm ? '' : ' d-none');
              }
            });
            jQuery('#accordion').loadTemplate(jQuery('#enclosure_template'),enclosure,{ append: true, });
          });

          jQuery('#accordion .card-title a:first').trigger('click');
        });

        jQuery.get('{{ url_for("api:sensor_list") }}',function(data){
          data = data.data;
          loaded_sensor_type = {};
          // Sort the sensors based on the given sensor type
          data.sort((a, b) => a.type.localeCompare(b.type));

          // Preprocess the data
          jQuery.each(data,function(counter,sensor) {
            if (!sensor.exclude_avg) {
              // Create new sensor type based average
              if (!loaded_sensor_type[sensor.type]) {
                loaded_sensor_type[sensor.type] = {
                  value : [],
                  limit_min: [],
                  limit_max : [],
                  alarm_min: [],
                  alarm_max : []
                }
              }

              // Store the individual values per sensor type
              loaded_sensor_type[sensor.type].value.push(sensor.value);
              loaded_sensor_type[sensor.type].limit_min.push(sensor.limit_min);
              loaded_sensor_type[sensor.type].limit_max.push(sensor.limit_max);
              loaded_sensor_type[sensor.type].alarm_min.push(sensor.alarm_min);
              loaded_sensor_type[sensor.type].alarm_max.push(sensor.alarm_max);
          }
          });

          // Show the data...
          jQuery.each(loaded_sensor_type, function(sensor_type, sensor) {

            sensor.name = ('{{ _('average {sensor_type}') }} '.replace('{sensor_type}',window.terrariumPI.units[sensor_type]['name'])).capitalize();

            sensor.icon = template_sensor_type_icon(sensor_type);

            sensor.export_link      = '{{ url_for('api:sensor_history', filter='_id_', action="export") }}'.replace('_id_',sensor_type);
            sensor.edit_link        = '{{ url_for('api:sensor_detail',  sensor='_id_') }}'.replace('_id_',sensor_type);
            sensor.delete_link      = '{{ url_for('api:sensor_delete',  sensor='_id_') }}'.replace('_id_',sensor_type);
            sensor.ignore_link      = '{{ url_for('api:setting_update', setting='exclude_ids') }}';

            sensor.error   = (sensor.value != null ? 'fuckbs-d-none' : '');
            sensor.exclude = (!sensor.exclude_avg  ? 'fuckbs-d-none' : '');

            sensor.graph  = 'graph_avg_' + sensor_type;
            sensor.gauge  = 'gauge_avg_' + sensor_type;

            $('#sensor_list').loadTemplate($('#sensor_template'), sensor,{ append: true});

            new sensor_gauge('gauge_avg_' + sensor_type,
                              sensor_type,
                              sensor.value.avg(),
                              sensor.limit_min.avg(),
                              sensor.limit_max.avg(),
                              sensor.alarm_min.avg(),
                              sensor.alarm_max.avg());

            new graph('graph_avg_' + sensor_type, '{{ url_for("api:sensor_type_history", action="history", filter="_id_") }}'.replace('_id_',sensor_type), sensor_type);
          });
        });
      },500);
    });
  </script>
</div>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
