{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Enclosures') }}{% endblock %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div style="width: 80%; text-align: center; margin: 5% 30%" class="zero_message fuckbs-d-none">
        <div class="callout callout-info">
          <h5>{{ _('No enclosures') }}</h5>
          <p class="pt-3">
            {% if authenticated %}
            <a href="#" class="btn btn-primary active" style="text-decoration: none;" role="button" aria-pressed="true" data-toggle="modal" data-target="#modal-enclosure-setup">{{ _('Add new enclosure') }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-primary" title="{{ _('Login to make changes') }}">{{ _('Login to make changes') }}</a>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col" id="enclosure_list">
        <script type="text/html" id="area_table_row">
          <tr>
            <td data-content="name" class="align-middle pl-0"></td>
            <td data-content="type" class="align-middle"></td>
            <td data-content="mode" class="align-middle"></td>
            <td>
              <table class="table table-sm mb-0">
                <tr >
                  <td style="width: 10px" class="align-middle border-top-0 pl-0"><small class="badge" title="Current status" data-template-bind='[
                    {"attribute": "class", "value": "status", "formatter": "prefixer", "formatOptions": "badge "},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_relay_state_"}
                      ]'>&nbsp;&nbsp;</small>
                  </td>
                  <td class="border-top-0">
                    <div data-class="state.day" class="text-nowrap" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                      {{ _('Day') }}:
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.day.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_day_start_"} ]'></span>
                      -
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.day.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_day_end__"} ]'></span>

                      (<span data-template-bind='[
                      {"attribute": "content", "value": "state.day.duration", "formatter": "durationformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_day_duration_"} ]'></span>)
                    </div>
                    <div data-class="state.night" class="text-nowrap" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                      {{ _('Night') }}:
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.night.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_night_start_"} ]'></span>
                      -
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.night.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_night_end_"} ]'></span>

                      (<span data-template-bind='[
                      {"attribute": "content", "value": "state.night.duration", "formatter": "durationformatter"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_night_duration_"} ]'></span>)
                    </div>
                    <div data-class="state.low.begin" class="text-nowrap" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                      {{ _('Low') }}:
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.low.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_low_start_"} ]'></span>
                      -
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.low.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_low_end_"} ]'></span>

                      (<span data-template-bind='[
                      {"attribute": "content", "value": "state.low.duration", "formatter": "durationformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_low_duration_"} ]'></span>)
                    </div>
                    <div data-class="state.high.begin" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                      {{ _('High') }}:
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.high.begin", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_high_start_"} ]'></span>
                      -
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.high.end", "formatter": "datetimeformatter", "formatOptions": "LTS"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_high_end_"} ]'></span>

                      (<span data-template-bind='[
                      {"attribute": "content", "value": "state.high.duration", "formatter": "durationformatter"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_high_duration_"} ]'></span>)
                    </div>
                    <div data-class="state.sensors" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}'>
                      {{ _('Current') }}:
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.sensors.current", "formatter" : "numberformatter", "formatOptions" : "2"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_current_"} ]'></span><span data-template-bind='[
                      {"attribute": "content", "value": "type", "formatter" : "unitformatter" }]'></span>

                      (<span data-template-bind='[
                      {"attribute": "content", "value": "state.sensors.alarm_min", "formatter" : "numberformatter", "formatOptions" : "2" },
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_alarm_min_"}  ]'></span><span data-template-bind='[
                      {"attribute": "content", "value": "type", "formatter" : "unitformatter" } ]'></span>
                        -
                      <span data-template-bind='[
                      {"attribute": "content", "value": "state.sensors.alarm_max", "formatter" : "numberformatter", "formatOptions" : "2"},
                      {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_alarm_max_"}  ]'></span><span data-template-bind='[
                      {"attribute": "content", "value": "type", "formatter" : "unitformatter" } ]'></span>)
                    </div>
                  </td>
                  <td class="text-right border-top-0" style="width:10px">
                    <i data-template-bind='[
                    {"attribute": "class", "value": "warning"},
                    {"attribute": "id", "value": "id", "formatter": "prefixer", "formatOptions": "area_warning_"} ]'> </i>
                  </td>
                </tr>
              </table>
            </td>
            {% if authenticated %}
            <td class="actions text-right text-nowrap">
              <i class="fas fa-wrench edit_area" data-template-bind='[
                {"attribute": "id", "value": "id" },
                {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit area') }} "} ]'></i>
              <i class="fas fa-trash-alt delete_area" data-template-bind='[
                {"attribute": "id", "value": "id" },
                {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete area') }} "} ]'></i>
            </td>
            {% endif %}
          </tr>
        </script>
        <script type="text/html" id="enclosure_template">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1">
                <i class="fas fa-fw fa-globe mr-2" ></i><span data-content="name">...</span>
              </h3>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a href="#" class="dropdown-item" title="Add new area" data-toggle="modal" data-target="#modal-area-setup" data-template-bind='[
                    {"attribute": "data-enclosureid", "value": "id"}
                    ]'> <i class="fas fa-map mr-1"></i> {{ _('Add area') }} </a>

                    <a class="dropdown-item" data-toggle="modal" data-target="#modal-enclosure-setup" data-template-bind='[
                    {"attribute": "href", "value": "edit_link" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit enclosure') }} "} ]'> <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }} </a>
                    <a class="dropdown-item text-danger" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "href", "value": "delete_link" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete enclosure') }} "} ]'> <i class="fas fa-trash-alt mr-1"></i> {{ _('Delete') }} </a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="d-md-flex">
                <a class="col-12 col-sm-12 col-md-3 col-lg-2 text-center" data-fancybox data-title="name" data-href="image"> <img data-src="image" data-alt="name" class="img-thumbnail"> </a>
                <div class="col mt-2">
                  <p class="card-text" data-content="description" data-format="html"></p>
                </div>
                <div class="col-12 col-lg-7">
                  <h5 class="mt-2">{{ _('Areas') }}</h5>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th class="pl-0">{{ _('Name') }}</th>
                        <th>{{ _('Type') }}</th>
                        <th>{{ _('Mode') }}</th>
                        <th style="width:10%">{{ _('Status') }}</th>
                        {% if authenticated %}
                        <th class="actions text-right pr-4">{{ _('Actions') }}&nbsp;&nbsp;</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody data-template-bind='[
                      {"attribute": "content", "value": "areas", "formatter": "nestedTemplateFormatter", "formatOptions": "#area_table_row "} ]'> </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</section>
<script>
  jQuery(function () {
    jQuery.get({url: '{{ url_for("api:enclosure_list") }}', cache: '1' != Cookies.get('no-cache')}).then(function(data) {
      data = data.data;

      (data.length > 0 ? jQuery('.zero_message').remove() : jQuery('.zero_message').show());

      jQuery.each(data,function(counter,enclosure) {

        enclosure.edit_link   = '{{ url_for('api:enclosure_update', enclosure='_id_') }}'.replace('_id_',enclosure.id);
        enclosure.delete_link = '{{ url_for('api:enclosure_delete', enclosure='_id_') }}'.replace('_id_',enclosure.id);

        jQuery.each(enclosure.areas,function(counter, area){
          area.status  = (area.state.powered === true ? 'badge-success' : (area.state.powered === false ? 'badge-secondary' : ''));
        });

        jQuery('#enclosure_list').loadTemplate(jQuery('#enclosure_template'), enclosure, {
          append: true,
          bindingOptions: {
            ignoreEmptyString: true
          }
        });

        {% if authenticated %}
          jQuery('table .action').show();
        {% else %}
          jQuery('table .action').hide();
        {% endif %}
      });

      jQuery('i.edit_area').each(function(counter, element){
        element = jQuery(element);
        let link = '{{ url_for('api:area_update', area='_id_') }}'.replace('_id_',element.attr('id'));
        link = jQuery('<a>').addClass('btn btn-light btn-sm text-primary').attr({'role':'button','data-toggle':'modal', 'data-target' : '#modal-area-setup','href': link})
        element.wrap(link);
      });

      jQuery('i.delete_area').each(function(counter, element){
        element = jQuery(element);
        let link = '{{ url_for('api:area_delete', area='_id_') }}'.replace('_id_',element.attr('id'));
        link = jQuery('<a>').addClass('btn btn-light btn-sm text-danger').attr({'role':'button','data-action' : 'DELETE', 'data-toggle':'modal', 'data-target' : '#modal-confirm','title' : jQuery(this).attr('title'), 'href': link})
        element.wrap(link);
      });
    });
  });
</script>
{% endblock page_content %}