{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Enclosures') }}{% endblock %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div style="width: 80%; text-align: center; margin: 5% 30%" class="zero_message fuckbs-d-none">
        <div class="callout callout-info">
          <h5>{{ _('No enclosures') }}</h5>
          <p class="pt-3">
            {% if authenticated %}
            <a href="#" class="btn btn-primary active" style="text-decoration: none;" role="button" aria-pressed="true" data-toggle="modal" data-target="#modal-enclosure-setup">{{ _('Add new enclosure') }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-primary">{{ _('Login to make changes') }}</a>
            {% endif %} </p>
        </div>
      </div>

      <div class="col" id="enclosure_list">
        <script type="text/html" id="area_table_row">
          <tr>
            <td data-content="name" ></td>
            <td data-content="type" ></td>
            <td data-content="mode"></td>
            <td> .. </td>
            {% if authenticated %}
            <td class="actions text-center">
              <i class="fas fa-wrench edit_area" data-template-bind='[
                {"attribute": "id", "value": "id" },
                {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit area') }} "} ]'></i>
              <i class="fas fa-trash-alt delete_area" data-template-bind='[
                {"attribute": "id", "value": "id" },
                {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete area') }} "} ]'></i>
            </td>
            {% endif %}
          </tr>
        </script>
        <script type="text/html" id="enclosure_template">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-globe mr-2"></i><span data-content="name">...</span></h3> <small class="badge badge-danger"></small> <small class="badge badge-warning"></small> <small class="badge badge-primary"></small>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-wrench"></i> </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a href="#" class="dropdown-item" title="Add new area" data-toggle="modal" data-target="#modal-area-setup"> <i class="fas fa-map mr-1"></i> {{ _('Add area') }} </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#modal-enclosure-setup" data-template-bind='[
                    {"attribute": "href", "value": "edit_link" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit enclosure') }} "} ]'> <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }} </a>
                    <a class="dropdown-item text-danger" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "href", "value": "delete_link" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete enclosure') }} "} ]'> <i class="fas fa-trash-alt mr-1"></i> {{ _('Delete') }} </a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"> <i class="fas fa-minus"></i> </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove"> <i class="fas fa-times"></i> </button>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-4 col-lg-2">
                <a data-fancybox data-title="name" data-href="image"> <img data-src="image" data-alt="name" class="img-thumbnail"> </a>
              </div>
              <div class="col-8 col-lg-2 card-body">
                <p class="card-text" data-content="description" data-format="html"></p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
              <div class="col-12 col-lg-8">
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col">
                      <h5>{{ _('Areas') }}</h5>
                      <table class="table table-sm">
                        <thead>
                          <tr>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Type') }}</th>
                            <th>{{ _('Mode') }}</th>
                            <th>{{ _('Status') }}</th>
                            {% if authenticated %}
                            <th class="actions text-center">{{ _('Actions') }}</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody data-template-bind='[
                          {"attribute": "content", "value": "areas", "formatter": "nestedTemplateFormatter", "formatOptions": "#area_table_row "} ]'> </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</section>
<script>
  jQuery(function () {
    jQuery.get('{{ url_for("api:enclosure_list") }}',function(data){
      data = data.data;

      (data.length > 0 ? jQuery('.zero_message').remove() : jQuery('.zero_message').show());

      jQuery.each(data,function(counter,enclosure) {

        enclosure.edit_link   = '{{ url_for('api:enclosure_update', enclosure='_id_') }}'.replace('_id_',enclosure.id);
        enclosure.delete_link = '{{ url_for('api:enclosure_delete', enclosure='_id_') }}'.replace('_id_',enclosure.id);
        jQuery('#enclosure_list').loadTemplate(jQuery('#enclosure_template'), enclosure, {
          append: true,
        });

        {% if authenticated %}
          jQuery('table .action').show();
        {% else %}
          jQuery('table .action').hide();
        {% endif %}
      });

      jQuery('i.edit_area').each(function(counter, element){
        element = jQuery(element);
        let link = '{{ url_for('api:area_update', area='_id_') }}'.replace('_id_',element.attr('id'));
        link = jQuery('<a>').addClass('btn btn-light btn-sm text-primary').attr({'role':'button','data-toggle':'modal', 'data-target' : '#modal-area-setup','href': link})
        element.wrap(link);
      });

      jQuery('i.delete_area').each(function(counter, element){
        element = jQuery(element);
        let link = '{{ url_for('api:area_delete', area='_id_') }}'.replace('_id_',element.attr('id'));
        link = jQuery('<a>').addClass('btn btn-light btn-sm text-danger').attr({'role':'button','data-action' : 'DELETE', 'data-toggle':'modal', 'data-target' : '#modal-confirm','title' : jQuery(this).attr('title'), 'href': link})
        element.wrap(link);
      });
    });
  });
</script>
{% endblock page_content %}