{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Notifications') }}{% endblock %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-fw fa-bell mr-2" ></i> {{ _('Notification services') }}</h3>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a href="#" class="dropdown-item" title="{{ _('Add new service') }}" data-toggle="modal" data-target="#modal-service-setup"> <i class="fas fa-bell mr-1"></i> {{ _('Add service') }} </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">



              <div class="row" id="service_overview">

                <div class="overlay d-flex justify-content-center align-items-center loading">
                  <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-fw fa-envelope-open-text mr-2" ></i> {{ _('Notification messages') }}</h3>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a href="#" class="dropdown-item" title="{{ _('Add new message') }}" data-toggle="modal" data-target="#modal-message-setup"> <i class="fas fa-envelope-open-text mr-1"></i> {{ _('Add message') }} </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div>
                <div class="message_loading overlay d-flex justify-content-center align-items-center loading">
                  <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Subject</th>
                      <th>Message</th>
                      <th>Rate limit</th>
                      <th>Enabled</th>
                      <th>Services</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="messages_overview">

                  </tbody>
                </table>


              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<script type="text/html" id="notification_service_template">
<div class="col-2">
  <div class="info-box text-body" >
    <a data-href="edit" data-toggle="modal" data-target="#modal-service-setup" data-class="color" class="info-box-icon"><i class="fa-fw" data-class="icon"></i></a>

    <div class="info-box-content">
      <span class="info-box-text" data-content="name"></span>
      <span class="info-box-number" data-content="rate_limit"></span>
      <span class="info-box-text">Enabled: <span data-content="enabled"></span></span>

      <a data-href="delete_link" data-title="delete_title" class="float-right mr-2 mt-2 d-block text-danger" style="visibility:hidden; position: absolute; z-index:99; top: 0px; right: 0px" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm">
        <i class="fas fa-fw fa-trash-alt"></i>
      </a>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="notification_message_template">
<tr>
  <td data-content="id"></td>
  <td data-content="title"></td>
  <td data-content="message"></td>
  <td data-content="rate_limit"></td>
  <td data-content="enabled"></td>
  <td data-content="services">


  </td>

  <td class="actions">

    <i class="fas fa-fw fa-wrench edit_message" data-template-bind='[
    {"attribute": "id", "value": "id" },
    {"attribute": "title", "value": "title", "formatter": "prefixer", "formatOptions": "{{ _('Edit message') }} "} ]'></i>
    <i class="fas fa-fw fa-trash-alt delete_area" data-template-bind='[
    {"attribute": "id", "value": "id" },
    {"attribute": "title", "value": "title", "formatter": "prefixer", "formatOptions": "{{ _('Delete message') }} "} ]'></i>
  </td>

</tr>
</script>
<style>
div.info-box:hover div.info-box-content a {
  visibility: visible !important;
}

div#services .btn.btn-app i:not(.active) {
  color: gray !important;
}
</style>
<script>
  jQuery(function () {
    jQuery.get({url: '{{ url_for("api:notification_service_list") }}', cache: '1' != Cookies.get('no-cache')}).then(function(data) {
      data = data.data;
      // Sort the buttons based on the given button name
      data.sort((a, b) => a.name.localeCompare(b.name));
      (data.length > 0 ? jQuery('.zero_message').remove() : jQuery('.zero_message').show());

      jQuery.each(data,function(counter, service) {
        service.icon = template_sensor_type_icon(service.type);
        service.color = 'bg-info';
        service.edit = '{{ url_for('api:notification_service_update',  service='_id_') }}'.replace('_id_',service.id);
        service.delete_link = '{{ url_for('api:notification_service_delete',  service='_id_') }}'.replace('_id_',service.id);
        service.delete_title = 'Delete service ' + service.name;

        switch (service.type) {
          case 'email':
            service.color = 'bg-warning';
          break;
        }

        if (service.rate_limit > 0) {
          service.rate_limit = 'Max {rate_limit} per minute'.replace('{rate_limit}',service.rate_limit);
        } else {
          service.rate_limit = 'Unlimited'
        }

        $('#service_overview').loadTemplate($('#notification_service_template'), service, { append: true, bindingOptions: {ignoreNull : true}});
      });
      jQuery('div#service_overview div.overlay').remove();
    });

    jQuery.get({url: '{{ url_for("api:notification_message_list") }}', cache: '1' != Cookies.get('no-cache')}).then(function(data) {
      (data.data.length > 0 ? jQuery('.zero_message').remove() : jQuery('.zero_message').show());

      jQuery.each(data.data, function(index, message){
        message.services.sort((a, b) => a.name.localeCompare(b.name));

        services = '';
        jQuery.each(message.services, function(counter, service){
          services += '<i class="fa-fw ' + template_sensor_type_icon(service.type) + (service.enabled ? ' text-warning' : '') +'" title="' + service.name + '" ></i>&nbsp;';
        });
        message.services = services;

        $('#messages_overview').loadTemplate($('#notification_message_template'), message, { append: true, bindingOptions: {ignoreNull : false}});

        let new_row = $('#messages_overview tr:last');

        jQuery('i.edit_message', new_row).each(function(counter, element){
          element = jQuery(element);
          let link = '{{ url_for('api:notification_message_update', message='_id_') }}'.replace('_id_',element.attr('id'));
          link = jQuery('<a>').addClass('btn btn-light btn-sm text-primary').attr({'role':'button','data-toggle':'modal', 'data-target' : '#modal-message-setup','href': link})
          element.wrap(link);
        });

        jQuery('i.delete_area', new_row).each(function(counter, element){
          element = jQuery(element);
          let link = '{{ url_for('api:notification_message_delete', message='_id_') }}'.replace('_id_',element.attr('id'));
          link = jQuery('<a>').addClass('btn btn-light btn-sm text-danger').attr({'role':'button','data-action' : 'DELETE', 'data-toggle':'modal', 'data-target' : '#modal-confirm','title' : jQuery(this).attr('title'), 'href': link})
          element.wrap(link);
        });
      });
      jQuery('div.message_loading.overlay').remove();
    });
  });
</script>

{% endblock page_content %}