{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Playlists') }}{% endblock %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mr-1"><i class="fas fa-play mr-2" data-class="icon"></i>{{ _('Playlists') }}</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="audio_files" class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('# Files') }}</th>
                <th>{{ _('Volume') }}</th>
                <th>{{ _('Shuffle') }}</th>
                <th>{{ _('Repeat') }}</th>
                <th>{{ _('Action') }}</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                  <th>{{ _('Name') }}</th>
                  <th>{{ _('Duration') }}</th>
                  <th>{{ _('# Files') }}</th>
                  <th>{{ _('Volume') }}</th>
                  <th>{{ _('Shuffle') }}</th>
                  <th>{{ _('Repeat') }}</th>
                  <th>{{ _('Action') }}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  jQuery(function () {
    jQuery('#audio_files').DataTable({
      responsive: true,
      autoWidth: false,

      ajax: {
        url: '{{ url_for("api:playlist_list") }}',
        dataSrc: function (json) {
          let data = json.data;
          let return_data = new Array();

          for(let i = 0; i < data.length; i++){
            {% if authenticated %}
            let edit_icon = jQuery('<a>').addClass('btn btn-light btn-sm text-primary').attr({'href':'{{ url_for("api:playlist_detail", playlist="_id_") }}'.replace('_id_',data[i].id), 'title' : '{{ _('Edit playlist') }} ' + data[i].name, 'data-toggle':'modal','data-target':'#modal-playlist-setup'}).append(jQuery('<i>').addClass('fas fa-wrench'));
            let delete_icon = jQuery('<a>').addClass('btn btn-light btn-sm text-danger').attr({'href':'{{ url_for("api:playlist_delete", playlist="_id_") }}'.replace('_id_',data[i].id) , 'title' : '{{ _('Delete playlist') }} ' + data[i].name, 'data-action':'DELETE','data-toggle':'modal','data-target':'#modal-confirm'}).append(jQuery('<i>').addClass('fas fa-trash-alt'));
            {% endif %}

            return_data.push({
              name     : data[i].name,
              duration : moment.duration(data[i].duration,'seconds').humanize(),
              files    : data[i].length,
              volume   : data[i].volume,
              shuffle  : (data[i].shuffle ? '<i class="fas fa-check">' : '<i class="fas fa-times">'),
              repeat   : (data[i].repeat  ? '<i class="fas fa-check">' : '<i class="fas fa-times">'),
              action   : '' {% if authenticated %} + edit_icon.prop('outerHTML') + ' ' + delete_icon.prop('outerHTML'){% endif %}
            });
          }
          return return_data;
        }
      },

      columns: [
        { data: 'name' },
        { data: 'duration' },
        { data: 'files' },
        { data: 'volume' },
        { data: 'shuffle' },
        { data: 'repeat' },
        { data: 'action', class: 'd-flex justify-content-around' },
      ]
    });
  });
</script>
{% endblock page_content %}
