{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Relays') }}{% endblock %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div style="width: 80%; text-align: center; margin: 5% 30%" class="zero_message fuckbs-d-none">
        <div class="callout callout-info">
          <h5>{{ _('No relays') }}</h5>
          <p class="pt-3">
            {% if authenticated %}
            <a href="#" class="btn btn-primary active" style="text-decoration: none;" role="button" aria-pressed="true" data-toggle="modal" data-target="#modal-relay-setup" >{{ _('Add new relay') }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-primary">{{ _('Login to make changes') }}</a>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col" id="relay_list">
        <script type="text/html" id="relay_template">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1">
                <i class="fas fa-fw fa-bolt mr-2"></i><span data-content="name">...</span>
                <small class="ml-2 text-muted">{{ _('Last update') }}: <span class="last_update"  data-template-bind='[
                  {"attribute": "content", "value": "last_update", "formatter": "datetimeformatter", "formatOptions": "LLLL"} ]'
                ></span></small>
              </h3>
              <small data-template-bind='[
                  {"attribute": "class", "value": "error", "formatter": "prefixer", "formatOptions": "badge badge-danger "} ]'
              >{{ _('error') }}</small>
              <small class="badge badge-warning fuckbs-d-none">{{ _('warning') }}</small>
              <small class="badge badge-primary" data-template-bind='[
              {"attribute": "class", "value": "manual", "formatter": "prefixer", "formatOptions": "badge badge-primary "} ]'
              >{{ _('Manual mode') }}</small>
              <div class="card-tools">
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item active" title="{{ _('Day') }}">{{ _('Day') }}</a>
                    <a href="#" class="dropdown-item" title="{{ _('Week') }}">{{ _('Week') }}</a>
                    <a href="#" class="dropdown-item" title="{{ _('Month') }}">{{ _('Month') }}</a>
                    <a href="#" class="dropdown-item" title="{{ _('Year') }}">{{ _('Year') }}</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a data-href="export_link" data-id="id" class="dropdown-item export_link" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Export relay') }} "} ]'>
                    <i class="fas fa-file-export mr-1"></i> {{ _('Export') }}
                    </a>
                    <a data-href="edit_link" data-id="id" class="dropdown-item" data-toggle="modal" data-target="#modal-relay-setup" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit relay') }} "} ]'>
                      <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }}
                    </a>
                    <a href="#replace_hardware" data-id="id" class="dropdown-item" data-toggle="modal" data-target="#modal-calendar-event" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Replace hardware') }} "} ]'>
                      <i class="fas fa-tools mr-1"></i> {{ _('Replace hardware') }}
                    </a>
                    <a data-href="manual_mode_link" data-id="id" class="dropdown-item" data-action="POST" data-field="value" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Manual mode relay') }} "} ]'>
                      <i class="fas fa-hand-paper mr-1"></i> {{ _('Manual mode') }}
                    </a>
                    <a data-href="ignore_link" data-id="id" class="dropdown-item" data-action="PUT" data-field="value" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Ingore relay') }} "} ]'>
                      <i class="fas fa-ban mr-1"></i> {{ _('Ignore') }}
                    </a>
                    <a data-href="delete_link" data-id="id" class="dropdown-item" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete relay') }} "} ]'>
                      <i class="fas fa-trash-alt mr-1"></i> {{ _('Delete') }}
                    </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="d-md-flex">
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 text-center">
                  <button type="button" data-title="toggle_title" class="btn btn-default mt-2 mb-2 text-secondary" data-id="relay" disabled="disabled">
                    <i class="fas fa-power-off" data-class="powered" style="font-size: 9rem;"></i>
                  </button>
                  <input type="text" class="dial" value="0" data-width="165" data-height="165" data-value="value" data-id="dimmer" data-min="0" data-max="100" data-angleArc="290" data-angleOffset="35">
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-10">
                  <div class="overlay">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                  </div>
                  <canvas data-id="graph" class="graph"></canvas>
                </div>
              </div>
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</section>
<script>
  {% if authenticated %}
  function toggle_relay(toggle_url) {
    jQuery.post(toggle_url,function(data){
      toastr.success('{{ _('Changed relay {name} to {state}') }}'.replace('{name}',data.name).replace('{state}',(data.dimmer ? data.value + '%' : (data.value == 0 ? 'off' : 'on'))), '{{ _('OK') }}');
    }).fail(function(response) {
      toastr.error('{{ _('Could not change the relay state of') }}: ' + response.message, '{{ _('Change error') }}');
    });
  }
  {% endif %}
  jQuery(function () {
    jQuery.get('{{ url_for("api:relay_list") }}',function(data) {
      data = data.data;
      // Sort the relays based on the given relay name
      data.sort((a, b) => a.name.localeCompare(b.name));
      (data.length > 0 ? jQuery('.zero_message').remove() : jQuery('.zero_message').show());
      jQuery.each(data,function(counter, relay) {
        relay.export_link      = '{{ url_for('api:relay_history',  relay='_id_', action="export") }}'.replace('_id_',relay.id);
        relay.edit_link        = '{{ url_for('api:relay_detail',   relay='_id_') }}'.replace('_id_',relay.id);
        relay.manual_mode_link = '{{ url_for('api:relay_manual',   relay='_id_') }}'.replace('_id_',relay.id);
        relay.delete_link      = '{{ url_for('api:relay_delete',   relay='_id_') }}'.replace('_id_',relay.id);
        relay.ignore_link      = '{{ url_for('api:setting_update', setting='exclude_ids') }}';

        relay.toggle_title     = {% if authenticated %}'{{ _('Toggle relay') }} ' + relay.name{% else %}'{{ _('Login to make changes') }}'{% endif %};

        relay.powered = (relay.value > 0 ? 'text-success' : '');

        relay.error  = (relay.value != null ? 'fuckbs-d-none' : '');
        relay.manual = (!relay.manual_mode  ? 'fuckbs-d-none' : '');

        relay.relay  = (!relay.dimmer ? 'relay_' + relay.id : null);
        relay.dimmer = (relay.dimmer  ? 'relay_' + relay.id : null);
        relay.graph  = 'graph_' + relay.id;

        $('#relay_list').loadTemplate($('#relay_template'), relay, {append: true, bindingOptions: {ignoreNull : true}});
        new graph('graph_' + relay.id, '{{ url_for("api:relay_history", action="history", relay="_id_") }}'.replace('_id_',relay.id), relay.hardware);
      });

      jQuery(".dial").knob({
        format   : function(value) { return formatNumber(value) + '%' },
        fgColor  : get_template_color('text-success',false,true),
        bgColor  : get_template_color('text-secondary',false,true),
        readOnly : {% if authenticated %}false{%else%}true{%endif%},
        {% if authenticated %}
        release : function(event){
          let knob = jQuery(this.i[0]);
          // Bug in knob. When trigger a change, the release is fired.
          // So we check if the data value 'update' is 1 if the change should be fired to the backend
          if (1 == knob.data('update')) {
            let old_value = this.val();
            let value = Math.round(event);
            if (old_value != value) {
              toggle_relay('{{ url_for("api:relay_action", relay="_id_", action="toggle") }}'.replace('_id_',knob.attr('id').replace('relay_','')).replace('toggle',value));
            }
          }
        },
        {% endif %}
      });

      jQuery('input.dial').data('update',1).prop('readonly',true).siblings('canvas').addClass('btn btn-default m-2 p-2 relay{% if not authenticated %} disabled{% endif %}');
      {% if authenticated %}
      jQuery('button[id^="relay_"]').off('click').on('click',function() {
        toggle_relay('{{ url_for("api:relay_action", relay="_id_", action="toggle") }}'.replace('_id_',this.id.replace('relay_','')));
      }).prop('disabled','');
      {% endif %}
    });
  });
</script>
{% endblock page_content %}