{% extends "layouts/base-content.html" %}
{% set sensor_type = template|lower|replace("sensors", "")|replace("_","")|replace(".html","") %}
{% if sensor_type %}
  {% set page_title = _('{sensor_type} sensors')|replace('{sensor_type}',_(sensor_type))|capitalize %}
{% else %}
  {% set page_title = _('All sensors') %}
{% endif %}
{% block title %}{{page_title}}{% endblock %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row" id="sensor_list">
      <div style="width: 80%; text-align: center; margin: 5% 30%" class="zero_message fuckbs-d-none">
        <div class="callout callout-info">
          <h5>{{ _('No sensors') }}</h5>
          <p class="pt-3">
            {% if authenticated %}
            <a href="#" class="btn btn-primary active" style="text-decoration: none;" role="button" aria-pressed="true" data-toggle="modal" data-target="#modal-sensor-setup" >{{ _('Add new sensor') }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-primary">{{ _('Login to make changes') }}</a>
            {% endif %}
          </p>
        </div>
      </div>
      <script type="text/html" id="sensor_template">
         <div class="col-{% if sensor_type %}12{%else%}3{%endif%}" >
          <div class="card" {% if not sensor_type %}style="min-height: 270px"{%endif%}>
            <div class="card-header">
              <h3 class="card-title mr-1">
                <i class="fas fa-fw mr-2" data-class="icon"></i><span data-content="name">...</span>
                <small class="ml-2 text-muted"><br />{{ _('Last update') }}: <span class="last_update"  data-template-bind='[
                  {"attribute": "content", "value": "last_update", "formatter": "datetimeformatter", "formatOptions": "LLLL"} ]'
                ></span></small>
              </h3>
              <small data-template-bind='[
                  {"attribute": "class", "value": "error", "formatter": "prefixer", "formatOptions": "badge badge-danger "} ]'
              >{{ _('error') }}</small>
              <small class="badge badge-warning fuckbs-d-none">{{ _('warning') }}</small>
              <small data-template-bind='[
              {"attribute": "class", "value": "exclude", "formatter": "prefixer", "formatOptions": "badge badge-primary "} ]'
              >{{ _('Excl. avg') }}</small>
              <div class="card-tools">
                {% if sensor_type %}
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a href="#" class="dropdown-item active" title="{{ _('Day') }}">{{ _('Day') }}</a>
                    <a href="#" class="dropdown-item" title="{{ _('Week') }}">{{ _('Week') }}</a>
                    <a href="#" class="dropdown-item" title="{{ _('Month') }}">{{ _('Month') }}</a>
                    <a href="#" class="dropdown-item" title="{{ _('Year') }}">{{ _('Year') }}</a>
                  </div>
                </div>
                {% endif %}
                <div class="btn-group">
                  <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-wrench"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    {% if authenticated %}
                    <a data-href="export_link" data-id="id" class="dropdown-item export_link" data-template-bind='[
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Export sensor') }} "} ]'>
                    <i class="fas fa-file-export mr-1"></i> {{ _('Export') }}
                    </a>
                    <a data-href="edit_link" class="dropdown-item" data-toggle="modal" data-target="#modal-sensor-setup" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Edit sensor') }} "} ]'>
                      <i class="fas fa-wrench mr-1"></i> {{ _('Settings') }}
                    </a>
                    <a data-href="ignore_link" class="dropdown-item" data-action="PUT" data-field="value" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Ignore sensor') }} "} ]'>
                      <i class="fas fa-ban mr-1"></i> {{ _('Ignore') }}
                    </a>
                    <a data-href="delete_link" class="dropdown-item text-danger" data-action="DELETE" data-toggle="modal" data-target="#modal-confirm" data-template-bind='[
                    {"attribute": "id", "value": "id" },
                    {"attribute": "title", "value": "name", "formatter": "prefixer", "formatOptions": "{{ _('Delete sensor') }} "} ]'>
                      <i class="fas fa-trash-alt mr-1"></i> {{ _('Delete') }}
                    </a>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="dropdown-item">{{ _('Login to make changes') }}</a>
                    {% endif %}
                  </div>
                </div>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="row">
                <div class="col text-center pt-1">
                  <canvas data-id="gauge" class="gauge"></canvas>
                </div>
                {% if sensor_type %}
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                  <div class="overlay">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                  </div>
                  <canvas data-id="graph" class="graph"></canvas>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
      </script>
    </div>
  </div>
</section>
<script>
  jQuery(function () {
    let sensor_url = '{% if sensor_type %}{{ url_for("api:sensor_list_filtered", filter=sensor_type) }}{% else %}{{ url_for("api:sensor_list") }}{% endif %}';
    jQuery.get(sensor_url,function(data) {
      data = data.data;
      // Sort the sensors based on the given sensor name
      data.sort((a, b) => a.name.localeCompare(b.name));
      (data.length > 0 ? jQuery('.zero_message').remove() : jQuery('.zero_message').show());
      jQuery.each(data,function(counter, sensor) {

        sensor.icon = template_sensor_type_icon(sensor.type);

        sensor.export_link      = '{{ url_for('api:sensor_history', filter='_id_', action="export") }}'.replace('_id_',sensor.id);
        sensor.edit_link        = '{{ url_for('api:sensor_detail',  sensor='_id_') }}'.replace('_id_',sensor.id);
        sensor.delete_link      = '{{ url_for('api:sensor_delete',  sensor='_id_') }}'.replace('_id_',sensor.id);
        sensor.ignore_link      = '{{ url_for('api:setting_update', setting='exclude_ids') }}';

        sensor.error   = (sensor.value != null ? 'fuckbs-d-none' : '');
        sensor.exclude = (!sensor.exclude_avg  ? 'fuckbs-d-none' : '');

        sensor.graph  = 'graph_' + sensor.id;
        sensor.gauge  = 'gauge_' + sensor.id;

        $('#sensor_list').loadTemplate($('#sensor_template'), sensor,{ append: true});

        new sensor_gauge('gauge_' + sensor.id,
                        sensor.type,
                        sensor.value,
                        sensor.limit_min,
                        sensor.limit_max,
                        sensor.alarm_min,
                        sensor.alarm_max);

        {% if sensor_type %}
        new graph('graph_' + sensor.id, '{{ url_for("api:sensor_history", action="history", filter="_id_") }}'.replace('_id_',sensor.id), '{{sensor_type}}');
        {% endif %}
      })
    });
  });
</script>
{% endblock page_content %}