{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Settings') }}{% endblock %}
{% block options %}
<ol class="breadcrumb float-sm-right ">
  <li class="breadcrumb-item "><a href="#" class="helpbutton"><i class="far fa-question-circle pt-1 mr-1"></i> {{ _('Show/hide help information') }}</a></li>
</ol>
{% endblock options %}
{% block page_content %}
<section class="content">
  <form class="form-horizontal needs-validation" action="{{ url_for('api:sensor_add') }}" method="put" id="settings_form" novalidate>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-cog mr-2"></i>{{ _('System') }}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="pi_wattage" class="col-sm-4 col-form-label">{{ _('Pi power usage') }}</label>
                <div class="col-sm-8">
                  <input type="number" min="0.00" step="0.01" class="form-control" id="pi_wattage" name="pi_wattage" required="required" placeholder="{{ _('Pi power usage') }}" >
                  <small class="text-muted fuckbs-d-none">
                    {{ _('Enter the total power usage of the Pi with all its USB devices connected.') }}
                  </small>
                  <div class="invalid-feedback">
                    {{ _('Please enter a number value of 0.00 or higher') }}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="host" class="col-sm-4 col-form-label">{{ _('IP or host name') }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="host" name="host" required="required" placeholder="{{ _('IP or host name') }}" >
                  <div class="invalid-feedback">
                    {{ _('Please enter a valid host name or IP') }}
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="port" class="col-sm-4 col-form-label">{{ _('Port number') }}</label>
                <div class="col-sm-8">
                  <input type="number" min="0" class="form-control" id="port" name="port" required="required" placeholder="{{ _('Port number') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="always_authenticate" class="col-sm-4 col-form-label">{{ _('Authentication mode') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="always_authenticate" name="always_authenticate" required="required" data-placeholder="{{ _('Authentication mode') }}">
                    <option value="1">{{ _('Full authentication') }}</option>
                    <option value="0">{{ _('Only for changes') }}</option>
                    <option value="-1">{{ _('No authentication') }}</option>
                  </select>
                  <small class="text-muted fuckbs-d-none">
                    {{ _('Always authenticate or only when changes are being made.') }}
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label">{{ _('User name') }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="username" name="username" required="required" placeholder="{{ _('User name') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">{{ _('New password') }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="password" name="password" placeholder="{{ _('Password') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="password2" class="col-sm-4 col-form-label">{{ _('Confirm new password') }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="password2" name="password2" placeholder="{{ _('Confirm password') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="exclude_ids" class="col-sm-4 col-form-label">{{ _('Excluded ids') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="exclude_ids" name="exclude_ids" size="1" multiple="multiple" data-placeholder="{{ _('Excluded ids') }}">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-language mr-2"></i>{{ _('Locale') }}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="language" class="col-sm-4 col-form-label">{{ _('Language') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="language" name="language" required="required" data-placeholder="{{ _('Select language') }}" >
                    {% for language in languages %}
                    <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="temperature_indicator" class="col-sm-4 col-form-label">{{ _('Temperature type') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="temperature_indicator" name="temperature_indicator" required="required" data-placeholder="{{ _('Temperature type') }}" >
                    <option value="celsius">{{ _('Celsius') }}</option>
                    <option value="fahrenheit">{{ _('Fahrenheit') }}</option>
                    <option value="kelvin">{{ _('Kelvin') }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="distance_indicator" class="col-sm-4 col-form-label">{{ _('Distance type') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="distance_indicator" name="distance_indicator" required="required" data-placeholder="{{ _('Distance type') }}" >
                    <option value="cm">{{ _('Centimetre') }}</option>
                    <option value="inch">{{ _('Inches') }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="water_volume_indicator" class="col-sm-4 col-form-label">{{ _('Liquid volume type') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="water_volume_indicator" name="water_volume_indicator" required="required" data-placeholder="{{ _('Liquid volume type') }}" >
                    <option value="l">{{ _('Litre') }}s</option>
                    <option value="ukgall">{{ _('UK Gallons') }}</option>
                    <option value="usgall">{{ _('US Gallons') }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="wind_speed_indicator" class="col-sm-4 col-form-label">{{ _('Wind speed type') }}</label>
                <div class="col-sm-8">
                  <select class="custom-select select2" id="wind_speed_indicator" name="wind_speed_indicator" required="required" data-placeholder="{{ _('Wind speed type') }}" >
                    <option value="m/s">{{ _('Meter per second') }}</option>
                    <option value="km/h">{{ _('Kilometre per hour') }}</option>
                    <option value="beaufort">{{ _('Beaufort') }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="power_price" class="col-sm-4 col-form-label">{{ _('Power price') }}</label>
                <div class="col-sm-8">
                  <input type="number" min="0.00" step="0.01" class="form-control" id="power_price" name="power_price" required="required" placeholder="{{ _('Power price') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="water_price" class="col-sm-4 col-form-label">{{ _('Water price') }}</label>
                <div class="col-sm-8">
                  <input type="number" min="0.00" step="0.01" class="form-control" id="water_price" name="water_price" required="required" placeholder="{{ _('Water price') }}" >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-marker mr-2"></i>{{ _('GUI') }}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="title" class="col-sm-4 col-form-label">{{ _('Title') }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="title" name="title" required="required" data-placeholder="{{ _('Title') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="profile_image" class="col-sm-4 col-form-label">{{ _('Profile image') }}</label>
                <div class="col-sm-8">
                  <div class="custom-file">
                    <input type="hidden" name="profile_image" id="profile_image" value="">
                    <input type="file" class="custom-file-input" id="profile_image_upload">
                    <label class="custom-file-label" for="profile_image_upload">{{ _('Choose a file') }}</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="title" class="col-sm-4 col-form-label">{{ _('Graph smoothing') }}</label>
                <div class="col-sm-8">
                  <input type="number" min="0" step="1" default="0" class="form-control" id="graph_smooth_value" name="graph_smooth_value" data-placeholder="{{ _('Graph smoothing') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="auto_dark_mode" class="col-sm-8 col-form-label">{{ _('Auto dark mode') }}</label>
                <div class="col-sm-4">
                  <span class="switch">
                    <input type="checkbox" class="switch" id="auto_dark_mode" name="auto_dark_mode">
                    <label for="auto_dark_mode" class="mt-1"></label>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="show_min_max_gauge" class="col-sm-8 col-form-label">{{ _('Show min and max values in gauge graphs') }}</label>
                <div class="col-sm-4">
                  <span class="switch">
                    <input type="checkbox" class="switch" id="show_min_max_gauge" name="show_min_max_gauge">
                    <label for="show_min_max_gauge" class="mt-1"></label>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="hide_environment_dashboard" class="col-sm-8 col-form-label">{{ _('Hide enclosures on dashboard') }}</label>
                <div class="col-sm-4">
                  <span class="switch">
                    <input type="checkbox" class="switch" id="hide_environment_dashboard" name="hide_environment_dashboard">
                    <label for="hide_environment_dashboard" class="mt-1"></label>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="all_gauges_on_single_page" class="col-sm-8 col-form-label">{{ _('All gauges on a single page') }}</label>
                <div class="col-sm-4">
                  <span class="switch">
                    <input type="checkbox" class="switch" id="all_gauges_on_single_page" name="all_gauges_on_single_page">
                    <label for="all_gauges_on_single_page" class="mt-1"></label>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title mr-1"><i class="fas fa-cloud-download-alt mr-2"></i>{{ _('Cloud') }}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label for="meross_cloud_username" class="col-sm-4 col-form-label">{{ _('Meross username') }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="meross_cloud_username" name="meross_cloud_username" placeholder="{{ _('Meross username') }}" >
                </div>
              </div>
              <div class="form-group row">
                <label for="meross_cloud_password" class="col-sm-4 col-form-label">{{ _('Meross password') }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="meross_cloud_password" name="meross_cloud_password" placeholder="{{ _('Meross password') }}" >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col">
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              {{ _('Save') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<script>
  jQuery(function () {
    jQuery('form#settings_form').find('small.text-muted').hide();
    jQuery('.helpbutton').off('click').on('click',function(event){
      event.preventDefault();
      event.stopPropagation();
      jQuery('form#settings_form').find('small.text-muted').toggle();
    });

    jQuery('form#settings_form').on('submit', function(event) {
      event.preventDefault();
      event.stopPropagation();

      if (jQuery('form#settings_form')[0].checkValidity() === false) {
        jQuery('form#settings_form').addClass('was-validated');
        let error_fields = [];
        jQuery.each({{modal_type}}_form.find(':invalid'),function(counter,field){
          error_fields.push(jQuery(field).prev().text());
        });
        toastr.error('{{ _('Not all required fields are entered correctly.') }}:<br/>' + error_fields.join('<br/>'), '{{ _('Form error') }}');
      } else {
        jQuery(this).find('span.spinner-border').removeClass('d-none');
        // Check if there is a new profile image selected...

        if (this.elements['profile_image_upload'].files.length == 1) {
          // Upload a new profile image
          let form_data = new FormData();
          jQuery.each(this.elements['profile_image_upload'].files,function(index,file) {
            let file_extension = file.name.split('.').pop()
            form_data.append('file', file,'profile_image.' + file_extension);
          });

          jQuery.ajax({
            url: '{{ url_for('file_upload', root='media') }}',
            type: "POST",
            data: form_data,
            processData: false,
            contentType: false,
            async: false,
            success: function (result) {
              jQuery('form input[name="profile_image"]').val(result.file);
              toastr.success('{{ _('Profile image is uploaded.') }}', '{{ _('Upload ok') }}');
            },
            error: function (error) {
              error = error.responseJSON;
              toastr.error(error.message , '{{ _('Upload error') }}');
            }
          });
        }

        let form_data = formToJSON(jQuery('form#settings_form'));
        // Format all values to strings...
        jQuery.each(Object.keys(form_data),function(index,key){
          if ('' != key) {
            form_data[key] += '';
          }
        });

        jQuery.ajax({
          url: '{{ url_for('api:setting_update_multi') }}',
          type: 'put',
          data: JSON.stringify(form_data),
          contentType: 'application/json;charset=UTF-8',
          dataType:'json',
          cache: false,
          processData: false,
          success: function (result) {
            toastr.success('{{ _('Settings are updated.') }}', '{{ _('Update ok') }}');
            load_page();
          },
          error: function (error) {
            error = error.responseJSON;
            toastr.error(error.message , '{{ _('Update error') }}');
          }
        });
      }
    });

    jQuery.get('{{ url_for("api:setting_list") }}',function(data) {
      jQuery.each(data.data,function(counter,item){
        let field = jQuery('[name="'+ item.id + '"]');
        if (field.attr('type') == 'checkbox') {
          // Extra inverted trigger needed, to get the false value....
          field.prop('checked',('true' != item.value)).trigger('change');
          field.prop('checked',('true' == item.value)).trigger('change');
        } else if ('exclude_ids' == item.id ) {
          let ids = item.value.split(',');
          jQuery.each(ids, function(index, value) {
            if ('' != value) {
              field.append(jQuery('<option>').attr('value',value).prop('selected',true).text(value)).trigger('change');
            }
          });
        } else {
          field.val(item.value).trigger('change');
        }
      });
    });
  });
</script>
{% endblock page_content %}
