{% extends "layouts/base.html" %}
{% block title %}{{ _('Status') }}{% endblock %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{page_title}}</h1>
          </div>
          <div class="col-sm-6">
            <!-- <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Calendar</li>
            </ol> -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-12 col-md-6 col-sm-6 col-lg-3" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-microchip"></i> {{ _('CPU Load') }}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="d-md-flex">
                  <div class="text-center" style="width:100%">
                    <canvas id="gauge_cpu_load" class="gauge"></canvas>
                  </div><!-- /.card-pane-right -->
                </div> <!-- /.d-md-flex -->
              </div>
              <!-- /.card-body -->
            </div>
          </div>

          <div class="col-12 col-md-6 col-sm-6 col-lg-3" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-microchip"></i> {{ _('CPU Temperature') }}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="d-md-flex">
                  <div class="text-center" style="width:100%">
                    <canvas id="gauge_cpu_temperature" class="gauge"></canvas>
                  </div><!-- /.card-pane-right -->
                </div> <!-- /.d-md-flex -->
              </div>
              <!-- /.card-body -->
            </div>
          </div>

          <div class="col-12 col-md-6 col-sm-6 col-lg-3" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-microchip"></i> {{ _('Memory usage') }}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="d-md-flex">
                  <div class="text-center" style="width:100%">
                    <canvas id="gauge_memory" class="gauge"></canvas>
                  </div><!-- /.card-pane-right -->
                </div> <!-- /.d-md-flex -->
              </div>
              <!-- /.card-body -->
            </div>
          </div>



          <div class="col-12 col-md-6 col-sm-6 col-lg-3" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-microchip"></i> {{ _('Disk usage') }}</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="d-md-flex">
                  <div class="text-center" style="width:100%">
                    <canvas id="gauge_storage" class="gauge"></canvas>
                  </div><!-- /.card-pane-right -->
                </div> <!-- /.d-md-flex -->
              </div>
              <!-- /.card-body -->
            </div>
          </div>


          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col" >
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-microchip"></i> {{ _('Uptime') }}</h3>
                <div class="card-tools">

                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body font-monospace">

              </div>
              <!-- /.card-body -->
            </div>
          </div>

        </div>
      </div>
      <!--/. container-fluid -->
    </section>
    </div>
    <!-- /.content -->
    <script>
    jQuery(function () {
      jQuery.get('{{ url_for("api:system_status") }}', function(data) {
        new sensor_gauge('gauge_' + 'cpu_load',
                          'humidity',
                          data.load.percentage[0],
                          0,
                          100,
                          30,
                          60);


        new sensor_gauge('gauge_' + 'cpu_temperature',
                          'temperature',
                          data.cpu_temperature,
                          10,
                          80,
                          30,
                          60);

        new sensor_gauge('gauge_' + 'memory',
                          'size',
                          data.memory.used,
                          0,
                          data.memory.total,
                          0,
                          0.60 * data.memory.total);

        new sensor_gauge('gauge_' + 'storage',
                          'size',
                          data.storage.used,
                          0,
                          data.storage.total,
                          0,
                          0.60 * data.storage.total);

        const regex = /(\d+ \S)/gm;
        const subst = `<span class="h1">$1</span>`;
        let uptime = uptime_format(data.uptime).replace(regex, subst);
        jQuery('.card-body.font-monospace').html(uptime);
      });
    });
    </script>
{% endblock content %}