{% extends "layouts/base-content.html" %}
{% block title %}{{ _('Weather') }}{% endblock %}
{% block options %}
<ol class="breadcrumb float-right">
  <li class="breadcrumb-item" id="weather_credits">{{ _('Weather source credits') }}</li>
  {% if authenticated %}
  <li class="breadcrumb-item "><a href="#" data-toggle="modal" data-target="#modal-weather-setup"><i class="fas fa-wrench pt-1 mr-1"></i> {{ _('Settings') }}</a></li>
  {% else %}
  <li class="breadcrumb-item "><a href="{{ url_for('login') }}" title="{{ _('Login to make changes') }}"><i class="fas fa-wrench pt-1 mr-1"></i> {{ _('Login to make changes') }}</a></li>
  {% endif %}
</ol>
{% endblock options %}
{% block page_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4" >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mr-1"><i class="fas fa-cloud-sun mr-2"></i>{{ _('Current') }}</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <strong id="weather_today">{{ _('Today') }}</strong> {{ _('in') }} <strong id="weather_temperature_indicator">°C</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-3" id="weather_image" style="background-image: url('/static/assets/img/weather_icons/climacon.svg');">
              </div>
              <div class="col-7">
                <h3 id="weather_location">{{ _('Location') }}</h3>
                <h4 id="weather_type">{{ _('Weather type') }}</h4>
              </div>
              <div class="col-2 text-right text-nowrap">
                <i class="fas fa-sun"></i> <span id="weather_sunrise">{{ _('Rise') }}</span><br />
                <i class="fas fa-moon"></i> <span id="weather_sunset">{{ _('Set') }}</span><br />
                <h5 class="mt-4" id="weather_temp">{{ _('Temp.') }}</h5>
              </div>
            </div>
            <div class="row" id="weather_days">
              <script type="text/html" id="weather_day_template">
                <div class="col">
                  <div class="description-block">
                    <h5 class="description-header" data-content-text="day"></h5>
                    <span class="description-text" data-content-text="temperature"></span>
                    <img src="/static/assets/img/weather_icons/climacon.svg" data-src="icon" data-alt="weather" data-title="weather">
                    <i class="fas fa-location-arrow" style="transform: rotate(-45deg);" data-css="direction"></i><br />
                    <span class="text-nowrap" data-content-text="wind"></span>
                  </div>
                </div>
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="card" style="min-height: 398px">
          <div class="card-header">
            <h3 class="card-title mr-1"><i class="fas fa-cloud-sun mr-2"></i>{{ _('Forecast') }}</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
              <div class="overlay">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
              </div>
              <canvas id="forecast_graph" class="graph"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function get_weather_icon(weather_type,is_day) {
    let day_icon = (is_day ? 'sun' : 'moon');

    let weater_icons = {
      'clear sky' : day_icon,

      'broken clouds' : 'cloud_' + day_icon,
      'overcast clouds' : 'cloud_' + day_icon,
      'scattered clouds' : 'cloud_' + day_icon,
      'few clouds' : 'cloud_' + day_icon,

      'drizzle' : 'cloud_drizzle_' + day_icon,
      'light rain' : 'cloud_drizzle_' + day_icon,
      'heavy intensity drizzle' : 'cloud_drizzle_' + day_icon,
      'light intensity drizzle rain': 'cloud_drizzle_' + day_icon,

      'moderate rain' : 'cloud_rain_' + day_icon,
      'heavy intensity rain' : 'cloud_rain_' + day_icon,
      'light intensity shower rain' : 'cloud_rain_' + day_icon,

      'haze' : 'cloud_fog_' + day_icon,
      'mist' : 'cloud_fog_' + day_icon,
      'fog' : 'cloud_fog_' + day_icon,

      'snow' : 'cloud_snow_alt_' + day_icon,
      'rain and snow' : 'cloud_snow_alt_' + day_icon,
      'light snow' : 'cloud_snow_alt_' + day_icon
    }
    return '/static/assets/img/weather_icons/' + 'climacon-' + weater_icons[weather_type] + '.svg';
  }

  jQuery(function(){
    jQuery('#weather_temperature_indicator').text(sensor_type_indicator('temperature'));

    new graph('forecast_graph', '{{ url_for("api:weather_forecast") }}', 'temperature');

    jQuery.get({url: '{{ url_for("api:weather") }}', cache: '1' != Cookies.get('no-cache')}).then(function(data) {
      if (Object.keys(data).length == 0) {
        return;
      }
      let credits_link = jQuery('<a>').attr({'href' : data.credits.url, 'title' : data.credits.text, 'target' : '_blank'}).text(data.credits.text);
      jQuery('#weather_credits').html(credits_link);
      jQuery('#weather_location').text(data.location.city);

      let days = [];
      let current = false;
      jQuery.each(data.forecast,function(counter,day){

        if (counter == 0) {
          jQuery('#weather_today').text(moment(day.dt * 1000).format('dddd LL'));

          jQuery('#weather_image').attr({'title':day.weather}).css({'background-image' : 'url(' + get_weather_icon(day.weather,data.is_day) + ')'})
          jQuery('#weather_type').text(day.weather);

          jQuery('#weather_sunrise').text(moment(day.rise * 1000).format('LT'));
          jQuery('#weather_sunset').text(moment(day.set * 1000).format('LT'));

          jQuery('#weather_temp').text(formatNumber(day.temp) + ' ' + sensor_type_indicator('temperature'));
        } else if (counter < 7) {
          days.push({
              'day' : moment(day.dt * 1000).format('ddd'),
              'temperature' : formatNumber(day.temp) + ' ' + sensor_type_indicator('temperature'),
              'icon' : get_weather_icon(day.weather,data.is_day),
              'weather' : day.weather,
              'wind' : formatNumber(day.wind.speed) + ' ' + sensor_type_indicator('windspeed'),
              'direction' : {'transform': 'rotate(' + (day.wind.direction + 135) + 'deg)'}
            });
        }
      });
      jQuery('#weather_days').loadTemplate(jQuery('#weather_day_template'),days,{ append: false});
    });
  });
</script>
{% endblock page_content %}