.toggle {
  width: 3.8em;
}

.panel_toolbox {
  min-width: 20px;
}

.top_nav .navbar-right {
  width: auto !important;
  float: none !important;
}

.nav > li > div {
  display: block;
  padding: 13px 15px 12px;
  line-height: 32px;
  margin-left: 0 !important;
}

.row.tile_count {
  margin-bottom: 0 !important;
}

.row.tile_count .progress {
  height: 3.2em;
  margin: 1.5em .2em 0 0;
}

#weather_credits {
  margin-top: -40px;
  text-align: right;
}

span.select2.select2-container {
  width: 100% !important;
}

.power_switch {
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
}

.power_switch.big {
  font-size: 11em;
}

.x_title .power_switch {
  float: left;
  margin-right: 10px;
  color: none;
}

.x_title .power_switch span.green {
  color: #1ABB9C;
}

.x_title .power_switch span.blue {
  color: #3498DB;
}

.history_graph {
  min-height: 175px;
  display: block !important;
  position: relative;
}

.orange {
  color: #f0ad4e;
}

td {
  white-space: nowrap;
}

table.tile_info td:first-child {
  width: 70% !important;
}

canvas.gauge {
  margin: 0 -40px;
}

.x_title h2 {
  width: auto !important;
}

.webcam {
  height: 280px;
}

.webcam_preview {
  min-height: 240px;
  background-color: #000;
  overflow: hidden;
}

.webcam_preview img {
  width: 100%;
}

.webcam_90 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.webcam_180 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}

.webcam_270 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
}

.webcam_H {
  -moz-transform: scaleX(-1);
/* For Mozilla Firefox */
  -o-transform: scaleX(-1);
/* For Opera */
  -webkit-transform: scaleX(-1);
/* For Safari, Google chrome */
/* For IE */
  filter: FlipH;
  -ms-filter: FlipH;
}

.webcam_V {
  -moz-transform: scaleY(-1);
/* For Mozilla Firefox */
  -o-transform: scalY(-1);
/* For Opera */
  -webkit-transform: scaleY(-1);
/* For Safari, Google chrome */
/* For IE */
  filter: FlipV;
  -ms-filter: FlipV;
}

.flot-x-axis .flot-tick-label {
  white-space: nowrap;
  transform: translate(-9px,0) rotate(-45deg);
  text-indent: -100%;
  transform-origin: top right;
  text-align: right !important;
}

.history_graph .legend .legendLabel {
  color: #73879c;
  padding-left: .3em;
}

.tooltip .tooltip-inner {
  white-space: nowrap;
}

#tooltip span {
  cursor: default;
}

.dropdown-menu {
  min-width: 50px;
}

.focus a{
  font-weight: bold !important;
}
