/* General overrule */

.row.switch .x_title h2 {
 width: 85%;
}

.dropdown-menu {
  min-width: auto !important;
}
.panel_toolbox {
  min-width: auto !important;
  position: absolute;
  right: 1em;
}
td {
  white-space: nowrap;
}
.orange {
  color: #f0ad4e;
}
span.select2.select2-container {
  width: 100% !important;
}
.terrariumpi_select2_option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input.form-control:focus {
  box-shadow: 0px 0px 5px 1px #cccccc !important;
}
canvas.gauge {
  max-width: 110% !important;
  max-height: 100% !important;
}
.sidebar-footer a {
  height: 35px;
}
.top_nav .navbar-right {
  width: 85% !important;
}
@media (min-width: 600px) {
  .modal-lg {
    width: 80% !important;
  }
}
.page-title .title_left h3 {
  white-space: nowrap;
}
.page-title .title_right h3 button {
  margin: 0px 1px 1px 0px !important;
}
.missing-required {
  border: solid 1px red;
}
.history_graph.loading {
  text-align: center;
}
.history_graph.loading span.glyphicon {
  font-size: 100%;
}
.history_graph {
  margin-top: 10px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  min-height: 34px !important
}

.x_panel > .x_content > .row > .form-group > .form-group {
  margin-bottom: 0px;
}

.select2-container {
  height: 34px;
}

.form-group label {
  white-space: nowrap;
}

.form-control.half {
 width: 40%
}

.badge {
 position: relative;
 top: -4px;
 margin-bottom: -4px;
}

footer {
  margin-bottom: -20px;
}

form#profile label{
  padding-top: 0px;
}

form#profile input,
form#profile .xdisplay_inputx,
form#profile .editor-wrapper,
form#profile .editor,
form#profile .submit,
form#profile .glyphicon.glyphicon-import{
  display: none;
}

form#profile.edit input,
form#profile.edit .xdisplay_inputx,
form#profile.edit .editor-wrapper,
form#profile.edit .editor,
form#profile.edit .submit,
form#profile.edit .glyphicon.glyphicon-import{
  display: block;
}

form#profile.edit span.text {
  display: none;
}

form#profile.edit label{
  padding-top: 8px;
}

form#profile .pidescription img{
  max-width: 30%;
  float:left;
  margin-left: 1%;
}

.x_panel.help .x_content {
  display: none;
}

.dropdown-backdrop {
  display: none !important;
}


div.row.jumbotron {
  text-shadow: 1px 2px 3px rgba(255,255,255,0.5),
              -1px -1px 1px rgba(0,0,0,0.6);
  text-align:center;
  margin-top: 3em;
  background-color: transparent;
  color: #ccc;
  display: none;
}

footer .pull-right .label {
  font-size: 50%;
  vertical-align: middle;
  opacity: 0.2;
}

#calendar_date_picker .daterangepicker {
  position: relative;
  top: 0px !important;
  left: 0px !important;
}

.daterangepicker .calendar {
  margin-left: 0px !important;
}

div.daterangepicker.show-calendar {
  display:block !important;
}

div.editor-wrapper img {
  max-width: 100%;
}

li.notification span.message img,
div.popover img {
  width: 100%;
}

div.leaflet-pane.leaflet-shadow-pane {
  display: none;
}

div.webcam_preview div.leaflet-pane.leaflet-shadow-pane,
div.webcam_preview div.leaflet-pane.leaflet-marker-pane {
  display: block !important;
}

.leaflet-pulsing-icon {
  background-color : transparent !important;
  box-shadow: none !important;
}

.leaflet-pulsing-icon:after {
  animation-iteration-count: 2 !important;
  opacity: 0;
}

.leaflet-pulsing-icon.reset:after {
  animation: none !important;
}
/* End general overrule */

div.row.new  .x_panel{
 /* box-shadow: 0 4px 8px 0 rgba(51, 122, 183, 0.2), 0 6px 20px 0 rgba(51, 122, 183, 0.19);*/
  box-shadow: 0px 0px 3px 1px #26B99A;

}

div.modal div.row.sensor,
div.modal div.row.switch,
div.modal div.row.door,
div.modal div.row.webcam{
  display: block;
}

img.christmashat {
  width: 70%;
  z-index: 1010;
  position: relative;
  margin: 0px 0px -55px 30%;
  float: left;
  display: none;
}

.nav-sm #fireworks {
 display:none;
}

#fireworks {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
}

/* System time */
#system_time {
  display: block;
  padding: 13px 5px 12px;
  position: relative;
  line-height: 32px;
}

/* Dashboard */
div#dashboard .tile_count .tile_stats_count {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div#dashboard .tile_count .tile_stats_count .pull-left {
  position: absolute;
}

div#dashboard .row.tile_count .progress {
  height: 3.2em;
  margin: 1.5em .2em 0 0;
}

div#dashboard div.row.environment h4 span.glyphicon-warning-sign,
div#dashboard div.row.environment h4 span.glyphicon-exclamation-sign,
div#dashboard div.row.environment small span,
div#dashboard div.row.environment table.tile_info,
div#dashboard div.row.environment table.tile_info tr{
  display: none;
}

div#dashboard div.row.environment small span:first-child {
  display: inline;
}

div#dashboard div.row.environment table.tile_info td:first-child {
  width: 55%;
}

div#dashboard div.row.environment table.tile_info td span.day i.fa,
div#dashboard div.row.environment table.tile_info td span.night i.fa {
  font-size: 0.8em;
  float:none;
  margin-right: 0px;
  width: auto;
  line-height: auto;
}

/* End Dashboard */

div.row.logtail div.x_content pre{
 height: 600px;
}

iframe.external_calendar {
  width: 100%;
  height: 500px;
  border: none;
}

/* Default state */
.top_nav .nav_menu ul.nav.navbar-nav.navbar-right li#online_indicator .offline,
.top_nav .nav_menu ul.nav.navbar-nav.navbar-right li#door_indicator .open,
.top_nav .nav_menu ul.nav.navbar-nav.navbar-right li#door_indicator .closed,
.top_nav .nav_menu ul.nav.navbar-nav.navbar-right li#player_indicator .running,
.top_nav .nav_menu ul.nav.navbar-nav.navbar-right li#player_indicator .stopped {
  display:none;
}

.top_nav .nav_menu ul.nav.navbar-nav.navbar-right li span.notification_timestamp {
  margin-right: -2.4em;
}

.top_nav .nav_menu ul.nav.navbar-nav.navbar-right .badge {
  margin-top: 0.3em;
}

/* Graphs */
.focus a {
  font-weight: bold !important;
}
#tooltip span {
  cursor: default;
}

#tooltipGraph {
  cursor: default;
}
.history_graph {
  min-height: 155px;
  display: block !important;
  position: relative;
}
.history_graph .legend .legendColorBox {
  background-color: white;
}
.history_graph .legend .legendLabel {
  color: #73879c;
  padding: 0em .3em;
}
.history_graph .legend.horizontal .legendLabel {
  padding-right: 2em;
}
.history_graph .flot-x-axis .flot-tick-label {
  white-space: nowrap;
  transform: translate(-9px,0) rotate(-45deg);
  transform-origin: top right;
  text-align: right !important;
  margin-left: -10px;
}
/* End Graphs */

/* Weather */
#weather_credits {
  margin-top: -40px;
  text-align: right;
}

.daily-weather {
  display: none;
}
/* End Weather */


/* Power switches */
.power_switch {
  text-align: center;
  font-size: 1.5em;
  display: inline;
}
.power_switch span {
  cursor: pointer;
}
.power_switch.dimmer {
  display: block;
  position: relative;
  margin-bottom: -20px;
}
.power_switch.big {
  font-size: 12em;
  display: block;
  padding-top: 0.1em;
  line-height: 1em;
}

.power_switch span.glyphicon-time,
.power_switch.dimmer div span.glyphicon-time {
  position: absolute;
  background-color: white;
  font-size: 0.4em;
  top: 61%;
  left: 70%;
  border-radius: 50%;
  height: 35%;
  width: 35%;
  text-indent: 1px;
}
.power_switch.dimmer div span.glyphicon-time {
  font-size: 3.3em;
  top: 53%;
  left: 61%;
}
.power_switch span.glyphicon-time::before,
.power_switch.dimmer div span.glyphicon-time::before {
  margin-left: -5px;
}
/* End power switches */


/* Doors */
/* Door status */
div.door_status {
  text-align: center;
}

div.door_status i {
  font-size: 13.5em;
}
/* End door status */
/* End Doors */

/* Webcam */


div.bar-container.seek-disabled {
  display: none !important;
}

/* Webcam Preview */
.webcam_preview {
  overflow: hidden;
  max-height: 350px;
  width: 100%;
}

.webcam_preview img {
  width: 100%;
}

.webcam_90 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.webcam_180 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}

.webcam_270 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
}

.webcam_H {
  -moz-transform: scaleX(-1);
/* For Mozilla Firefox */
  -o-transform: scaleX(-1);
/* For Opera */
  -webkit-transform: scaleX(-1);
/* For Safari, Google chrome */
/* For IE */
  filter: FlipH;
  -ms-filter: FlipH;
}

.webcam_V {
  -moz-transform: scaleY(-1);
/* For Mozilla Firefox */
  -o-transform: scalY(-1);
/* For Opera */
  -webkit-transform: scaleY(-1);
/* For Safari, Google chrome */
/* For IE */
  filter: FlipV;
  -ms-filter: FlipV;
}

/* Webcam End Preview */

/* End Webcam */


.dropzone {
  min-height: auto !important;
}

.player_volume .col-md-1 {
  padding-left: 0px;
  padding-right: 0px;
}

.player_volume .col-md-1 .fa {
  font-size: 1.3em;
  margin: 0px 3px;
  cursor: pointer;
}

.player_volume .col-md-1 .fa.fa-volume-down {
  float: right;
}

.player_volume .progress {
  height: 1.3em;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 4px;
}

.player_volume .progress .progress-bar {
  line-height: 16px;
}

table.dataTable .glyphicon-trash,
table.dataTable .glyphicon-play {
  margin: 0.2em;
  cursor: pointer;
}
.notification_services {
  font-size: 200%;
}
.notification_services i.fa {
  cursor: pointer;
}
.notification_services i.fa.disabled {
  color: #D5E2ED;
}

@media only screen and (max-width: 780px) {
  /* Small screen hide disabled elements */
  .top_nav .nav_menu ul.nav.navbar-nav.navbar-right li.dropdown.disabled {
    display:none;
  }

  .nav.toggle {
    width: 60px;
  }
}


body._off,
html._off {
  overflow: hidden;
}

body._off .offline_animation {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: black;
  text-align:center;
  vertical-align:middle;
}

body._off .blackscreen {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

body._off .offline_animation .blackscreen:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: white;
  opacity: 0;
  left: 0;
  top: 0;
}

body._off .offline_animation .message {
  color:red;
  position: relative;
  top: 40%;
}

body._off .offline_animation  .blackscreen{
  -webkit-animation: shutdown 1600ms linear;
  animation: shutdown 1600ms linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

body._off .offline_animation .blackscreen:after {
  -webkit-animation: shutdown-opa 1600ms linear;
  animation: shutdown-opa 1600ms linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes
shutdown {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1, 1.6, 1);
    transform: scale3d(1, 1.6, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.005, 1);
    transform: scale3d(1, 0.005, 1);
  }
  100% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
}

@keyframes
shutdown {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1, 1.6, 1);
    transform: scale3d(1, 1.6, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.005, 1);
    transform: scale3d(1, 0.005, 1);
  }
  100% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
  }
}

@-webkit-keyframes
shutdown-opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes
shutdown-opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


/* Documentation */

div.row.documentation img {
  max-width: 100%
}
.interactive_screenshot {
  position: relative;
  padding: 0px;
}
.interactive_screenshot img,
.interactive_screenshot iframe {
  width: 100%;
  margin: 0px;
  box-shadow: 1px 1px 10px 2px #D1D1D1;
}
.interactive_screenshot .click_area {
  position: absolute;
  cursor: pointer;
}
.interactive_screenshot .click_area:hover,
.interactive_screenshot .click_area.hover {
  border: solid 1px #1ABB9C !important;
}

/* Dashboard */
#usage_content .interactive_screenshot #screenshot_dashboard_top_indicators {
  left: 74%;
  top: 0%;
  height: 6.4%;
  width: 26%;
}
#usage_content .interactive_screenshot #screenshot_dashboard_top_tiles {
  left: 14.4%;
  top: 6.4%;
  height: 12%;
  width: 85.6%;
}
#usage_content .interactive_screenshot #screenshot_dashboard_environment {
  top: 19%;
  height: 50%;
  left: 79%;
  width: 20%;
}
#usage_content .interactive_screenshot #screenshot_dashboard_graphs {
  top: 19%;
  height: 59%;
  left: 15.5%;
  width: 62.2%;
}
/* End dashboard */

/* Weather */
#usage_content .interactive_screenshot #screenshot_weather_forecast_current {
  top: 12.4%;
  height: 42%;
  left: 15.5%;
  width: 27.2%;
}

#usage_content .interactive_screenshot #screenshot_weather_forecast_day {
  top: 12.4%;
  height: 29.1%;
  left: 43.7%;
  width: 55.2%;
}

#usage_content .interactive_screenshot #screenshot_weather_forecast_week {
  top: 42%;
  height: 29.1%;
  left: 43.7%;
  width: 55.2%;
}
/* End weather */

/* Sensors */
#usage_content .interactive_screenshot #screenshot_sensors_title {
  top: 12.6%;
  height: 5.6%;
  left: 15.6%;
  width: 83.1%;
}

#usage_content .interactive_screenshot #screenshot_sensors_current{
  top: 18.2%;
  height: 53.2%;
  left: 15.6%;
  width: 21%;
}

#usage_content .interactive_screenshot #screenshot_sensors_graph {
  top: 18.2%;
  height: 53.2%;
  left: 36.5%;
  width: 62.2%;
}
/* End sensors */

/* Switches */
#usage_content .interactive_screenshot #screenshot_switches_title {
  top: 12.6%;
  height: 5.6%;
  left: 15.6%;
  width: 83.1%;
}

#usage_content .interactive_screenshot #screenshot_switches_toggle{
  top: 18.2%;
  height: 61%;
  left: 15.6%;
  width: 21%;
}

#usage_content .interactive_screenshot #screenshot_switches_graph {
  top: 18.2%;
  height: 61%;
  left: 36.5%;
  width: 62.2%;
}
/* End switches */

/* Doors */
#usage_content .interactive_screenshot #screenshot_doors_title {
  top: 12.6%;
  height: 5.6%;
  left: 15.6%;
  width: 83.1%;
}

#usage_content .interactive_screenshot #screenshot_doors_status{
  top: 18.2%;
  height: 53.2%;
  left: 15.6%;
  width: 21%;
}

#usage_content .interactive_screenshot #screenshot_doors_graph {
  top: 18.2%;
  height: 53.2%;
  left: 36.5%;
  width: 62.2%;
}
/* End doors */

/* Webcams */
#usage_content .interactive_screenshot #screenshot_webcams_title {
  top: 12.6%;
  height: 5.6%;
  left: 15.6%;
  width: 27%;
}
#usage_content .interactive_screenshot #screenshot_webcams_zoom{
  top: 20.5%;
  height: 6.5%;
  left: 17.5%;
  width: 2%;
}
#usage_content .interactive_screenshot #screenshot_webcams_fullscreen {
  top: 27.5%;
  height: 3.5%;
  left: 17.5%;
  width: 2%;
}
/* End webcams */

/* Audio */
div.modal.fade.preview_player {
  display:none;
}
div.modal.fade.preview_player div.modal-dialog.modal-sm {
  width:40%;
}

audio {
  width: 100%;
}
/* End Audio */

/* Environment setup */

/* End environment setup

/* Hardware documentation */

#hardware_content .interactive_screenshot .click_area {
  border: solid 1px gray;
}
#hardware_content .interactive_screenshot #raspberrypi{
  top: 41%;
  left: 50%;
  width: 22.5%;
  height: 23.5%;
}
#hardware_content .interactive_screenshot #bus_i2c {
  top: 5.5%;
  left: 16%;
  width: 9.5%;
  height: 11%;
}
#hardware_content .interactive_screenshot #bus_1wire {
  top: 15.5%;
  left: 58%;
  width: 9%;
  height: 13%;
}
#hardware_content .interactive_screenshot #one_wire_temp_sensor1 {
  top: 33.5%;
  left: 18%;
  width: 3%;
  height: 23.5%;
}
#hardware_content .interactive_screenshot #one_wire_temp_sensor2 {
  top: 40%;
  left: 3%;
  width: 5.5%;
  height: 29%;
}
#hardware_content .interactive_screenshot #dht22_temp_humidity_sensor {
  top: 70%;
  left: 31.5%;
  width: 7%;
  height: 20%;
}
#hardware_content .interactive_screenshot #USB_Relay {
  top: 8%;
  left: 76%;
  width: 15%;
  height: 25.5%;
}
#hardware_content .interactive_screenshot #GPIO_Relay {
  top: 45%;
  left: 82.5%;
  width: 16%;
  height: 31.5%;
}
#hardware_content .interactive_screenshot #GPIO_Door_sensor {
  top: 31%;
  left: 36.5%;
  width: 7%;
  height: 12%;
}
#hardware_content .interactive_screenshot #RPICam {
  top: 44%;
  left: 31%;
  width: 7%;
  height: 12%;
}
/* End hardware documentation */
























/* End Documentation */
