/* General overrule */
.dropdown-menu {
  min-width: auto !important;
}
.panel_toolbox {
  min-width: auto !important;
}
td {
  white-space: nowrap;
}
.orange {
  color: #f0ad4e;
}
span.select2.select2-container {
  width: 100% !important;
}

canvas.gauge {
  width: 100% !important;
  height: 100% !important;
}

.goal-wrapper {
  padding-left: 45%;
  font-size: 1.4em;
}

.sidebar-footer a {
  height: 35px;
}
.top_nav .navbar-right {
  width: 80% !important;
}

/* System time */
#system_time {
  display: block;
  padding: 13px 5px 12px;
  position: relative;
  line-height: 32px;
}

/* Dashboard tiles */
#dashboard .tile_count .tile_stats_count {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#dashboard .tile_count .tile_stats_count .pull-left {
  position: absolute;
}

#dashboard table.tile_info td:first-child {
  width: 70%;
}

/* Dashboard Progress bars */
#dashboard .row.tile_count .progress {
  height: 3.2em;
  margin: 1.5em .2em 0 0;
}

/* Graphs */
.focus a {
  font-weight: bold !important;
}

#tooltip span {
  cursor: default;
}

.history_graph {
  min-height: 175px;
  display: block !important;
  position: relative;
}
.history_graph .legend .legendLabel {
  color: #73879c;
  padding-left: .3em;
}
.history_graph .flot-x-axis .flot-tick-label {
  white-space: nowrap;
  transform: translate(-9px,0) rotate(-45deg);
  transform-origin: top right;
  text-align: right !important;
  margin-left: -10px;
}

/* Weather */
#weather_credits {
  margin-top: -40px;
  text-align: right;
}

/* Power switches */
.power_switch {
  text-align: center;
  font-size: 1.5em;
  display: inline;
  margin: 0.15em 25%;
}

.power_switch span {
  cursor: pointer;
}

.power_switch.big {
  font-size: 11em;
}

.x_title .power_switch {
  float: left;
  margin: 0.15em 10px 0px 0px;
}
.x_title .power_switch span.green {
  color: #1ABB9C;
}
.x_title .power_switch span.blue {
  color: #3498DB;
}
div.row.door div.sidebar-widget i.fa {
  display:block !important;
  text-align: center;
  font-size: 1350% !important;
}

/* Webcam */

/* Webcam Preview */
.webcam_preview img {
  width: 100%;
}

.webcam_90 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.webcam_180 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}

.webcam_270 {
/* for firefox, safari, chrome, etc. */
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
/* for ie */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
}

.webcam_H {
  -moz-transform: scaleX(-1);
/* For Mozilla Firefox */
  -o-transform: scaleX(-1);
/* For Opera */
  -webkit-transform: scaleX(-1);
/* For Safari, Google chrome */
/* For IE */
  filter: FlipH;
  -ms-filter: FlipH;
}

.webcam_V {
  -moz-transform: scaleY(-1);
/* For Mozilla Firefox */
  -o-transform: scalY(-1);
/* For Opera */
  -webkit-transform: scaleY(-1);
/* For Safari, Google chrome */
/* For IE */
  filter: FlipV;
  -ms-filter: FlipV;
}


/* Documentation */
#usage_content .interactive_screenshot {
  position: relative;
  padding: 0px;
}
#usage_content .interactive_screenshot img,
#usage_content .interactive_screenshot iframe {
  width: 100%;
  margin: 0px;
  box-shadow: 1px 1px 10px 2px #D1D1D1;
}
#usage_content .click_area {
  position: absolute;
  cursor: pointer;
}
#usage_content .click_area:hover,
#usage_content .click_area.hover {
  border: solid 1px #1ABB9C;
}
#usage_content #screenshot_dashboard_top_indicators {
  left: 74%;
  top: 0%;
  height: 7.5%;
  width: 26%;
}
#usage_content #screenshot_dashboard_top_tiles {
  left: 14.5%;
  top: 7.5%;
  height: 12.5%;
  width: 85.5%;
}
#usage_content #screenshot_dashboard_environment {
  top: 22%;
  height: 68.5%;
  left: 79%;
  width: 20%;
}
#usage_content #screenshot_dashboard_graphs {
  top: 22%;
  height: 69%;
  left: 15.5%;
  width: 62.2%;
}


#usage_content #screenshot_weather_forecast_current {
  top: 14.5%;
  height: 48.5%;
  left: 15.5%;
  width: 27.2%;
}

#usage_content #screenshot_weather_forecast_day {
  top: 14.5%;
  height: 33.6%;
  left: 43.7%;
  width: 55.2%;
}

#usage_content #screenshot_weather_forecast_week {
  top: 48.8%;
  height: 33.8%;
  left: 43.8%;
  width: 55.2%;
}

/* End Documentation */
