.documentation-option
{
   font-family: Verdana,Arial,sans-serif;
   font-size: 13px;
   width: 100%; 
   text-indent: 0px; 
   white-space: nowrap; 
   list-style-type: none }

.documentation-option-description   
{
   font-family: Verdana,Arial,sans-serif;
   font-size: 13px; 
   cursor:text; 
   color: #000;
}

.documentation-code {cursor:text; display:block; color:#555;
   font-family: Verdana,Arial,sans-serif;
   font-size: 13px; margin:0 0 1em; }
.documentation-code strong { color:#000; }


.documentation-option-type-click {text-align:left; 
   font-family: Verdana,Arial,sans-serif;
   font-size: 13px;
   color:#0b559b; cursor: pointer;
     -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.documentation-option-type-click:hover {color:#00a2e8; cursor: pointer;}

.documentation-table {font-family: Verdana,Arial,sans-serif;
   font-size: 13px; text-align:left; vertical-align:top; float: left; width: 100%; }
.documentation-table th {width: 33%; vertical-align:top; text-align:left; }
.documentation-table td {width: 33%; vertical-align:top; text-align:left; }

